/*primary font*/
/*colors*/
/*link*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

html, body {
  width: 100%;
  height: 100%;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #000;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none; }
  html.overlayed, body.overlayed {
    overflow: hidden !important; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  border: 0; }

a {
  display: inline-block;
  text-decoration: none;
  color: #305496;
  transition: .2s;
  position: relative; }
  a:hover, a:focus {
    text-decoration: none;
    color: #305496; }

main {
  min-height: 100vh;
  overflow: hidden; }

input,
button,
textarea,
select {
  font-family: "Roboto", sans-serif; }

.none,
.hidden {
  display: none; }

.adaptive {
  display: block;
  width: 100%;
  height: auto;
  margin: 0; }

/*cover image*/
.image-cover {
  display: block;
  position: relative;
  padding-top: 100%;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }
  .image-cover img {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
    .image-cover img.vertical {
      top: 50%;
      left: 0;
      height: auto;
      width: 100%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
  .image-cover.large-image {
    padding-top: 50.7%;
    margin: 35px 0; }
    .image-cover.large-image.spaced-top {
      margin-top: 0; }
    .image-cover.large-image.spaced-both {
      margin-bottom: 10px; }

.btn {
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  border: 0;
  font-weight: 400;
  min-width: 192px;
  height: 37px;
  line-height: 37px;
  box-shadow: 2px 4px 8px -5px rgba(0, 0, 0, 0.75);
  transition: .3s; }
  .btn:hover {
    box-shadow: none; }

.btn.success-btn {
  color: #43a047;
  border: 1px solid #71c475;
  background-color: #fff; }
  .btn.success-btn:hover {
    color: #fff;
    background-color: #71c475; }
  .btn.success-btn:active {
    color: #fff;
    background-color: #43a047; }
  .btn.success-btn.btn-inverse {
    color: #fff;
    background-color: #43a047; }

.btn.link-btn {
  box-shadow: none;
  text-transform: none;
  min-width: auto; }

.btn-block {
  font-size: 0;
  margin: 25px -20px; }
  .btn-block .part {
    display: inline-block;
    width: 50%;
    padding: 0 20px; }

.btn.cancel-btn {
  border: 1px solid #d9dada;
  background-color: #f4f4f4;
  color: #9e9e9e; }
  .btn.cancel-btn:hover {
    color: #fff;
    background-color: #9e9e9e;
    border-color: #9e9e9e; }
  .btn.cancel-btn:active {
    background-color: #919191;
    border-color: #919191; }

.form-group {
  margin: 4px 0; }
  .form-group.error .input {
    border-color: #ffb8a2; }
  .form-group.spaced {
    margin-bottom: 15px; }
  .form-group .label {
    color: #9e9e9e;
    font-weight: 400;
    font-size: 14px; }
  .form-group .input {
    border: 2px solid #d9dada;
    padding: 10px;
    color: #000;
    font-weight: 300;
    font-size: 13px;
    display: block;
    width: 100%; }
    .form-group .input.small {
      max-width: 110px; }
  .form-group .textarea {
    resize: none;
    height: 50px; }
    .form-group .textarea.large {
      height: 75px; }
  .form-group .helper {
    position: relative;
    display: inline-block;
    width: auto; }
    .form-group .helper .input {
      padding-right: 38px; }
    .form-group .helper .inner {
      position: absolute;
      right: 5px;
      top: 11px;
      font-weight: 300;
      font-size: 12px; }
    .form-group .helper .after {
      position: absolute;
      left: 100%;
      top: 11px;
      font-weight: 300;
      font-size: 12px;
      color: #9e9e9e;
      margin-left: 5px; }

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px; }

.section {
  padding: 30px 0; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?vlm1dc");
  src: url("../fonts/icomoon/icomoon.eot?vlm1dc#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?vlm1dc") format("truetype"), url("../fonts/icomoon/icomoon.woff?vlm1dc") format("woff"), url("../fonts/icomoon/icomoon.svg?vlm1dc#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-question:before {
  content: "\e903"; }

.icon-question-full:before {
  content: "\e904"; }

.icon-photo:before {
  content: "\e907"; }

.icon-star:before {
  content: "\e908"; }

.icon-sum .path1:before {
  content: "\e900";
  color: #455a64; }

.icon-sum .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: black; }

.icon-cancel:before {
  content: "\e902"; }

.icon-info-full:before {
  content: "\e905"; }

.icon-info:before {
  content: "\e906"; }

.icon-right-arrow:before {
  content: "\e909"; }

.icon-star-full:before {
  content: "\e90a"; }

.popup-inner {
  font-size: 0;
  text-align: left; }
  .popup-inner .form-part {
    height: 626px;
    font-weight: 300;
    line-height: 1.6;
    display: inline-block;
    vertical-align: top;
    width: 58%;
    border-right: 1px solid #e0e1e1;
    box-shadow: 4px 0px 8px -5px rgba(0, 0, 0, 0.75); }
  .popup-inner .message-part {
    height: 626px;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.6;
    display: inline-block;
    vertical-align: top;
    width: 42%; }

/*.form-part */
.popup-inner .form-part {
  padding: 0 20px; }
  .popup-inner .form-part .caption-wrap {
    padding: 0 10px;
    display: inline-block;
    vertical-align: middle;
    width: 150px;
    font-size: 13px; }
    .popup-inner .form-part .caption-wrap.top {
      vertical-align: top; }
  .popup-inner .form-part .info-wrap {
    padding: 0 10px;
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 150px); }
    .popup-inner .form-part .info-wrap.top {
      vertical-align: top; }
    .popup-inner .form-part .info-wrap .summ-count {
      display: inline-block;
      vertical-align: middle;
      width: 95px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 15px;
      font-weight: 300;
      color: #000; }
      .popup-inner .form-part .info-wrap .summ-count .icon {
        color: #b9bbbc;
        font-size: 14px; }
    .popup-inner .form-part .info-wrap .progress {
      display: inline-block;
      vertical-align: middle;
      width: calc(100% - 105px); }
    .popup-inner .form-part .info-wrap .part-list {
      width: 100%;
      table-layout: fixed;
      border-collapse: collapse; }
      .popup-inner .form-part .info-wrap .part-list thead {
        font-size: 14px;
        height: 31px;
        color: #9e9e9e;
        text-align: center;
        line-height: 1.1; }
        .popup-inner .form-part .info-wrap .part-list thead th {
          padding: 10px 0;
          font-weight: 300; }
          .popup-inner .form-part .info-wrap .part-list thead th:first-child {
            text-align: left;
            width: 60px; }
      .popup-inner .form-part .info-wrap .part-list tbody td {
        text-align: center; }
      .popup-inner .form-part .info-wrap .part-list .date {
        font-size: 14px;
        color: #000; }
        .popup-inner .form-part .info-wrap .part-list .date.lighten {
          color: #9e9e9e; }
      .popup-inner .form-part .info-wrap .part-list .input {
        max-width: 55px;
        display: inline-block;
        padding-right: 5px; }
      .popup-inner .form-part .info-wrap .part-list.spaced {
        margin-top: 15px; }
  .popup-inner .form-part .header {
    position: relative;
    margin-bottom: 20px; }
    .popup-inner .form-part .header .number {
      color: #fff;
      font-weight: 400;
      font-size: 16px;
      background-color: #f9a825;
      padding: 5px 15px;
      display: inline-block;
      margin-left: -30px;
      margin-top: -4px; }

/*message*/
.popup-inner .message-part {
  padding: 0 15px;
  padding-bottom: 55px;
  height: 100%;
  position: relative; }
  .popup-inner .message-part .message-inner {
    padding: 55px 0 25px; }
  .popup-inner .message-part .inner-scroll {
    height: 490px;
    overflow: hidden;
    position: relative;
    padding-right: 25px;
    margin-right: -5px; }
  .popup-inner .message-part .message-main {
    font-size: 13px;
    color: #58595b;
    margin: 0 0 20px; }
    .popup-inner .message-part .message-main .inner {
      background-color: #ddedfb;
      padding: 15px;
      line-height: 1.2;
      border-radius: 12px;
      position: relative;
      box-shadow: 1px 1px 2px #faf9f6;
      position: relative; }
      .popup-inner .message-part .message-main .inner:after {
        content: '';
        position: absolute;
        border: 10px solid transparent;
        border-right: 10px solid #ddedfb;
        top: 100%;
        right: 30px;
        margin-top: -10px; }
      .popup-inner .message-part .message-main .inner img {
        max-width: 100%; }
    .popup-inner .message-part .message-main.send .inner {
      background-color: #fef2df; }
      .popup-inner .message-part .message-main.send .inner:after {
        border-left: 10px solid #fef2df;
        border-right-color: transparent;
        top: 100%;
        left: 30px;
        right: auto;
        margin-top: -10px; }
    .popup-inner .message-part .message-main .details {
      font-size: 0; }
      .popup-inner .message-part .message-main .details .date {
        padding: 7px 40px 0;
        display: inline-block;
        width: 50%;
        vertical-align: top;
        color: #bdbdbd;
        font-size: 11px; }
        .popup-inner .message-part .message-main .details .date ~ .name {
          text-align: right; }
      .popup-inner .message-part .message-main .details .name {
        padding: 7px 40px 0;
        display: inline-block;
        width: 50%;
        vertical-align: top;
        color: #bdbdbd;
        font-size: 11px; }
        .popup-inner .message-part .message-main .details .name ~ .date {
          text-align: right; }
  .popup-inner .message-part .message-form {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 40px; }
    .popup-inner .message-part .message-form .input {
      padding-right: 90px; }
    .popup-inner .message-part .message-form .input-file {
      position: absolute;
      opacity: 0;
      visibility: hidden; }
    .popup-inner .message-part .message-form .file-label {
      color: #9e9e9e;
      position: absolute;
      right: 40px;
      top: 4px;
      line-height: 43px;
      font-size: 18px;
      cursor: pointer;
      width: 40px;
      height: 38px;
      transition: color .3s; }
      .popup-inner .message-part .message-form .file-label:hover {
        color: #000; }
    .popup-inner .message-part .message-form .btn {
      position: absolute;
      right: -1px;
      top: 4px;
      width: 40px;
      height: 38px;
      min-width: 40px;
      color: #fff;
      background-color: #43a047;
      font-size: 18px; }
      .popup-inner .message-part .message-form .btn:hover {
        background-color: #71c475; }

.popup {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: nowrap;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  transition: .3s;
  font-size: 0;
  opacity: 0;
  display: none;
  padding: 15px; }
  .popup:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%; }
  .popup .close-popup {
    position: absolute;
    z-index: 2;
    width: 32px;
    height: 32px;
    line-height: 32px;
    bottom: 100%;
    left: 100%;
    margin: 0 0 -15px -15px;
    border-radius: 0;
    border: none;
    color: #b9bbbc;
    cursor: pointer;
    background: transparent;
    transition: .2s;
    font-size: 32px;
    background-color: #fff;
    border-radius: 50%; }
    .popup .close-popup:hover {
      color: #ff5722; }
  .popup > .inner {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    padding: 0;
    max-width: 855px;
    box-shadow: 2px 4px 8px -5px rgba(0, 0, 0, 0.75);
    border: 1px solid #e0e1e1;
    background-color: #fff;
    white-space: normal;
    position: relative;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    opacity: 0;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px); }
    .popup > .inner:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 10px; }
  .popup.active {
    opacity: 1; }
    .popup.active .inner {
      transition-delay: .2s;
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0); }

.progress {
  margin: 35px 0 35px;
  height: 2px;
  margin-left: 10px;
  background-color: #f9a825;
  position: relative; }
  .progress .left-point {
    font-size: 11px;
    color: #43a047;
    position: absolute;
    left: 0;
    top: -35px;
    width: 50%;
    line-height: 35px; }
    .progress .left-point .count {
      font-size: 15px; }
    .progress .left-point:before {
      height: 8px;
      width: 8px;
      background-color: #43a047;
      content: '';
      display: inline-block;
      position: absolute;
      border-radius: 50%;
      left: 0;
      border: 1px solid #fff;
      -webkit-transform: translateX(-2px) translateY(31px);
      transform: translateX(-2px) translateY(31px); }
  .progress .right-point {
    font-size: 11px;
    color: #f9a825;
    position: absolute;
    right: 0;
    top: -35px;
    text-align: right;
    width: 50%;
    line-height: 35px; }
    .progress .right-point:before {
      height: 8px;
      width: 8px;
      background-color: #f9a825;
      content: '';
      position: absolute;
      display: inline-block;
      border-radius: 50%;
      right: 0;
      border: 1px solid #fff;
      -webkit-transform: translateX(2px) translateY(31px);
      transform: translateX(2px) translateY(31px); }
    .progress .right-point .count {
      font-size: 15px; }
  .progress .progress-line {
    height: 2px;
    background-color: #43a047;
    position: absolute;
    top: 0;
    left: 0; }

/*
* Container style
*/
.ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto; }

/*
* Scrollbar rail styles
*/
.ps__rail-x {
  display: none;
  opacity: 0;
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  height: 15px;
  /* there must be 'bottom' or 'top' for ps__rail-x */
  bottom: 0px;
  /* please don't change 'position' */
  position: absolute; }

.ps__rail-y {
  display: none;
  opacity: 0;
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  width: 15px;
  /* there must be 'right' or 'left' for ps__rail-y */
  right: 0;
  /* please don't change 'position' */
  position: absolute; }

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  display: block;
  background-color: transparent; }

.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
  opacity: 0.6; }

.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  background-color: #eee;
  opacity: 0.9; }

/*
* Scrollbar thumb styles
*/
.ps__thumb-x {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color .2s linear, height .2s ease-in-out;
  -webkit-transition: background-color .2s linear, height .2s ease-in-out;
  height: 6px;
  /* there must be 'bottom' for ps__thumb-x */
  bottom: 2px;
  /* please don't change 'position' */
  position: absolute; }

.ps__thumb-y {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color .2s linear, width .2s ease-in-out;
  -webkit-transition: background-color .2s linear, width .2s ease-in-out;
  width: 6px;
  /* there must be 'right' for ps__thumb-y */
  right: 2px;
  /* please don't change 'position' */
  position: absolute; }

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
  background-color: #999;
  height: 11px; }

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  background-color: #999;
  width: 11px; }

/* MS supports */
@supports (-ms-overflow-style: none) {
  .ps {
    overflow: auto !important; } }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps {
    overflow: auto !important; } }

/* custom */
.ps__rail-y {
  opacity: 1; }

.ps__thumb-y {
  background-color: #9e9e9e;
  right: -7px;
  height: 17px !important;
  width: 17px !important;
  box-shadow: 0 0 1px #000;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: -5px 0 0 5px; }

.ps:hover > .ps__rail-y {
  opacity: 1; }

.ps .ps__rail-y:hover > .ps__thumb-y, .ps .ps__rail-y.ps--clicking > .ps__thumb-y {
  width: 6px;
  background-color: #2a4983; }

.ps--active-y > .ps__rail-y {
  background-color: #9e9e9e;
  width: 2px;
  margin-right: 8px;
  margin-top: 6px; }

.status-bar {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  height: 33px;
  line-height: 33px; }
  .status-bar.warning {
    background-color: #f9a825; }
  .status-bar.success {
    background-color: #43a047; }
  .status-bar.primary {
    background-color: #305496; }
  .status-bar.danger {
    background-color: #ff5722; }
  .status-bar.gray {
    background-color: #808080; }
  .status-bar.teal {
    background-color: #006699; }

.tooltip-wrap {
  position: relative;
  padding-right: 25px;
  display: inline-block; }
  .tooltip-wrap .action-btn {
    position: relative;
    padding: 0 35px 0 30px;
    line-height: 1; }
    .tooltip-wrap .action-btn .icon-star,
    .tooltip-wrap .action-btn .icon-star-full {
      left: 0;
      right: auto;
      color: #f9a825;
      font-size: 20px;
      transition: opacity .3s; }
    .tooltip-wrap .action-btn .icon.clicked {
      opacity: 0; }
    .tooltip-wrap .action-btn .icon.on {
      opacity: 1; }
    .tooltip-wrap .action-btn.clicked .icon.clicked {
      opacity: 1; }
    .tooltip-wrap .action-btn.clicked .icon.on {
      opacity: 0; }
  .tooltip-wrap .anchor-tooltip:hover ~ .tooltip-inner {
    opacity: 1;
    visibility: visible; }
  .tooltip-wrap .anchor-tooltip:hover .icon.active {
    opacity: 0; }
  .tooltip-wrap .anchor-tooltip:hover .icon.hover {
    opacity: 1; }
  .tooltip-wrap .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: opacity .3s; }
    .tooltip-wrap .icon.active {
      opacity: 1; }
    .tooltip-wrap .icon.hover {
      opacity: 0; }
  .tooltip-wrap .icon-question,
  .tooltip-wrap .icon-question-full {
    color: #ff5722; }
  .tooltip-wrap .tooltip-inner {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    color: #fff;
    line-height: 1.2;
    padding: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    width: 100%;
    font-size: 12px; }
