* {
  padding: 0;
  margin: 0;
  outline: none !important;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  color: #000;
  font-family: "Open Sans", sans-serif; }
  html.overlayed, body.overlayed {
    overflow: hidden; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

input::-ms-clear {
  display: none !important; }

main {
  overflow: hidden; }

a {
  color: black;
  -webkit-transition: .2s;
  transition: .2s; }
  a:hover, a:active {
    color: #bd10e0;
    text-decoration: none; }
  a:focus {
    text-decoration: none;
    color: #000; }

address {
  font-style: normal; }

button,
input,
select {
  font-family: "Open Sans", sans-serif; }

.img-adaptive {
  display: block;
  width: 100%;
  height: auto; }

.clear {
  list-style: none;
  margin: 0;
  padding: 0; }

.clearfix:after {
  content: '';
  clear: both;
  display: table; }

.verticaly-outer {
  display: inline-block;
  vertical-align: middle; }
  .verticaly-outer:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle; }
  .verticaly-outer .inner {
    display: inline-block;
    vertical-align: middle; }

.verticaly-middle {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%; }
  .verticaly-middle .inner {
    display: table-cell;
    vertical-align: middle; }

.image-cover {
  position: relative;
  padding-top: 100%;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }
  .image-cover img {
    position: absolute;
    width: auto;
    height: auto;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    max-width: 100%;
    max-height: 100%; }
  .image-cover.vertical img {
    top: 50%;
    left: 0;
    height: auto;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

.uppercase {
  text-transform: uppercase; }

.container {
  max-width: 1470px; }

.printed-wrap {
  position: relative; }
  .printed-wrap .printed {
    opacity: 0; }
    .printed-wrap .printed.show {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 1; }

.page-main .inner {
  background-color: #fff; }

.page-main.colored {
  background-color: rgba(189, 16, 224, 0.1); }

.section {
  padding: 40px 0; }
  .section.spaced-top {
    padding-top: 55px; }
  .section .outer {
    padding: 0 96px; }
    .section .outer.primary-back {
      position: relative; }
      .section .outer.primary-back:before {
        position: absolute;
        background-color: rgba(189, 16, 224, 0.7);
        z-index: 1;
        content: '';
        left: 96px;
        top: 78%;
        height: 192px;
        width: -webkit-calc(100% - 96px);
        width: calc(100% - 96px);
        right: 0; }
      .section .outer.primary-back .paragraph,
      .section .outer.primary-back .section-title,
      .section .outer.primary-back .btn {
        position: relative;
        z-index: 1; }

.section-title {
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  font-weight: bold;
  margin: 0 0 42px; }
  .section-title span {
    padding-bottom: 50px;
    display: inline-block;
    position: relative; }
    .section-title span:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 16px;
      width: 208px; }
  .section-title.gray-line span:after {
    background-color: #ccc; }
  .section-title.yellow-line span:after {
    background-color: #f8da1c; }
  .section-title.spaced-top {
    margin-top: 65px; }
  .section-title.small-title {
    font-family: "Open Sans", sans-serif;
    font-size: 36px;
    font-weight: bold; }

.image-cover {
  position: relative;
  z-index: 2; }
  .image-cover.colored:after {
    position: absolute;
    width: 70%;
    padding-top: 70%;
    content: '';
    background-color: #ccc;
    left: 10%;
    bottom: 15%;
    right: 0; }
  .image-cover.colored:before {
    position: absolute;
    padding-top: 20%;
    background-color: rgba(189, 16, 224, 0.7);
    z-index: 1;
    content: '';
    left: 10%;
    bottom: 37%;
    right: 0; }
  .image-cover.to-right {
    margin-right: -96px;
    float: right;
    width: 50%;
    padding-top: 50%; }
    .image-cover.to-right img {
      left: auto;
      right: 0;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
      z-index: 2; }
  .image-cover.to-left {
    margin: 0 48px 48px -96px;
    float: left;
    width: 78%;
    padding-top: 50%; }
    .image-cover.to-left img {
      left: 0;
      right: auto;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
      z-index: 2;
      width: 100%; }
  .image-cover.half {
    width: 50%;
    display: inline-block;
    padding-top: 50%; }
    .image-cover.half img {
      position: absolute;
      width: auto;
      height: 100%;
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      max-width: none;
      max-height: none; }

.spaced-top {
  margin-top: 55px; }

.paragraph {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.67;
  margin: 15px 0; }

.large-title {
  font-family: "Open Sans", sans-serif;
  font-size: 64px;
  font-weight: bold;
  text-align: center; }

.gray-section .spaced-right {
  padding-left: 64px;
  padding-bottom: 155px;
  position: relative; }
  .gray-section .spaced-right:after {
    position: absolute;
    padding-top: 20%;
    background-color: #e6e6e6;
    z-index: 1;
    content: '';
    bottom: 0;
    left: 0;
    right: -96px;
    top: -30px; }

.gray-section .bottom-line:before {
  position: absolute;
  height: 192px;
  background-color: rgba(189, 16, 224, 0.7);
  z-index: 2;
  content: '';
  left: 0;
  bottom: 0;
  width: 72%; }

.gray-section .btn {
  position: absolute;
  z-index: 2;
  right: 96px;
  bottom: 80px; }

.gray-section .paragraph,
.gray-section .section-title {
  position: relative;
  z-index: 2; }

/*Federico*/
@font-face {
  font-family: 'Federico';
  src: url("../fonts/federico/Federico.eot");
  src: local("../fonts/federico/Federico"), url("../fonts/federico/Federico.eot?#iefix") format("embedded-opentype"), url("../fonts/federico/Federico.woff2") format("woff2"), url("../fonts/federico/Federico.woff") format("woff"), url("../fonts/federico/Federico.ttf") format("truetype"), url("../fonts/federico/Federico.svg#Federico") format("svg");
  font-weight: normal;
  font-style: normal; }

/* componemts */
.btn {
  font-size: 16px;
  text-align: center;
  border: 0;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  letter-spacing: 1px;
  outline: none;
  height: 40px;
  min-width: 40px;
  line-height: 40px;
  display: inline-block;
  -webkit-transition: color .3s, background-color .3s;
  transition: color .3s, background-color .3s; }
  .btn:hover, .btn:focus, .btn:active {
    color: #fff; }

.btn.btn-link {
  background-color: transparent;
  color: #f8da1c;
  letter-spacing: 0; }
  .btn.btn-link:hover {
    color: #000; }
  .btn.btn-link .text {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 1px;
    margin-right: 10px; }

.spaced-btn {
  margin-top: 155px; }

.btn.btn-yellow {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: center;
  color: #000000;
  background-color: #f8e71c;
  text-transform: uppercase;
  height: 80px;
  line-height: 81px; }
  .btn.btn-yellow:hover {
    background-color: #bd10e0; }

.btn.btn-block {
  width: 100%;
  display: block; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?twpcle");
  src: url("../fonts/icomoon/icomoon.eot?twpcle#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?twpcle") format("truetype"), url("../fonts/icomoon/icomoon.woff?twpcle") format("woff"), url("../fonts/icomoon/icomoon.svg?twpcle#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-right-arrow:before {
  content: "\e900"; }

.icon-google-plus:before {
  content: "\e901"; }

.icon-instagram:before {
  content: "\e902"; }

.icon-twitter:before {
  content: "\e903"; }

.icon-tumbler:before {
  content: "\e904"; }

.icon-linkedin:before {
  content: "\e905"; }

.icon-facebook:before {
  content: "\e906"; }

.icon-down-arrow:before {
  content: "\e907"; }

.mouse-scroll {
  display: inline-block;
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
  .mouse-scroll .mouse {
    position: relative;
    display: block;
    width: 30px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 23px; }
    .mouse-scroll .mouse:before {
      content: '';
      position: absolute;
      display: block;
      top: 7px;
      left: 6px;
      width: 8px;
      height: 9px;
      border-right: 2px solid #fff; }
    .mouse-scroll .mouse .mouse-movement {
      position: absolute;
      display: block;
      top: 65px;
      left: 8px;
      width: 10px;
      height: 10px;
      border-bottom: 2px solid #fff;
      border-right: 2px solid #fff;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-animation: scroll-ani 2s linear infinite;
      animation: scroll-ani 2s linear infinite; }
      .mouse-scroll .mouse .mouse-movement:before {
        content: '';
        position: absolute;
        display: block;
        top: -5px;
        left: -5px;
        width: 8px;
        height: 8px;
        border-bottom: 2px solid #fff;
        opacity: .8;
        border-right: 2px solid #fff; }
  .mouse-scroll:hover {
    opacity: .8;
    bottom: 40px; }

@-webkit-keyframes scroll-ani {
  0% {
    opacity: 1;
    top: 55px; }
  15% {
    opacity: 1;
    top: 65px; }
  50% {
    opacity: 0;
    top: 65px; }
  100% {
    opacity: 0;
    top: 55px; } }

@keyframes scroll-ani {
  0% {
    opacity: 1;
    top: 55px; }
  15% {
    opacity: 1;
    top: 65px; }
  50% {
    opacity: 0;
    top: 65px; }
  100% {
    opacity: 0;
    top: 55px; } }

@media screen and (max-width: 991px) {
  .mouse-scroll {
    bottom: 100px; } }

@media screen and (max-width: 479px) {
  .mouse-scroll {
    bottom: 50px; } }

.google-map {
  height: 460px; }

.map-cover {
  padding-top: 80px; }

.main-footer {
  color: #fff;
  background-image: url(../temp/footer.jpg);
  padding: 200px 0 25px;
  text-align: center;
  overflow: hidden; }
  .main-footer .link {
    color: #fff; }
    .main-footer .link:hover {
      color: #bd10e0; }
  .main-footer .paragraph {
    color: #fff; }

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; }
  .main-header .inner {
    padding: 16px 0; }
  .main-header .main-nav {
    text-align: center; }
    .main-header .main-nav .nav-list {
      font-size: 0; }
      .main-header .main-nav .nav-list li {
        display: inline-block;
        width: 128px;
        border-right: 1px solid #000;
        opacity: 0;
        -webkit-transform: translateY(25px);
        -ms-transform: translateY(25px);
        transform: translateY(25px);
        -webkit-transition: opacity .5s, -webkit-transform .5s;
        transition: opacity .5s, -webkit-transform .5s;
        transition: opacity .5s, transform .5s;
        transition: opacity .5s, transform .5s, -webkit-transform .5s; }
        .main-header .main-nav .nav-list li:last-child {
          border-right: none; }
        .main-header .main-nav .nav-list li a {
          padding: 5px 0;
          font-family: "Open Sans", sans-serif;
          font-size: 14px;
          font-weight: 300;
          text-align: center;
          display: block; }
        .main-header .main-nav .nav-list li.active a {
          background-color: rgba(240, 240, 240, 0.5);
          font-weight: bold;
          color: #bd10e0; }
      .main-header .main-nav .nav-list li:nth-child(1) {
        -webkit-transition-delay: 0.04s;
        transition-delay: 0.04s; }
      .main-header .main-nav .nav-list li:nth-child(2) {
        -webkit-transition-delay: 0.08s;
        transition-delay: 0.08s; }
      .main-header .main-nav .nav-list li:nth-child(3) {
        -webkit-transition-delay: 0.12s;
        transition-delay: 0.12s; }
      .main-header .main-nav .nav-list li:nth-child(4) {
        -webkit-transition-delay: 0.16s;
        transition-delay: 0.16s; }
      .main-header .main-nav .nav-list li:nth-child(5) {
        -webkit-transition-delay: 0.2s;
        transition-delay: 0.2s; }

/*animated*/
.main-header.animated .main-nav .nav-list li {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0); }

.form-section .form-title {
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 1px;
  padding-bottom: 37px;
  border-bottom: solid 2px #000000; }

.input {
  display: block;
  width: 100%;
  border: 1px solid transparent;
  height: 48px;
  background-color: #f5f5f5;
  padding: 6px 15px 10px;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-align: center;
  color: #000000; }
  .input::-webkit-input-placeholder {
    color: #000; }
  .input:-moz-placeholder {
    color: #000; }
  .input::-moz-placeholder {
    color: #000; }
  .input:-ms-input-placeholder {
    color: #000; }
  .input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px #bd10e0 inset; }
  .input:hover {
    background-color: gainsboro; }
  .input:focus::-webkit-input-placeholder {
    color: transparent; }
  .input:focus:-moz-placeholder {
    color: transparent; }
  .input:focus::-moz-placeholder {
    color: transparent; }
  .input:focus:-ms-input-placeholder {
    color: transparent; }

.form-group {
  position: relative;
  margin: 14px 0 37px;
  padding-bottom: 14px;
  border-bottom: solid 2px #000000; }
  .form-group.error .input {
    color: #cc0000;
    border-color: #cc0000; }

.success-fadein {
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
  font-size: 22px;
  line-height: 1.4;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 5;
  display: none; }

.social-list {
  font-size: 0;
  margin: 0 -20px 40px;
  position: relative;
  padding: 0 0 60px; }
  .social-list:after {
    content: '';
    position: absolute;
    width: 127px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.7);
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .social-list li {
    display: inline-block; }
    .social-list li a {
      font-size: 30px;
      padding: 0 20px;
      color: #fff; }
      .social-list li a:hover {
        color: #bd10e0; }

/* sections */
.main-screen {
  padding-bottom: 170px;
  position: relative;
  background-image: url(../temp/main-screen.jpg);
  background-attachment: fixed; }
  .main-screen:after {
    content: '';
    background-color: rgba(245, 0, 249, 0.34);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0; }
  .main-screen .printed {
    -webkit-transform: rotate(-6deg);
    -ms-transform: rotate(-6deg);
    transform: rotate(-6deg);
    font-family: "federico";
    font-size: 150px;
    line-height: 0.54;
    letter-spacing: 1.6px;
    text-align: center; }
  .main-screen .printed-wrap {
    display: inline-block; }
  .main-screen .skewed-bg {
    padding-top: 810px;
    position: relative;
    overflow: hidden;
    -webkit-transform: skew(0deg, -5deg);
    -ms-transform: skew(0deg, -5deg);
    transform: skew(0deg, -5deg);
    margin-top: -65px;
    z-index: 2; }
    .main-screen .skewed-bg .content {
      -webkit-transform: skew(0deg, 5deg);
      -ms-transform: skew(0deg, 5deg);
      transform: skew(0deg, 5deg);
      text-align: center;
      position: absolute;
      z-index: 2;
      top: 42%;
      left: 0;
      text-align: center;
      width: 100%; }
  .main-screen .logo-holder {
    max-width: 260px;
    display: block;
    position: absolute;
    left: 60px;
    bottom: 200px;
    z-index: 1; }
    .main-screen .logo-holder img {
      max-width: 100%; }
  .main-screen .scroll-bottom {
    position: absolute;
    bottom: 200px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 2; }

.skew-nav {
  -webkit-transform: skew(0deg, -5deg);
  -ms-transform: skew(0deg, -5deg);
  transform: skew(0deg, -5deg);
  margin-top: -170px;
  background-color: #fff;
  overflow: hidden; }
  .skew-nav .nav-list {
    font-size: 0;
    margin: 0 -2px; }
    .skew-nav .nav-list li {
      display: inline-block;
      width: 25%;
      padding: 0 2px;
      overflow: hidden;
      -webkit-transform: translateZ(0);
      transform: translateZ(0); }
      .skew-nav .nav-list li .outer {
        padding-bottom: 60px;
        overflow: hidden; }
      .skew-nav .nav-list li .bg-cover {
        background-size: cover;
        position: relative;
        -webkit-transition: -webkit-transform .3s;
        transition: -webkit-transform .3s;
        transition: transform .3s;
        transition: transform .3s, -webkit-transform .3s;
        -webkit-transition: .3s;
        transition: .3s; }
        .skew-nav .nav-list li .bg-cover:after {
          content: '';
          background-color: rgba(245, 0, 249, 0.34);
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          right: 0;
          opacity: 0;
          -webkit-transition: opacity .3s;
          transition: opacity .3s; }
      .skew-nav .nav-list li a {
        padding: 120px 0 240px;
        font-family: "Open Sans", sans-serif;
        font-size: 60px;
        line-height: 1.5;
        text-align: center;
        display: block;
        position: relative;
        z-index: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0); }
        .skew-nav .nav-list li a .text {
          -webkit-transform: skew(0deg, 5deg);
          -ms-transform: skew(0deg, 5deg);
          transform: skew(0deg, 5deg);
          display: block; }
      .skew-nav .nav-list li:hover .bg-cover {
        -webkit-transform: scale(1.1) translateZ(0);
        transform: scale(1.1) translateZ(0); }
        .skew-nav .nav-list li:hover .bg-cover:after {
          opacity: 1; }
      .skew-nav .nav-list li:hover a {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
        color: #000; }
    .skew-nav .nav-list li:nth-child(1) .bg-cover {
      background-image: url(../temp/item1.jpg); }
    .skew-nav .nav-list li:nth-child(1) a span {
      -webkit-transform: translateY(30px) skew(0deg, 5deg);
      -ms-transform: translateY(30px) skew(0deg, 5deg);
      transform: translateY(30px) skew(0deg, 5deg); }
    .skew-nav .nav-list li:nth-child(2) .bg-cover {
      background-image: url(../temp/item2.jpg); }
    .skew-nav .nav-list li:nth-child(2) a span {
      -webkit-transform: translateY(60px) skew(0deg, 5deg);
      -ms-transform: translateY(60px) skew(0deg, 5deg);
      transform: translateY(60px) skew(0deg, 5deg); }
    .skew-nav .nav-list li:nth-child(3) .bg-cover {
      background-image: url(../temp/item3.jpg); }
    .skew-nav .nav-list li:nth-child(3) a span {
      -webkit-transform: translateY(90px) skew(0deg, 5deg);
      -ms-transform: translateY(90px) skew(0deg, 5deg);
      transform: translateY(90px) skew(0deg, 5deg); }
    .skew-nav .nav-list li:nth-child(4) .bg-cover {
      background-image: url(../temp/item4.jpg); }
    .skew-nav .nav-list li:nth-child(4) a span {
      -webkit-transform: translateY(120px) skew(0deg, 5deg);
      -ms-transform: translateY(120px) skew(0deg, 5deg);
      transform: translateY(120px) skew(0deg, 5deg); }

.full-section {
  padding-top: 61%;
  position: relative;
  background-image: url(../temp/full-bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  margin: 80px 0 96px; }
  .full-section:after {
    content: '';
    position: absolute;
    top: 80px;
    right: 96px;
    width: 16px;
    height: 208px;
    z-index: 1;
    background-color: #bd10e0; }
  .full-section .middle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    white-space: nowrap;
    text-align: center; }
    .full-section .middle:before {
      content: '';
      height: 100%;
      display: inline-block;
      vertical-align: middle; }
    .full-section .middle .outer {
      white-space: normal;
      display: inline-block;
      vertical-align: middle;
      max-width: 50%; }

.contact-section {
  padding-bottom: 0; }
  .contact-section .outer {
    position: relative; }
    .contact-section .outer:after {
      content: '';
      position: absolute;
      top: 80px;
      left: 96px;
      width: 16px;
      height: 208px;
      z-index: 1;
      background-color: #bd10e0; }
  .contact-section .info-block {
    width: 512px;
    height: 512px;
    background-color: #ffffff;
    text-align: left;
    padding: 45px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2; }
    .contact-section .info-block:after {
      position: absolute;
      background-color: rgba(189, 16, 224, 0.7);
      content: '';
      top: 50%;
      right: 100%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      height: 192px;
      width: 96px; }
