@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?gdm35z');
  src:  url('fonts/icomoon.eot?gdm35z#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?gdm35z') format('truetype'),
    url('fonts/icomoon.woff?gdm35z') format('woff'),
    url('fonts/icomoon.svg?gdm35z#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-card:before {
  content: "\e915";
}
.icon-question:before {
  content: "\e917";
}
.icon-folders:before {
  content: "\e912";
}
.icon-folders-full:before {
  content: "\e913";
}
.icon-catalog-button:before {
  content: "\e911";
}
.icon-logout:before {
  content: "\e908";
}
.icon-filter:before {
  content: "\e906";
}
.icon-download:before {
  content: "\e907";
}
.icon-calendar:before {
  content: "\e900";
}
.icon-caret_bottom:before {
  content: "\e901";
}
.icon-caret_top:before {
  content: "\e902";
}
.icon-caret_right:before {
  content: "\e903";
}
.icon-caret_left:before {
  content: "\e904";
}
.icon-cart:before {
  content: "\e905";
}
.icon-delivery:before {
  content: "\e914";
}
.icon-error:before {
  content: "\e916";
}
.icon-id:before {
  content: "\e91c";
}
.icon-info:before {
  content: "\e91d";
}
.icon-location:before {
  content: "\e91e";
}
.icon-location_full:before {
  content: "\e91f";
}
.icon-mail:before {
  content: "\e920";
}
.icon-minus:before {
  content: "\e921";
}
.icon-phone:before {
  content: "\e922";
}
.icon-phone_full:before {
  content: "\e923";
}
.icon-plus:before {
  content: "\e925";
}
.icon-search:before {
  content: "\e92a";
}
.icon-send:before {
  content: "\e92b";
}
.icon-sort:before {
  content: "\e930";
}
.icon-time_full:before {
  content: "\e932";
}
.icon-user:before {
  content: "\e933";
}
.icon-gallery_all:before {
  content: "\e909";
}
.icon-gallery_photo:before {
  content: "\e90e";
}
.icon-gallery_video:before {
  content: "\e90f";
}
.icon-facebook:before {
  content: "\e90a";
}
.icon-instagram:before {
  content: "\e90b";
}
.icon-telegram:before {
  content: "\e90c";
}
.icon-youtube:before {
  content: "\e90d";
}
.icon-support:before {
  content: "\e918";
}
.icon-catalog_bath:before {
  content: "\e919";
}
.icon-catalog_chair:before {
  content: "\e91a";
}
.icon-catalog_decor:before {
  content: "\e91b";
}
.icon-catalog_doors:before {
  content: "\e924";
}
.icon-catalog_furniture:before {
  content: "\e926";
}
.icon-catalog_inner:before {
  content: "\e927";
}
.icon-catalog_kitchen:before {
  content: "\e928";
}
.icon-catalog_lights:before {
  content: "\e929";
}
.icon-catalog_matherials:before {
  content: "\e92c";
}
.icon-catalog_tag:before {
  content: "\e92d";
}
.icon-gallery_albums:before {
  content: "\e934";
}
.icon-close:before {
  content: "\e910";
}
