@import 'variables.scss';

.button {
	border: 0;
	background-color: transparent;
	cursor: pointer;
	transition: color 0.2s;
	font-family: $font1;
	text-transform: uppercase;
	font-weight: 600;
	padding: 12px 25px;
}

.button.button-bordered {
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	border: 3px solid;
	position: relative;
	padding: 12px 25px;

	&:after {
		content: '';
		position: absolute;
		left: -3px; right: -3px;
		bottom: -3px; top: -3px;
		border: 3px solid;
		transition: transform 0.2s;
	}

	&:hover {

		&:after {
			transform: scaleY(.8) scaleX(0.93);
		}
	}
}

.button.button-white {
	color: $color_white;
	border-color: $color_white;

	&:after,
	&:before {
		color: $color_white;
		border-color: $color_white;
	}
}

.button.button-colored_primary {
	background-color: $color_primary;
	color: $color_white;
	border: 1px solid $color_primary;

	&:hover {
		background-color: $color_secondary_hover;
		border-color: $color_secondary_hover;
	}
}