.page-footer {
	margin-top: 53px;

	.page-footer_content {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.page-footer_copy {
		font-family: $font1;
	}
}

@media (max-width: 993px) {

	.page-footer {

		[class*="col-"] {
			-ms-flex-preferred-size: 100%;
			flex-basis: 100%;
			max-width: 100%;
			width: 100%;
		}

		.page-footer_copy {
			margin-bottom: 15px;
		}
	}
}

@media (max-width: 552px) {

	.page-footer {

		.page-footer_form {
			margin-top: 15px;
		}
	}
}