.page-section.section-services {

	.section-services_item {
		position: relative;
		padding-left: 70px;
		margin-bottom: 60px;
		margin-top: 30px;

		.section-services_item_title {
			font-size: 14px;
			font-family: $font1;
			margin-bottom: 12px;
			text-transform: uppercase;
			position: relative;
			padding-bottom: 3px;

			&:after {
				content: '';
				position: absolute;
				top: 100%; left: 0;
				height: 3px; width: 0;
				transition: width .2s;
				background-color: darken($color_primary, 35%);
			}
		}

		.section-services_item_text {
			font-size: 15px;
			color: $color_text_light;
		}

		.section-services_item_icon {
			color: $color_primary;
			transition: 0.2s;
			font-size: 35px;
			position: absolute;
			left: 0; top: 0;
		}

		&:hover {

			.section-services_item_icon {
				color: darken($color_primary, 35%);
			}

			.section-services_item_title:after {
				width: 60px;
			}
		}
	}
}

@media (max-width: 768px) {

	.page-section.section-services {

		.section-services_item {
			padding-left: 44px;
			margin-bottom: 40px;

			.section-services_item_icon {
				font-size: 24px;
			}
		}
	}
}

@media (max-width: 552px) {

	.page-section.section-services {

		.section-services_item {
			margin-bottom: 20px;
			margin-top: 20px;
		}
	}
}