@import 'variables.scss';

*,
:before,
:after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	outline: none !important;
}

::-moz-focus-inner {
	border: 0;
}

html, body {
	width: 100%; height: 100%;
	font-size: 15px;
	font-family: $font3;
	font-weight: 400;
	background-color: $color_white;
	color: $color_text;
	line-height: 1.42;

	&.overlayed {
		overflow: hidden !important;
	}
}

a {
	display: inline-block;
	text-decoration: none;
	transition: .2s;
	color: $color_secondary;
	position: relative;

	&:hover,
	&:focus {
		text-decoration: none;
		color: lighten($color_secondary, 15%);
	}
}

button,
label {
	cursor: pointer;
}

input,
button,
textarea {
	font-family: $font1;
}

.secondary-font {
	font-family: $font2;
}

.clear {
	padding: 0;
	margin-left: 0;
	list-style: none;
}

.image-cover {
	display: block;
	position: relative;
	padding-top: 100%;
	overflow: hidden;
	transform: translateZ(0);

	img {
		position: absolute;
		top: 0; left: 50%;
		height: 100%; width: auto;
		transform: translateX(-50%);

		&.vertical {
			top: 50%; left: 0;
			height: auto; width: 100%;
			transform: translateY(-50%);
		}
	}
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.bordered-content {
	border-top: 1px solid $color_grey_light;
}

