$font1: 'Montserrat', sans-serif;
$font2: 'Kaushan Script', cursive;
$font3: 'Roboto', sans-serif;

/*colors*/

$color_white: #fff;
$color_primary: #95e1d3;
$color_primary_hover: #eaffd0;
$color_secondary: #f38181;
$color_secondary_hover: #fce38a;
$color_text: #333;
$color_text_light: #999;
$color_grey_light: #e5e5e5;

/*spaces*/

$gutter: 15px;
