.simple-list {
	margin-bottom: 20px;

	li {
		font-size: 12px;
		font-weight: bold;
		padding: 2px 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
	&.uppercase {
		text-transform: uppercase;
	}
	&.primary-color {
		color: $primary;
	}
}