.section {


	.button,
	.form-group,
	.section-title-large,
	.paragraph,
	.details,
	article,
	.tabs,
	.section-title,
	.paragraph,
	.subtitle,
	.feature-card,
	.primary-title, {
		transform: translateY(15px);
		transition: transform .5s;
		opacity: 0;
	}

	.social {
		opacity: 0;
		transition-delay: 0.5s;
		transition: transform .2s;
	}

	li {
		transition: .2s opacity;
		opacity: 0;

		&:first-child + li { animation-delay: .05s }
		&:first-child + * + li { animation-delay: .1s }
		&:first-child + * + * + li { animation-delay: .15s }
		&:first-child + * + * + * + li { animation-delay: .2s }
		&:first-child + * + * + * + * + li { animation-delay: .25s }
		&:first-child + * + * + * + * + * + li { animation-delay: .3s }
		&:first-child + * + * + * + * + * + * + li { animation-delay: .35s }
		&:first-child + * + * + * + * + * + * + * + li { animation-delay: .4s }
		&:first-child + * + * + * + * + * + * + * + * + li { animation-delay: .45s }
		&:first-child + * + * + * + * + * + * + * + * + * + li { animation-delay: .5s }
		&:first-child + * + * + * + * + * + * + * + * + * + * + li { animation-delay: .55s }
		&:first-child + * + * + * + * + * + * + * + * + * + * + * + li { animation-delay: .6s }
		&:first-child + * + * + * + * + * + * + * + * + * + * + * + * + li { animation-delay: .65s }
		&:first-child + * + * + * + * + * + * + * + * + * + * + * + * + * + li { animation-delay: .7s }
		&:first-child + * + * + * + * + * + * + * + * + * + * + * + * + * + * + li { animation-delay: .75s }
		&:first-child + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + li { animation-delay: .8s }
		&:first-child + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + * + li { animation-delay: .85s }
	}

	[class*="col-"] {
		transition: .2s opacity;
		opacity: 0;

		&:first-child + [class*="col-"] { animation-delay: .05s }
		&:first-child + * + [class*="col-"] { animation-delay: .1s }
		&:first-child + * + * + [class*="col-"] { animation-delay: .15s }
		&:first-child + * + * + * + [class*="col-"] { animation-delay: .2s }
		&:first-child + * + * + * + * + [class*="col-"] { animation-delay: .25s }
		&:first-child + * + * + * + * + * + [class*="col-"] { animation-delay: .3s }
		&:first-child + * + * + * + * + * + * + [class*="col-"] { animation-delay: .35s }
	}

	@keyframes fade-in-animation {
		0% { opacity: 0; transform: translateY(10px); }
		100% { opacity: 1; transform: translateY(0);}
	}
}


.section.animated {

	.section-title,
	.subtitle,
	.button,
	.form-group,
	.section-title-large,
	.paragraph,
	.details,
	article,
	.tabs,
	.paragraph,
	.subtitle,
	.image-cover,
	.primary-title {
		transform: translateY(0);
		opacity: 1;
	}

	.scroll-bottom {
		transform: translateY(0) translateX(-15px) translateZ(0);
	}

	li,
	[class*="col-"] {
		animation: fade-in-animation .3s forwards;
	}
}