<div class="col-xs-4 col-sm-6 col-md-4 col-lg-3 mobile-half">
	<div class="card basket">
		<div class="inner">
			<a href="#" class="image-wrap">
				<figure class="image-contain">
					<img src="temp/3.png" alt="">
				</figure>
			</a>
			<a href="#" class="title-wrap">
				<div class="title"><span>Шины MICHELIN 4x4 Diamaris</span></div>
			</a>
			<div class="footer">
				<div class="option">
					<div class="calculator" data-max="999" data-min="1">
						<input type="text" maxlength="3" value="1" v-model="price1">
						<span class="minus disabled">&ndash;</span>
						<span class="plus">+</span>
					</div>
					<div class="price">233222 <span class="currency">руб.</span></div>
				</div>
				<button type="button" class="btn btn-dark basket-btn"><i class="icon icon-basket"></i>В корзину</button>
			</div>
		</div>
	</div>
</div>
<div class="col-xs-4 col-sm-6 col-md-4 col-lg-3 mobile-half">
	<div class="card basket">
		<div class="inner">
			<a href="#" class="image-wrap">
				<figure class="image-contain">
					<img src="temp/3.png" alt="">
				</figure>
			</a>
			<a href="#" class="title-wrap">
				<div class="title"><span>Шины MICHELIN 4x4 Diamaris</span></div>
			</a>
			<div class="footer">
				<div class="option">
					<div class="calculator" data-max="999" data-min="1">
						<input type="text" maxlength="3" value="1" v-model="price1">
						<span class="minus disabled">&ndash;</span>
						<span class="plus">+</span>
					</div>
					<div class="price">233222 <span class="currency">руб.</span></div>
				</div>
				<button type="button" class="btn btn-dark basket-btn"><i class="icon icon-basket"></i>В корзину</button>
			</div>
		</div>
	</div>
</div>
<div class="col-xs-4 col-sm-6 col-md-4 col-lg-3 mobile-half">
	<div class="card basket">
		<div class="inner">
			<a href="#" class="image-wrap">
				<figure class="image-contain">
					<img src="temp/3.png" alt="">
				</figure>
			</a>
			<a href="#" class="title-wrap">
				<div class="title"><span>Шины MICHELIN 4x4 Diamaris</span></div>
			</a>
			<div class="footer">
				<div class="option">
					<div class="calculator" data-max="999" data-min="1">
						<input type="text" maxlength="3" value="1" v-model="price1">
						<span class="minus disabled">&ndash;</span>
						<span class="plus">+</span>
					</div>
					<div class="price">233222 <span class="currency">руб.</span></div>
				</div>
				<button type="button" class="btn btn-dark basket-btn"><i class="icon icon-basket"></i>В корзину</button>
			</div>
		</div>
	</div>
</div>
<div class="col-xs-4 col-sm-6 col-md-4 col-lg-3 mobile-half">
	<div class="card basket">
		<div class="inner">
			<a href="#" class="image-wrap">
				<figure class="image-contain">
					<img src="temp/3.png" alt="">
				</figure>
			</a>
			<a href="#" class="title-wrap">
				<div class="title"><span>Шины MICHELIN 4x4 Diamaris</span></div>
			</a>
			<div class="footer">
				<div class="option">
					<div class="calculator" data-max="999" data-min="1">
						<input type="text" maxlength="3" value="1" v-model="price1">
						<span class="minus disabled">&ndash;</span>
						<span class="plus">+</span>
					</div>
					<div class="price">233222 <span class="currency">руб.</span></div>
				</div>
				<button type="button" class="btn btn-dark basket-btn"><i class="icon icon-basket"></i>В корзину</button>
			</div>
		</div>
	</div>
</div>