.calendar-section {
    background-color: #000;
    color: #cbcbcb;
    padding: 35px 0 75px;
    font-size: 0;

    .list-event {
        width: 68%;
        display: table-cell;
        vertical-align: top;
    }
    .calendar-event {
        width: 31.8%;
        display: table-cell;
        vertical-align: top;
        background-color: #363535;
        border-left: 1px solid #403f3f;
    }
}
.calendar-caption {
    font-size: 12px;

    .perfomance-title {
        font-size: 14px;
        margin: 0;
        color: #fff;
        font-weight: normal;
    }
}

.day-event {
    display: none;
    width: 100%;
    background-color: rgba(#363535, .9);
    margin: 5px 0;

    .calendar-caption {
        vertical-align: top;
        padding: 8px 4px;

        .card-caption-list {
            color: #fff;
        }
    }
    &.active {
        display: block;
    }
}
.month {
    margin: 0;
    font-size: 15px;
    font-family: $c-light;
}
.calendar-title-header {
    position: relative;
    background-color: #185da9;
    color: #fff;
    line-height: 30px;
    height: 30px;

}
.calendar-table {
    border-top: 1px solid #403f3f;
}
.calendar-event {
    border-radius: 4px;
    overflow: hidden;
    margin-top: -30px;
}
.calendar-footer {
    height: 20px;
    background-color: #185da9;
}
.btn-prev {
    border-radius: 50%;
    height: 32px; width: 10px;
    position: absolute;
    top: 50%; left: 30px;
    padding: 0;
    margin: -16px;
    background-color: transparent;
    border: none;
    background-image: url(../images/icons/calendar-arrow.png);
    background-position: 0 center;
    background-repeat: no-repeat;
    cursor: pointer;

    &:hover {
        opacity: .5;
    }
}
.btn-next {
    border-radius: 50%;
    width: 10px; height: 32px;
    position: absolute;
    top: 50%; right: 35px;
    padding: 0;
    margin: -16px;
    background-color: transparent;
    border: none;
    background-image: url(../images/icons/calendar-arrow.png);
    background-position: -14px center;
    background-repeat: no-repeat;
    cursor: pointer;

    &:hover {
        opacity: .5;
    }
}
.calendar-event {
    text-align: center;
    font-size: 16px;
    padding: 0 23px;
    background-color: rgba(#fff, .8);

    
}
.calendar-inner {
    border: 2px solid #185da9;
    border-radius: 4px;
}
.calendar-table {
    height: 179px;
    border-spacing: 2px;
    border-collapse: separate; 
    width: 100%;
    background-color: #fff;

    thead {

        td {
            border: 0;
            line-height: 26px;
            text-align: center;
            border-radius: 4px;
        }
    }

    tbody {

        td {
            border: 1px solid #c7c7c7;
            line-height: 26px;
            text-align: center;
            border-radius: 4px;

            &.active {
                border: 1px solid #185da9;

                &:hover {
                    background-color: #c7c7c7;
                }
            }

            &.current-day {
                background: #185da9;
                border: 1px solid #185da9;
                color: #fff;
            }
        }
    }
}

.event {
    cursor: pointer;
    position: relative;
    background-color: #9dc9e4;
}
.calendar-outer {
    position: relative;
    margin: 0 -10px;
    background-image: url(../images/card5.jpg);
    background-size: 100% 180px;
    background-repeat: no-repeat;
    background-position-y: 30px;
}
.list-event {
    position: absolute;
    z-index: 5;
    left: 0; top: 100%;
    padding: 0 23px;
    width: 100%;
}