.top-bar {
	background-color: $primary-middle;
	color: #fff;
	height: 34px;
	line-height: 34px;
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	z-index: 26;
}
.top-row {
	height: 34px;
}
.bottom-bar {
	padding: 25px 0;
	background-color: rgba(#fff, .9);
}
.city-select-wrap {
	font-size: 0;
}
.city-label {
	position: relative;
	padding-left: 27px;
	font-size: 13px;

	&:before {
		position: absolute;
		content: '';
		height: 19px; width: 19px;
		background-image: url(../images/icons/header-icons.png);
		left: 0; top: -4px;
		background-repeat: no-repeat;
		background-position: -40px center;
	}
}
.wrap-caption {
	@extend .city-label;

	&:before {
		background-position-x: 0;
	}
}
.logout-link {
	@extend .city-label;

	&:before {
		background-position-x: -70px;
	}

}
.user-panel {
	text-align: right;
}
.panel-list {
	margin: 0 -9px;
	font-size: 0;

	li {
		display: inline-block;
		font-size: 13px;
		transition: .3s;

		&:hover {
			color: lighten($primary, 40%);
		}
		a {
			padding: 0 9px;
		}
	}
}
.wrap-select {
	display: inline-block;
	
	.nice-select {
		transition: .3s;

		&:hover {
			color: lighten($primary, 40%);
		}
	}
}
.logo-holder {
	/*padding: 0 30px;*/
	width: 240px;

	img {
		max-width: 100%;
	}
}
.address-holder {
	/*padding: 0 30px;*/
	text-align: right;
	font-size: 17px;
	color: $primary;
}
.main-header {


	.container {
		padding: 0 50px;
	}
}
