.hidden {
    display: none;
}

.draggableChat {
    width: 300px;
    background-color: #fff;
    position: absolute;
    top: 53.5%;
    z-index: 100;
    left: 9.65%;
    border-radius: 3px;
    box-shadow: .5px .87px 15px rgba(94,158,219,.3);
    display: none;
    
    & .chat-head {
        background-color: #76B6EF;
        height: 35px;
        border-radius: 3px 3px 0px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #ECF5FE;
        padding-left: 20px;
        padding-right: 10px;
        padding-top: 2pt;

        & #chatClose {
            background-color: transparent;
            border: none;
            color: #ECF5FE;
            cursor: pointer;
            font-size: 12px;
        }

        & #chatClose:hover {
            color: #FFF;
        }

        & .chat-title {
            font-weight: 600;
            margin-top: 2px;
        }
    }

    & .chat-content {
        height: 290px;
        padding: 0 10px;
        overflow-y: auto;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        margin-bottom: 5px;
        position: relative;

        & .name {
                color: #60A8ED;
                font-size: 10px;
                font-weight: bold;
                margin-right: 5px;
                margin-left: 15px;
            }

        & .time {
            font-size: 10px;
            color: #AAB7CA;
        }

        .received-message {
            margin: 5px;
            width: 97%;

            .textMessage {
                background-color: #F7F7F7;
                //width: 90%;
                width: fit-content;
                border-radius: 3px;
                padding: 5px 10px;
                font-size: 12px;
                color: #434F62;
                word-break: break-all;
            }

            .textMessage::before {
                content: '';
                /* display: block; */
                width: 5px;
                height: 5px;
                background-color: #000;
            }

        }

        .sent-message {
            margin: 5px;
            text-align: right;

            .time {
                margin-right: 15px;
            }

            .textMessage {
                display: inline-block;
                background-color: #F3F9FF;
                width: 90%;
                border-radius: 3px;
                padding: 5px 10px;
                font-size: 12px;
                color: #434F62;
                text-align: left;
                word-break: break-all;
            }

            .textMessage::before {
                content: '';
                /* display: block; */
                width: 5px;
                height: 5px;
                background-color: #000;
            }
            
        }
    }

    & .chat-send-box {
        display: flex;
        margin: 0 10px;
        border-top: 1px solid #EFF4F6;

        & #editMessage {
            width: 90%;
            border: none;
            height: 50px;
            padding: 0 5px;
            color: #323F54;
            font-size: 12px;
        }

        & #sendMessage {
            background: none;
            border: none;
            font-size: 18px;
            color: #479AEB;
            cursor: pointer;
        }
    }
}


/* MEDIA */

@media screen and (max-width: 1860px) {

    .draggableChat {
        top: 59.5%;
        left: 8%;
    }
    
}

@media screen and (max-width: 1367px) {

    .draggableChat {
        top: 69%;
        left: 1%;
    }
    
}

@media screen and (max-width: 1280px) {

    .draggableChat {
        top: 54%;
        left: 1%;
    }
    
}