#warnPopup {
    .icon-box {
        text-align: center;
        margin-bottom: 10px;
    }
    
    .title, .paragraph {
        text-align: center;
        font-size: 20px;
        
    }

    .icon {
        font-size: 200px;
        color: orange;
    }
}