/*primary font*/
$font: 'Ubuntu', sans-serif;
/*secondary font*/

/*link*/
$primary: #ff7a29;
$primary-light: #ff9e63;
$secondary: rgba(#040f24, 0.75);
$danger: #ee451b;
$success: #3ebb93;
$gray: #4a4a4a;
$gray-light: #848484;


$light: 300;
$reg: 400;
$semi: 500;
$bold: 700;