@import '../variables.scss';

.filters-cover {

	.tag-cover {
		display: flex;
		gap: 24px;
		margin-bottom: 24px;
		align-items: end;

		.tag-list {
			display: flex;
			gap: 8px;
			flex: 1;
			width: calc(100% - 120px);
			flex-wrap: wrap;
		}

		.button {
			width: 120px;
		}
	}

	.tag {
		background-color: $color-lotion;
		border: 1px solid $color-cadet-grey;
		border-radius: 4px;
		padding: 2px 48px 2px 16px;
		transition: .2s;
		cursor: pointer;
		position: relative;
		white-space: nowrap;

		&:before {
			content: '\e912';
			font-family: 'icomoon';
			position: absolute;
			right: 16px; top: 3px;
			font-size: 20px;
			position: absolute;
		}

		&:hover {
			background-color: $color-cultured;

			&:before {
				color: $color-error;
			}
		}
	}

	.filter-header {
		margin-bottom: 64px;
		position: relative;
		z-index: 3;

		[data-toggle] {

			.button-icon {
				transition: transform .2s;
			}

			&.opened {

				.button-icon {
					transform: rotate(90deg);
				}
			}
		}
	}

	.filters-inner {
		margin-bottom: 64px;

		.row {
			margin-bottom: 48px;
		}

		.filtered-list {
			max-height: 180px;
			overflow: auto;
			margin-top: 16px;

			.item {
				padding: 0;
				margin: 0;
				cursor: pointer;
				padding: 4px 16px;
				transition: .2s;

				&:hover,
				&.active {
					background-color: $color-light-silver;
					color: $color-primary;
				}
			}
		}
	}
}
