@import '../variables.scss';

ul, ol {

	.title {
		font-size: var(--h2-subtitle-font-size);
		margin-bottom: 8px;
		text-transform: uppercase;
		font-weight: 400;
		color: $color-primary;
	}

	.paragraph {
		color: $color-dark;
		font-size: var(--font-size-small);
	}
}

.counter-list {
	counter-reset: count;
	margin: 64px 0;
	font-size: 0;
	display: flex;
	gap: 24px;

	li {
		flex: 1;
		position: relative;
		padding-left: 80px;
		padding-top: 8px;
		padding-bottom: 8px;
		font-size: var(--font-size);
		min-height: 56px;
		display: flex;
		align-items: center;

		&:before {
			counter-increment: count;
			content: counters(count, "-", decimal-leading-zero);
			color: $color-primary;
			font-size: 14px;
			height: 56px; width: 56px;
			border: 1px solid $color-light;
			display: block;
			text-align: center;
			line-height: 56px;
			border-radius: 50%;
			position: absolute;
			left: 0; top: 11px;
			transition: .2s;
		}

		&:hover {

			&:before {
				background-color: $color-light;
				color: $color-white;
			}
		}
	}

	&.with-title {

		li {
			flex-direction: column;
			align-items: flex-start;
		}
	}
}

.unordered-list {
	counter-reset: count;
	margin: 56px 0;
	font-size: 0;
	display: flex;
	gap: 24px;

	> li {
		flex: 1;
		position: relative;
		padding-left: 80px;
		padding-right: 0;
		padding-top: 4px;
		padding-bottom: 4px;
		font-size: var(--font-size);
		display: flex;
		align-items: center;

		&:before {
			content: '\e90d';
			font-family: 'icomoon';
			color: $color-primary;
			font-size: 24px;
			height: 56px; width: 56px;
			border: 1px solid $color-light;
			display: block;
			text-align: center;
			line-height: 50px;
			border-radius: 50%;
			position: absolute;
			left: 0; top: 50%;
			transform: translateY(-50%);
			transition: .2s;
		}

		&.vertical-top {
			align-items: flex-start;

			&:before {
				top: 4px;
				transform: translateY(0);
			}
		}

		&:hover {

			&:before {
				background-color: $color-light;
				color: $color-white;
			}
		}
	}

	&.vertical-align {
		flex-direction: column;
		gap: 32px;
		margin-top: 12px;
	}
}

.icons-list {

	li {
		position: relative;
		padding: 0 0 0 80px;

		.icon-cover {
			content: counter(count);
			counter-increment: count;
			color: $color-primary;
			font-size: 14px;
			height: 56px; width: 56px;
			border: 1px solid $color-secondary;
			display: block;
			text-align: center;
			line-height: 56px;
			border-radius: 50%;
			position: absolute;
			left: 0; top: 0;
			transition: .2s;
			font-size: 16px;

			> .icon:before {
				position: relative;
				top: -1px;
			}
		}
	}

	.text,
	.link {
		font-size: var(--font-size);
		line-height: 1.5;
		font-weight: 400;
	}
}

.progress-list {
	border-top: 1px solid $color-primary;
	counter-reset: count;
	margin-top: 100px;
	gap: 24px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	padding: 24px 0;
	position: relative;

	> li {
		flex: 1;
		position: relative;

		&:before {
			content:  counters(count, "-", decimal-leading-zero);
			counter-increment: count;
			color: $color-primary;
			font-size: 16px;
			position: absolute;
			bottom: calc(100% + 50px);
			left: 0;
		}
	}

	.progress-inner {
		position: relative;

		&:before {
			content: '';
			height: 10px; width: 10px;
			position: absolute;
			background-color: $color-primary;
			border-radius: 50%;
			top: -30px; left: 0;
		}
	}

	> li:last-child {

		&:before {
			color: $color-secondary;
		}

		.progress-inner:before {
			background-color: $color-secondary;
		}

		.stage {

			.title {
				color: $color-secondary;
			}
		}
	}
}

.checked-list {

	> li {
		position: relative;
		padding-left: 32px;
		margin-bottom: 8px;

		&:before {
			content: '\e90d';
			font-family: 'icomoon';
			height: 24px; width: 24px;
			line-height: 24px;
			text-align: center;
			color: $color-white;
			background-color: $color-cadet-grey;
			border-radius: 100%;
			position: absolute;
			left: 0; top: 0;
		}

		&.primary {

			&:before { background-color: $color-secondary; }
		}

		&.through {
			text-decoration: line-through;
			color: $color-spanish-gray;

			&:before { background-color: $color-spanish-gray; }
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.social-list {
	display: flex;
	gap: 16px;
	font-size: 24px;
}

.dotted-list {

	li {
		position: relative;
		padding-left: 24px;
		color: $color-primary;
		font-size: var(--font-size);
		padding-top: 2px;
		padding-bottom: 2px;
		font-weight: 600;

		&:before {
			content: '';
			position: absolute;
			height: 4px; width: 4px;
			border-radius: 50%;
			background-color: $color-primary;
			left: 0; top: 12px;
		}
	}
}

@mixin flex-grid-items($cols) {
	display: flex;
	flex-wrap: wrap;

	> * {
		$item-width: calc(100%/$cols);
		width: $item-width;
		box-sizing: border-box;
	}
}

@media (max-width: 1440px) {

	.counter-list {

		> li:before {
			font-size: 12px;
			top: 6px;
		}
	}

}

@media (max-width: 1199px) {

	.counter-list {

		> li:before {
			font-size: 12px;
		}
	}

	.counter-list,
	.unordered-list {
		margin: 40px 0;
		flex-direction: row;
		flex-wrap: wrap;

		> li {
			flex-basis: calc(50% - 12px);
			min-height: 56px;
		}
	}

	ul, ol {

		.paragraph {

			br { display: none; }
		}
	}

	.unordered-list.vertical-align {
		gap: 12px;
	}

}

@media (max-width: 993px) {

	.progress-list {
		flex-direction: column;
		margin: 32px 0;
		padding: 0;
		border-top: 0;
		position: relative;

		&:after {
			height: 100%; width: 1px;
			background-color: $color-primary;
			content: '';
			position: absolute;
			top: 8px; left: 37px;
		}

		&:before {
			content: "";
			height: 7px; width: 7px;
			position: absolute;
			background-color: $color-primary;
			border-radius: 50%;
			bottom: -10px; left: 34px;
		}

		> li {
			padding-left: 32px;
			z-index: 1;

			&:before {
				top: 0; bottom: auto;
			}
		}

		.progress-inner {
			padding-left: 24px;

			&:before {
				top: 5px;
			}
		}

		.stage .title {
			width: 100%;
		}
	}
}

@media (max-width: 768px) {

	.counter-list,
	.unordered-list {
		margin: 32px 0;
		flex-direction: column;
		gap: 16px;

		> li {
			padding-left: 64px;
			padding-top: 8px;
			padding-bottom: 8px;
			min-height: 48px;
			align-items: center;

			&:before {
				height: 48px; width: 48px;
				line-height: 48px;
				top: 0;
				transform: translateY(0);
			}
		}

		&.with-title {

			> li:before {
				top: 8px;
			}
		}
	}

	ol, ul {

		.title { margin-bottom: 0; }

		.stage .title { width: auto; }
	}

}

@media (max-width: 455px) {

	.counter-list,
	.unordered-list {
		gap: 0px;

		> li {
			min-height: 64px;
			display: flex;

			&:before {
				top: 8px;
			}
		}

		&.with-title {

			li {
				flex-direction: column;
				text-align: left;
				align-items: baseline;
			}
		}
	}
}