@import '../variables.scss';

.notifications-cover {
	width: 400px;

	.empty-message {
		padding: 12px 24px;
		height: 150px;
	}

	.notification-item {
		padding: 12px 24px;
		border-bottom: 1px solid $color-platinum;
		background-color: darken($color-cultured, 3%);
		position: relative;
		cursor: pointer;

		&:after {
			position: relative;
			top: 12px; left: 12px;
			height: 10px; width: 10px;
			content: '';
			background-color: $color-secondary-hover;
			position: absolute;
			border-radius: 50%;
		}

		.title-cover {
			display: flex;
			gap: 16px;
			align-items: baseline;
			margin-bottom: 16px;
			justify-content: space-between;

			.title {
				text-transform: uppercase;
				font-weight: bold;
				font-size: 16px;
				color: $color-primary;
			}
		}

		.text {
			margin-top: 16px;
			font-size: var(--font-size-small);
		}

		.button-icon {
			height: 32px; width: 32px;
			min-width: 32px;
			line-height: 32px;
			display: block;
			text-align: center;
			border-radius: 50%;
		}

		&.success {

			.button-icon {
				color: $color-success;
				background-color: lighten($color-success, 68%);
				border: 1px solid lighten($color-success, 60%);
			}
		}

		&.progress {

			.button-icon {
				color: $color-warning;
				background-color: lighten($color-warning, 45%);
				border: 1px solid lighten($color-warning, 30%);
			}
		}

		&.declined {

			.button-icon {
				color: $color-error;
				background-color: lighten($color-error, 48%);
				border: 1px solid lighten($color-error, 45%);
			}
		}

		&.readed {
			background-color: $color-lotion;

			&:after {
				display: none;
			}
		}

		&:hover {
			background-color: $color-bright-gray;
		}
	}

	.button-link {
		display: inline-flex;
		color: $color-primary;
		align-items: center;
		gap: 8px;

		.icon {
			transition: .2s;
		}

		&.disabled {
			color: $color-cadet-grey;
		}

		&:hover {

			.icon {
				transform: translateX(2px);
			}
		}
	}
}


@media (max-width: 640px) {

	.notifications-cover {
		width: 420px;

		.object-preview.horizontal.smaller {

			.object-image {
				height: 90px;
			}
		}
	}
}


@media (max-width: 420px) {

	.notifications-cover {
		width: 280px;
	}
}