@import '../variables.scss';

.objects-list {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	row-gap: 64px;

	.item {
		flex-basis: 25%;
		position: relative;
		align-self: stretch;

		&:nth-child(4n + 1) {

			.spaced-inner {
				padding-left: 0;
			}
		}

		&:nth-child(4n) {

			.spaced-inner {
				padding-right: 0;
			}

			.button.round-link {
				right: 16px;
			}
		}

		&:hover {

			.object-preview {

				.object-image {

					img {
						transform: translateZ(0) scale(1.02);
					}
				}

				.object-title {
					color: $color-primary;
				}
			}
		}
	}

	.button.round-link {
		position: absolute;
		right: 24px; top: 16px;
		z-index: 1;
	}
}

.object-preview {
	display: block;
	height: 100%;

	.object-image {
		padding-top: 230px;
		overflow: hidden;
		position: relative;
		transform: translateZ(0);

		img {
			position: absolute;
			top: 0; left: 0;
			width: 100%; height: 100%;
			box-sizing: border-box;
			object-fit: cover;
			object-position: center;
			transition: .2s;
			transform: translateZ(0);
		}

		&:before {
			content: '';
			height: 62px; width: 66px;
			position: absolute;
			bottom: 16px; right: 16px;
			background-image: url('../img/watermark.png');
			z-index: 1;
			background-size: contain;
			background-repeat: no-repeat;
			pointer-events: none;
		}
	}

	.badge {
		position: absolute;
		z-index: 1;
		top: 24px; left: 16px;
	}

	.spaced-inner {
		padding: 0 12px;

		&.bordered {
			border-bottom: 1px solid $color-light-silver;
			margin-bottom: 16px;
		}
	}

	.caption {
		padding: 24px 0;

		.date {
			margin-bottom: 16px;
			font-size: var(--font-size-small);
			color: $color-primary;
		}

		.object-title {
			line-height: 1.2;
			font-size: var(--h5-font-size);
			line-height: 36px;
			transition: .2s;
			margin-bottom: 16px;
		}

		.description {
			font-weight: 400;
			font-size: var(--font-size-small);
			line-height: 1.5;
		}
	}

	.price-primary {
		margin-top: 8px;
	}
}


.object-preview.horizontal.smaller {
	display: flex;
	gap: 16px;
	align-items: flex-start;

	.spaced-inner,
	.caption {
		padding: 0;
	}

	.object-image {
		padding-top: 0;
		height: 100px; width: 150px;
	}

	.object-title,
	.price-primary {
		font-size: var(--subtitle-font-size);
		line-height: 1.42;
	}

	&:hover {

		.object-title {
			color: $color-primary;
		}
	}
}


@media (max-width: 1199px) {

	.objects-list {
		row-gap: 40px;

		.item {
			flex-basis: calc(100%/3);

			&:nth-child(4n) {

				.spaced-inner {
					padding-right: 12px;
				}

				.button.round-link {
					right: 24px;
				}
			}

			&:nth-child(4n + 1) {

				.spaced-inner {
					padding-left: 12px;
				}
			}

			&:nth-child(3n + 1) {

				.spaced-inner {
					padding-left: 0;
					padding-right: 12px;
				}
			}

			&:nth-child(3n) {

				.spaced-inner {
					padding-right: 0;
				}

				.button.round-link {
					right: 12px;
				}
			}
		}
	}

	.object-preview {

		.caption {

			.object-title {
				line-height: 30px;
			}
		}
	}

	.object-preview.horizontal.smaller {

		.object-image {
			height: 80px; width: 100px;
		}

		.object-title {
			margin-bottom: 8px;
		}
	}
}

@media (max-width: 993px) {

	.object-preview {

		.object-image {
			padding-top: 170px;
		}

		.badge {
			top: auto; left: 0;
			bottom: 0;
		}
	}

	.object-preview.horizontal.smaller {
		flex-direction: column;

		.object-image {
			height: 120px; width: 100%;
		}

		.spaced-inner {
			width: 100%;
		}

		.object-title {
			margin-bottom: 8px;
		}
	}

	.object-preview.horizontal.smaller {
		flex-direction: row;

		.object-image {
			height: 120px; width: 200px;
		}

		.spaced-inner {
			width: auto;
		}
	}
}

@media (max-width: 768px) {

	.objects-list {

		.item {
			flex-basis: calc(100%/2);

			&:nth-child(4n),
			&:nth-child(4n + 1),
			&:nth-child(3n + 1),
			&:nth-child(3n) {

				.spaced-inner {
					padding-right: 12px;
					padding-left: 12px;
				}
			}

			&:nth-child(odd) {

				.spaced-inner {
					padding-left: 0;
				}


				.button.round-link {
					right: 24px;
				}
			}

			&:nth-child(even) {

				.spaced-inner {
					padding-right: 0;
				}

				.button.round-link {
					right: 12px;
				}
			}
		}
	}
}

@media (max-width: 525px) {

	.objects-list {
		row-gap: 24px;

		.item {
			flex-basis: 100%;

			&:nth-child(odd),
			&:nth-child(even) {

				.spaced-inner {
					padding-right: 0;
					padding-left: 0;
				}

				.button.round-link {
					right: 12px;
				}
			}
		}
	}

	.object-preview {

		.spaced-inner {
			padding: 0;
		}

		.object-image {
			padding-top: 56.25%;
		}
	}

	.object-preview.horizontal.smaller {
		flex-direction: column;

		.object-image {
			height: 180px; width: 100%;
		}

		.spaced-inner {
			width: 100%;
		}
	}
}