@import '../variables.scss';

.page-main {
	min-height: 100vh;

	&.inner-page {
		padding-top: 102px;
	}

	&.auto-height {
		min-height: 75vh;
	}
}

.logo {

	img {
		max-width: 100%;
	}
}

.divider {
	height: 1px; width: calc(100% - 10px);
	position: relative;
	margin-left: 5px;
	z-index: 1;
	background-color: $color-light-silver;

	&:before,
	&:after {
		background-color: $color-light-silver;
	}

	&:after,
	&:before {
		content: '';
		height: 5px; width: 5px;
		position: absolute;
		border-radius: 50%;
		top: 50%;
		transform: translateY(-50%);
	}

	&:after {
		right: -5px;
	}

	&:before {
		left: -5px;
	}

	&.light {
		background-color: rgba($color-white, 0.18);

		&:after,
		&:before {
			background-color: rgba($color-white, 0.18);
		}
	}

	&.centered {
		margin: 0;
		width: 100%;

		&:before,
		&:after {
			left: 50%; right: auto;
			transform: translateY(-50%) translateX(-50%);
		}
	}
}

.step-cover {
	max-width: 592px;

	.step-title {
		margin-bottom: 40px;
		text-align: right;
		font-size: var(--font-size-small);
		color: $color-light-silver;
	}

	.step-helper {
		margin-bottom: 64px;
	}

	.step {
		display: none;

		&.active {
			display: block;
		}
	}

	&.large {
		display: flex;
		width: 100%;
		max-width: 100%;
		align-items: baseline;
		justify-content: space-between;

		.step-title {
			margin-bottom: 0;
		}
	}
}

.column-side {
	font-size: 0;
	margin: 64px 0;
	display: flex;
	gap: 120px;

	.cell {
		position: relative;
		font-size: var(--font-size);
		flex: 1;
	}

	.paragraph {
		margin-bottom: 24px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.images-section {
	margin: 40px 0;

	.image-cover {
		padding-top: 63.83%;
	}
}

.sticky-inner {

	.to-top {
		position: fixed;
	}

	.to-bottom {
		position: absolute;
		bottom: 0; top: auto!important;
	}

	.title-group {
		max-width: calc(50% - 24px);
	}
}

.search-alert {
	position: relative;
	padding-left: 80px;
	min-height: 74px;
	display: flex;
	justify-content: center;
	flex-direction: column;

	.title {
		font-size: var(--h4-font-size);
		font-weight: bold;
		margin-bottom: 8px;
	}

	.spaced-top {
		margin-top: 32px;
	}

	&:before {
		counter-increment: count;
		content: '!';
		color: $color-primary;
		font-size: 24px;
		height: 56px; width: 56px;
		border: 1px solid $color-light;
		display: block;
		text-align: center;
		line-height: 56px;
		border-radius: 50%;
		position: absolute;
		left: 0; top: 11px;
		transition: .2s;
	}

	&.small {
		margin-bottom: 32px;

		&:before {
			top: 0px;
		}

		.theme-text {
			font-size: var(--font-size-small);
		}
	}

	&.success {
		margin-bottom: 32px;

		&:before {
			content: '\e90d';
			font-family: 'icomoon';
			color: $color-success;
			border-color: lighten($color-success, 50%);
		}
	}

	&.error {
		margin-bottom: 32px;

		&:before {
			color: $color-error;
			border-color: $color-error;
		}
	}
}

.title-filters {
	display: flex;
	gap: 24px;
	align-items: end;

	.title-group {
		flex: 1;
		margin-bottom: 0;
	}

	.filters-form {
		flex: 1;

		.form-group {
			margin-bottom: 0;
		}
	}

	.button-cover {
		flex: 1;
		text-align: right;
	}
}

.price-primary {
	font-size: var(--h5-font-size);
	font-weight: 700;

	.old-price {
		color: $color-spanish-gray;
		text-decoration: line-through;
		font-size: var(--font-size);
	}

	&.large {
		font-size: var(--h4-font-size);
	}
}

.badge {
	background-color: $color-secondary;
	padding: 4px 16px;
	font-size: var(--font-size-small);
	display: inline-block;

	&.danger {
		background-color: $color-error;
		color: $color-white;
	}

	&.success {
		background-color: $color-success;
		color: $color-white;
		padding-left: 40px;

		&:before {
			content: '\e913';
			font-family: 'icomoon';
			font-size: 24px;
			position: absolute;
			left: 12px; top: -1px;
		}
	}

	&.progress {
		background-color: $color-primary;
		color: $color-white;
	}
}

.liqpay-iframe {

	img {
		max-width: 100%;
	}
}

@media (max-width: 1440px) {

	.stage {

		.title {
			width: 50%;
		}
	}

	.badge {
		padding-left: 8px;
		padding-right: 8px;
		font-size: 12px;

		&.success {
			padding-left: 26px;

			&:before {
				font-size: 20px;
				left: 4px; top: -1px;
			}
		}
	}
}

@media (max-width: 1199px) {

	.column-side {
		gap: 24px;
	}

	.sticky-inner {

		.title-group {
			max-width: 100%;
		}
	}

	.step-cover {
		max-width: 450px;
	}
}

@media (max-width: 993px) {

	.column-side {
		flex-direction: column;
	}

	.page-main {

		&.inner-page {
			padding-top: 80px;
		}
	}

	.step-cover {
		max-width: 100%;
	}
}

@media (max-width: 768px) {

	.page-main {

		&.inner-page {
			padding-top: 71px;
		}
	}

	.title-filters {
		flex-direction: column;

		.filters-form {
			width: 100%;
		}
	}

	.step-cover.large {
		display: block;

		.step-title {
			text-align: left;
			margin-top: 12px;
		}
	}

	.search-alert {
		padding-left: 0;
		padding-top: 56px;

		&:before {
			height: 32px; width: 32px;
			line-height: 32px;
			font-size: 16px;
		}

		.spaced-top {
			margin-top: 24px;
		}
	}
}