@import '../variables.scss';

.payment-table {
	margin-top: 24px;

	.item-wrapper {
		display: flex;
		position: relative;
		gap: 16px;
		align-items: flex-start;
		justify-content: space-between;
		padding: 16px 16px;

		.buttons {
			display: flex;
			gap: 16px;
			align-items: baseline;

			.button:last-child {
				flex-shrink: 0;
				flex-grow: 0;
			}
		}

		.date {
			width: 120px;
			min-width: 120px;
		}

		.views {
			width: 100px;
			min-width: 100px;
			text-align: center;
		}

		.operation {
			width: calc(40% - 120px - 100px);
		}

		.object {
			width: 60%;
			justify-content: space-between;
			display: flex;
		}

		.object {
			display: flex;
			gap: 16px;
			flex-shrink: 0;
			flex-grow: 0;
		}

		&.header {
			font-weight: bold;
			background-color: $color-cultured;
		}

		&:hover {
			background-color: $color-cultured;
		}
	}

	.support-button {
		height: 48px; width: 48px;
		background-color: $color-bright-gray;
		color: $color-primary;
		border-radius: 100%;
		transition: .2s;

		&.success {
			color: $color-success;
			background-color: lighten($color-success, 68%);
			border: 1px solid lighten($color-success, 60%);
		}

		&.progress {
			color: $color-warning;
			background-color: lighten($color-warning, 45%);
			border: 1px solid lighten($color-warning, 30%);
		}

		&.declined {
			color: $color-error;
			background-color: lighten($color-error, 48%);
			border: 1px solid lighten($color-error, 45%);
		}

		&:hover {
			background-color: $color-light-silver;

			&.success {
				background-color: lighten($color-success, 62%);
			}
			&.progress {
				background-color: lighten($color-warning, 40%);
			}
			&.declined {
				background-color: lighten($color-error, 45%);
			}
		}
	}

	.table-bottom {
		border: 1px solid $color-light-silver;
		border-radius: 100px;
		display: inline-flex;
		padding: 6px 6px 6px 24px;
		gap: 16px;
		margin-top: 24px;
		font-size: var(--buttons-font-size);
		color: $color-primary;
		text-transform: uppercase;
		font-weight: 500;
		align-items: baseline;

		.views {
			background-color: $color-primary;
			color: $color-white;
			padding: 16px 24px;
			border-radius: 48px;
		}
	}
}

@media (max-width: 1199px) {

	.payment-table {

		.item-wrapper {

			.object {
				width: 54%;
				flex-direction: column;
			}

			.operation {
				width: calc(46% - 120px - 86px);
			}

			.views {
				width: 86px;
				min-width: 86px;
			}
		}
	}
}

@media (max-width: 768px) {

	.payment-table {
		margin-top: 0;

		.item-wrapper {
			display: block;
			border-bottom: 1px solid $color-light-silver;
			padding-top: 32px;

			&.header {
				display: none;
			}

			.date,
			.operation,
			.views,
			.object {
				width: 100%;
				text-align: left;
				margin-bottom: 16px;
			}

			[data-caption] {
				position: relative;
				padding-left: 120px;

				&:before {
					content: attr(data-caption);
					font-weight: 700;
					position: absolute;
					left: 0;top: -1px;
					width: 120px;
				}
			}
		}
	}
}

@media (max-width: 525px) {

	.payment-table {

		.item-wrapper {
			margin-left: -24px;
			margin-right: -24px;
			padding-right: 24px;
			padding-left: 24px;

			[data-caption] {
				padding-left: 0;
				padding-top: 28px;

				&:before {

				}
			}
		}
	}
}