@import '../variables.scss';

.tabs {
	$tabs-padding: 4px;
	$tab-height: 40px;

	position: relative;
	white-space: nowrap;
	border: 1px solid $color-light-silver;
	border-radius: 100px;
	padding: $tabs-padding;
	font-size: 0;

	.tab-button {
		display: inline-block;
		vertical-align: middle;
		font-size: var(--buttons-font-size);
		color: $color-primary;
		border-radius: 100px;
		position: relative;
		z-index: 1;
		cursor: pointer;
		transition: color .2s;
		text-transform: uppercase;
		font-weight: 500;
		padding: 1px 36px;
		text-align: center;
		height: $tab-height;
		line-height: $tab-height;
		border: 0;

		&:hover {
			color: $color-primary;
		}

		&.active,
		&.active:hover {
			color: $color-white-clear;
		}

		.icon {
			margin-right: 7px;
			font-size: 16px;
			display: inline-block;
			transform: translateY(2px);
		}

		.icon-youtube {
			font-size: 19px;
			transform: translateY(4px);
		}

		&.disabled {
			pointer-events: none;
			color: $color-spanish-gray;
		}
	}

	.tab-fader {
		background-color: $color-primary;
		position: absolute;
		top: $tabs-padding; bottom: $tabs-padding;
		left: $tabs-padding;
		height: $tab-height;
		border-radius: 100px;
		transition: .2s;

		&.hovered {
			background-color: $color-primary;
		}
	}
}

.tabs-container {

	.tab-content {
		display: none;

		&.active {
			display: block;
		}
	}
}

@media (max-width: 768px) {

	.tabs {
		display: flex;

		.tab-button {
			flex: 1;
		}
	}
}

@media (max-width: 640px) {

	.tabs {

		.tab-button {
			padding-left: 16px;
			padding-right: 16px;
			font-size: 12px;
		}
	}
}

@media (max-width: 425px) {

	.tabs {

		.tab-button {
			padding-left: 0;
			padding-right: 0;
			font-size: 10px;
		}
	}
}