@import '../variables.scss';

.tariff-header {
	margin-bottom: 48px;
}

.tariffs-cards {
	display: flex;
	gap: $column-gap;
	flex-direction: row;
	align-items: stretch;
	width: 100%;
}

.tariff-item {
	flex: 1;
	background-color: $color-cultured;
	padding: 32px 48px;
	position: relative;
	text-align: center;

	&.primary {
		background-color: $color-seashell;
	}

	.badge {
		position: absolute;
		left: 32px; top: -18px;
	}

	.top {
		text-align: center;
		padding-bottom: 32px;
		margin-bottom: 32px;
		border-bottom: 1px solid $color-light-silver;

		img {
			height: 64px; width: 64px;
			margin-bottom: 16px;
		}

		.title {
			font-size: $h2-font-size;
		}
	}

	svg { transition: .2s; }

	.theme-text {
		margin-top: 32px;
		margin-bottom: 16px;
	}

	.price {
		text-align: center;
		font-size: $h1-font-size;
		font-weight: bold;
		margin-bottom: 32px;
	}

	.button:not(.button-link) {
		margin: 0 0 32px;
	}

	.tariff-list {
		text-align: left;
		display: inline-block;
	}
}

.tariff-item.horizontal {
	flex-direction: row;
	display: flex;
	gap: 48px;

	> div {
		flex: 1;
	}

	.top {
		margin-bottom: 0;
		border-bottom: 0;
		padding-bottom: 0;
		padding-right: 48px;
		border-right: 1px solid $color-light-silver;
	}

	.subtitle {
		margin-bottom: 0;
		font-size: var(--h5-font-size);
		font-weight: bold;
		margin-bottom: 8px;
	}

	.middle {
		padding-right: 48px;
		border-right: 1px solid $color-light-silver;
		text-align: left;
	}

	.bottom {
		text-align: left;

		.item {
			margin-bottom: 32px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.tariff-item:hover,
.tariff-item.active {

	.animated-rotate {
		transform-origin: center;
		animation: spin 4s linear infinite;
		fill: $color-secondary;
	}

	.square {

		rect {
			transition: fill 0.5s ease;
		}

		rect:nth-of-type(1) {
			animation: color-cycle 4s infinite;
			animation-delay: 0s;
		}

		rect:nth-of-type(2) {
			animation: color-cycle 4s infinite;
			animation-delay: 1s;
		}

		rect:nth-of-type(3) {
			animation: color-cycle 4s infinite;
			animation-delay: 2s;
		}

		rect:nth-of-type(4) {
			animation: color-cycle 4s infinite;
			animation-delay: 3s;
		}
	}
}

@keyframes spin {

	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes color-cycle {

	0%, 100% { fill: #576F80; }

	50% { fill: #D7957D; }
}

@media (max-width: 1440px) {

	.tariffs-cards {

		.tariff-item {
			padding: 32px;

			.badge { top: -12px; }
		}
	}
}

@media (max-width: 1199px) {

	.tariffs-cards {
		justify-content: center;

		.tariff-item {
			padding: 32px 24px;

			.theme-text {
				margin-top: 24px;
			}

			.top {
				margin-bottom: 24px;
				padding-bottom: 24px;

				.title {
					font-size: var(--h3-font-size);
				}
			}

			.price {
				font-size: var(--h2-font-size);
			}

			.button {
				margin: 24px 0;
			}
		}
	}

	.tariff-item.horizontal {
		gap: 24px;
		padding: 24px 32px;
		flex-wrap: wrap;

		.top {
			flex-basis: auto;
			width: 100%;
			padding-right: 0;
			border-right: 0;

			.theme-text {
				margin-top: 8px;
			}

			.button {
				margin-top: 16px;
			}
		}

		.middle {
			padding-right: 24px;
		}

		.subtitle {
			margin-bottom: 16px;
		}
	}
}

@media (max-width: 993px) {

	.tariff-header {
		margin-bottom: 32px;

		.mobile-cover {
			margin-top: 32px;
		}
	}

	.tariffs-cards {
		flex-direction: column;

		.tariff-item {
			display: flex;
			gap: 24px;

			.top {
				padding-bottom: 0;
				margin-bottom: 0;
				border-bottom: 0;
				padding-right: 24px;
				border-right: 1px solid $color-light-silver;
				flex-basis: 40%;

				.title {
					font-size: var(--h1-font-size);
				}
			}

			.price {
				text-align: left;
				margin-bottom: 0;
			}

			.bottom {
				display: flex;
				flex-direction: column;
				flex-basis: 60%;
				position: relative;
				gap: 24px;
				padding-bottom: 80px;

				.button {
					display: block;
					width: 100%;
					margin: 0;
					position: absolute;
					bottom: 0;
				}
			}
		}
	}

	.tariff-item.horizontal {
		flex-direction: column;

		.middle {
			padding-right: 0;
			border-right: 0;
		}

		.subtitle {
			margin-bottom: 8px;
		}
	}

	.tariffs-cards.single-item {

		.tariff-item .bottom {
			padding-bottom: 0;
			justify-content: center;
		}
	}
}

@media (max-width: 768px) {

	.tariffs-cards {

		.tariff-item {

			.top {
				flex-basis: 50%;
			}

			.bottom {
				flex-basis: 50%;
			}
		}
	}
}

@media (max-width: 640px) {

	.tariff-item.horizontal {
		padding-left: 12px;
		padding-right: 12px;
	}

	.tariffs-cards {

		.tariff-item {
			flex-direction: column;
			gap: 16px;

			.top {
				padding-right: 0;
				border-right: 0;
				padding-bottom: 24px;
				border-bottom: 1px solid $color-light-silver;
			}

			.theme-text {
				margin-top: 16px;
				font-size: var(--font-size-small);
			}

			.price {
				font-size: calc(var(--h1-font-size)*1.4);
				text-align: center;
				font-weight: bold;
			}

			.bottom {
				gap: 16px;
			}
		}
	}

	.popup {

		.tariffs-cards {
			margin-left: -24px;
			margin-right: -24px;
			width: calc(100% + 48px);
		}
	}
}