@import '../variables.scss';

.tooltip {
	position: absolute;
	padding: 4px 8px;
	font-size: 12px;
	background-color: $color-primary;
	border-radius: var(--border-radius);
	color: $color-white;
	z-index: 25;
	opacity: 0;
	transform: translate(5px,0);
	transition: .2s;
	pointer-events: none;
	width: fit-content;
}

.tooltip.active {
	opacity: 1;
	transform: translate(0,0)
}