.card {
	background: $purple;
	padding: 35px 15px 35px 35px;
	color: #fff;
	position: relative;
	height: 100%;
	min-height: 275px;
	overflow: hidden;
	transition: .2s;
	cursor: default;
	transform-origin: right;
	transform: perspective(1000px) rotateY(20deg);
	opacity: 0;
	box-shadow: 0 0 0 0 $purple;

	img {
		position: absolute;
		top: 15%; right: 0;
		height: 70%; width: auto;
		transition: .3s;
		z-index: 1;
		transform: translateX(50%);
	}

	.title {
		font-size: 18px;
		position: relative;
		z-index: 2;
		font-weight: 600;
		text-transform: uppercase;
		color: $green;
		margin-bottom: 25px;

		&:after {
			content: '';
			display: block;
			width: 25px; height: 3px;
			background: $green;
			margin-top: 20px;
		}
	}

	.list {
		position: relative;
		z-index: 2;
		font-size: 17px;
		font-family: $font3;
		font-weight: 300;

		li {
			position: relative;
			line-height: 1.3;
			padding: 7px 0;
			padding-left: 15px;

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 13px; left: 0;
				width: 5px; height: 5px;
				border-radius: 50%;
				background: $green;
			}
		}
	}

	&:hover {
		box-shadow: 0 0 0 10px $purple;

		img {
			transform: translateX(0);
		}
	}
}

.section.active {

	.card {
		opacity: 1;
		transform: perspective(1000px) rotateY(0deg);

		&.delay-1 { transition-delay: .5s }
		&.delay-2 { transition-delay: .6s }
		&.delay-3 { transition-delay: .7s }

	}
}
@media (max-width: 992px){

	.card {
		padding: 20px 15px;

		.title {

			.block-sm {
				display: block;
			}
		}
	}
}
@media (max-width: 768px){

	.card-cover {
		margin-bottom: 24px;
	}

	.card {
		min-height: 145px;

		.title {
			font-size: 20px;

			.block-sm {
				display: inline;
			}
		}
		.list {
			font-size: 0;

			li {
				display: inline-block;
				vertical-align: top;
				width: 50%;
				font-size: 17px;
			}
		}

	}
}
@media (max-width: 480px){

	.card {

		.list {

			li {
				width: 100%;
				font-size: 16px;
			}
		}
	}
	.card-cover:last-child {

		.list {

			li {
				flex-basis: 100%;
				max-width: 100%;

				&:nth-child(2) {
					margin-left: 0;
					margin-top: 0;
				}
				&:last-child {
					order: 2;
				}
			}
		}
	}
}