.simple-dropdown {
	position: relative;

	&.active {

		.inner {
			display: block;
		}
		.icon-group {

			.icon-open {
				display: none;
			}
			.icon-close {
				display: block;
			}
		}
	}
	.inner {
		display: none;
	}
	.icon-group {
		position: absolute;
		left: 10px; top: 20px;
		height: 21px; width: 21px;
		background-color: $purple;
		color: #fff;
		font-size: 10px;
		border-radius: 50%;
		text-align: center;

		.icon {
			height: 21px;
			line-height: 21px;
		}

		.icon-open {
			display: block;
		}
		.icon-close {
			display: none;
		}
	}
}

/* custom */
.question {
	border-radius: 9px;
	border: 1px solid $green;
	margin: 0 0 16px;

	&:last-child {
		margin-bottom: 0;
	}
	.title {
		color: $purple;
		font-size: 16px;
		font-weight: 500;
		padding: 20px 45px;
		cursor: pointer;

		&:hover {
			color: lighten($purple, 10%);
		}
	}
	.inner {
		color: #7a7a7a;
		font-size: 14px;
		padding: 0 45px 20px;
	}
}

/* --------------------------------
	1199px
	---------------------------------*/
	@media (max-width: 1199px){


		.col-xs-12 {

			.question {

				&:last-child {
					margin-bottom: 16px;
				}
			}
			&:last-child {

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

/* --------------------------------
	640px
	---------------------------------*/
	@media (max-width: 640px){


		.col-xs-12 {


			&:first-child {

				.question {

					&:first-child {
						margin-top: 25px;
					}
				}
			}
		}
	}
