.btn {
	cursor: pointer;
	background-color: transparent;
	border: 0;
	height: 124px;
	font-size: 30px;
	font-weight: 600;
	overflow: hidden;
	position: relative;
	border-radius: 100px;
	transition: .3s;

	.right-icon {
		position: absolute;
		right: 48px; top: 50%;
		transform: translateY(-50%);
		font-size: 20px;
	}
	.left-icon {
		position: absolute;
		left: 48px; top: 50%;
		transform: translateY(-50%);
		font-size: 20px;
	}
	.image-icon {
		height: 46px;
		display: inline-block;
		vertical-align: middle;
	}
	.outer {
		position: relative;
		z-index: 2;
		display: block;
		padding: 40px 48px;
	}
	&.disabled {
		pointer-events: none;
		opacity: .4;
	}
	.clip-outer {
		position: relative;

		.text-clipping {
			position: absolute;
			top: 0; left: 0;
			color: #fff;
			z-index: 1;
			opacity: 0;

			&.fadeout {
				opacity: 1;
			}
		}
	}
	.hover {
		display: none;
	}

	&:hover {

		.static {
			display: none;
		}
		.hover {
			display: inline;
		}
	}
}

.btn.btn-block {
	display: block;
	width: 100%;
}
.btn.btn-large {
	height: 160px;

	.outer {
		padding-top: 56px;
		padding-bottom: 56px;
	}
}
.btn.btn-light {
	background-color: #fff;
	box-shadow: 0px 30px 100px rgba(222, 222, 222, 0.42);
	color: $dark;

	&:before {
		content: '';
		position: absolute;
		height: 100%; width: 100%;
		background-color: $dark;
		top: 0; left: 0;
		bottom: 0; right: 0;
		z-index: 1;
		border-radius: 100px;
		transition: transform .3s;
		transform: scaleX(.5);
		opacity: 0;
	}
	&:hover {
		color: #fff;

		.btn-icon {
			color: $primary;
		}
		&:before {
			transform: scaleX(1);
			opacity: 1;
		}
	}
}
.btn.btn-dark {
	background-color: $dark;
	color: #fff;

	.btn-icon {
		color: $primary;
	}
}

.btn.btn-small {
	height: 80px;

	.outer {
		padding: 0 35px 0 0;
		font-size: 0;
		white-space: nowrap;

		.btn-icon,
		.text {
			display: inline-block;
			vertical-align: middle;
		}
		.text {
			font-size: 24px;
			line-height: 33px;
			letter-spacing: -0.04em;
			overflow: hidden;
		}
	}
}
.btn.btn-grey {
	background-color: #F6F6F6;
	box-shadow: 0px 30px 100px rgba(222, 222, 222, 0.42);
	color: $dark;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		height: 100%; width: 100%;
		background-color: $dark;
		top: 0; left: 0;
		bottom: 0; right: 0;
		z-index: 1;
		border-radius: 100px;
		transition: transform .3s;
		transform: scaleX(.5);
		opacity: 0;
	}
	.light-icon {
		display: none;
	}
	&:hover {
		color: #fff;

		.btn-icon {
			color: $primary;
		}
		&:before {
			transform: scaleX(1);
			opacity: 1;
		}
	}
}
.btn.btn-middle {
	height: 100px;
	font-size: 24px;
	line-height: 33px;
	letter-spacing: -0.04em;

	.outer {
		padding: 32px 48px;
	}
	&.shadow {
		box-shadow: 0px 60px 100px rgba(255, 204, 104, 0.3);
	}
}

.btn.btn-action {
	background-color: $action;
	color: $dark;
}

.btn.btn-round {
	height: 80px; width: 80px;
	border-radius: 80%;
	font-size: 0;

	.outer {
		padding: 0;
	}
}

.btn.btn-collapsed {
	height: 80px;
	line-height: 80px;
	font-size: 20px;
	letter-spacing: -0.04em;

	.outer {
		padding: 2px 35px;
	}
	.left-icon {
		left: 35px;
	}
	.right-icon {
		right: 35px;
	}
}


.success-form {

	[type="submit"] {
		color: #fff;

		.btn-icon {
			color: $primary;
		}
		&:before {
			transform: scaleX(1);
			opacity: 1;
		}
	}
}

.btn-list {
	font-size: 0;
	margin: 0 -18px;

	.item {
		display: inline-block;
		vertical-align: top;
		padding: 0 18px;
		width: 50%;
	}

	&.small-list {

		.item {

			&:first-child {
				width: calc(100% - 116px);
			}
			&:last-child {
				width: 116px;
			}
		}
	}
	&.hidden-list:not(.active) {
		display: none;
	}
}

@media (max-width: 480px) {

	.btn {
		height: 80px;
		font-size: 26px;

		.outer {
			padding: 21px 30px;
		}
		.right-icon {
			right: 30px;
		}
		.left-icon {
			left: 30px;
		}
	}
	.btn.btn-round {
		height: 60px; width: 60px;

		.btn-icon {
			display: block;
		}

		img {
			width: 100%;
		}
	}
	.btn.round-xs {
		height: 60px; width: 60px;
		line-height: 70px;

		.outer {
			padding: 0;
			font-size: 0;
			text-align: center;
		}
		.btn-icon {
			font-size: 14px;
			position: static;
			line-height: 1;
		}
	}

	.btn-list {
		margin: 0 -8px;

		.item {
			padding: 0 8px;
		}

		&.small-list {
			width: 152px;

			.item {

				&:first-child {
					width: calc(100% - 76px);
				}
				&:last-child {
					width: 76px;
				}
			}
		}
	}
}

@media (min-width: 1240px) {

	.btn,
	.btn.btn-large {
		height: 80px;
		font-size: 18px;
		line-height: 40px;

		.outer {
			padding: 20px 28px;
		}
		.right-icon,
		.left-icon {
			font-size: 14px;
		}
		.right-icon {
			right: 28px;
		}
		.left-icon {
			left: 28px;
		}
	}
}