.device-outer {
	background-color: $dark;
	position: absolute;
	text-align: center;
	top: 160px; left: 0;
	bottom: 0; right: 0;
	width: 100%;
	border-radius: 80px 80px 0 0;
	color: #fff;
	transition: transform .3s;
	transform: translateY(87%);

	&.active {
		transform: translateY(0);
	}

	.btn-cover {
		position: absolute;
		bottom: 46px;
		left: 46px; right: 46px;
	}
	.title {
		font-size: 30px;
		line-height: 41px;
		font-weight: $bold;
		margin: 0 0 180px;
		padding: 46px 46px 0;
	}
	.bottom-part {
		padding: 0 46px 46px;
	}
	.paragraph {
		color: #B3B3B3;
	}

	.cover-icon {
		width: 142px;
		margin: 90px auto 0;

		img {
			max-width: 100%;
		}

		.arrow {
			position: relative;
		}

		.scene {
			width: 142px; height: 188px;
			perspective: 600px;

			.card {
				width: 100%;
				height: 100%;
				transition: transform 1s;
				transform-style: preserve-3d;
				position: relative;
				animation: flip 0.98s cubic-bezier(.52,.54,.98,.2) infinite;
			}

			.card.is-flipped {
				transform: rotateY(180deg);
			}

			.card-face {
				position: absolute;
				width: 100%;
				height: 100%;
				line-height: 260px;
				color: white;
				text-align: center;
				font-weight: bold;
				font-size: 40px;
				backface-visibility: hidden;

				&.back {
					transform: rotateY(180deg);
				}
			}
		}
	}
}

.device-outer.full-screen {
	transform: translateY(110%);
	background-color: #F6F6F6;
	top: 0;
	border-radius: 0;

	&.active {
		transform: translateY(0);
	}
	.title {
		color: $dark;
		margin-bottom: 34px;
	}
	.paragraph {
		color: $dark;
	}
}

@keyframes flip {

	from {
		transform: rotateY(0);
	}
	to {
		transform: rotateY(180deg);
	}
}

@media (max-width: 779px) {

	.device-outer {

		.title {
			margin-bottom: 4vh;
			padding-top: 20px;
		}

		.cover-icon {
			width: 85px;
			margin-top: 5vh;

			.scene {
				width: 85px; height: 113px;

				.card-face {
					line-height: 200px;
				}
			}
		}
	}
}
@media (max-height: 850px) {

	.device-outer {
		transform: translateY(79%);

		.title {
			margin-bottom: 15px;
		}
	}
}