.error-outer {
	position: absolute;
	height: 76%;
	background-color: #fff;
	box-shadow: 0px 20px 40px rgba(124, 124, 124, 0.42);
	border-radius: 80px;
	bottom: 28px; right: 28px;
	left: 28px;
	z-index: 7;
	padding: 40px;
	transform: translateY(150%);
	transition: transform .5s;

	~ .fade-outer {
		position: fixed;
		top: 0; right: 0;
		bottom: 0; left: 0;
		background-color: rgba($dark, .5);
		z-index: 6;
		visibility: hidden;
		opacity: 0;
		transition: transform .2s, opacity .2s;
		transition-delay: .3s;
	}

	&.clicked {
		transform: translateY(0);

		~ .fade-outer {
			visibility: visible;
			opacity: 1;
			transform: scale(2);
		}
	}

	.bottom-part {
		position: absolute;
		bottom: 0;
		left: 0; right: 0;
		padding: 18px;

		.caption {
			padding: 128px 36px;
			text-align: center;
		}
	}

	.cover-icon {
		text-align: center;

		.icon-back {
			height: 189px; width: 189px;
			display: inline-block;
	}

}

.rotate-animation-right {
	animation-name: spin-right;
	animation-duration: 7s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	transform-origin: center;
}

.rotate-animation-left {
	animation-name: spin-left;
	animation-duration: 7s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	transform-origin: center;
}

.title {
	font-weight: 600;
	font-size: 30px;
	line-height: 41px;
	text-align: center;
	letter-spacing: -0.04em;
	margin: 100px 0 30px;
}

.paragraph {
	font-weight: 500;
	font-size: 20px;
	line-height: 27px;
	text-align: center;
	letter-spacing: -0.02em;
	color: $dark;
	margin: 30px 0 0;
}

}

@keyframes spin-right {
	from {
		transform: rotate(360deg);
	}
	to {
		transform: rotate(0deg);
	}
}

@keyframes spin-left {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}