@font-face {
	font-family: 'Noto Sans Bengali UI', sans-serif;
	src: url('../fonts/NotoSansBengaliUI/NotoSansBengaliUI-Bold.eot');
	src: local('Noto Sans Bengali UI Bold'), local('NotoSansBengaliUI-Bold'),
		url('../fonts/NotoSansBengaliUI/NotoSansBengaliUI-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NotoSansBengaliUI/NotoSansBengaliUI-Bold.woff2') format('woff2'),
		url('../fonts/NotoSansBengaliUI/NotoSansBengaliUI-Bold.woff') format('woff'),
		url('../fonts/NotoSansBengaliUI/NotoSansBengaliUI-Bold.ttf') format('truetype'),
		url('../fonts/NotoSansBengaliUI/NotoSansBengaliUI-Bold.svg#NotoSansBengaliUI-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans Bengali UI', sans-serif;
	src: url('../fonts/NotoSansBengaliUI/NotoSansBengaliUI.eot');
	src: local('Noto Sans Bengali UI'), local('NotoSansBengaliUI'),
		url('../fonts/NotoSansBengaliUI/NotoSansBengaliUI.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NotoSansBengaliUI/NotoSansBengaliUI.woff2') format('woff2'),
		url('../fonts/NotoSansBengaliUI/NotoSansBengaliUI.woff') format('woff'),
		url('../fonts/NotoSansBengaliUI/NotoSansBengaliUI.ttf') format('truetype'),
		url('../fonts/NotoSansBengaliUI/NotoSansBengaliUI.svg#NotoSansBengaliUI') format('svg');
	font-weight: normal;
	font-style: normal;
}

