div, a, span, h1, h2, h3, h4, h5, br, img, blockquote {

	&::selection {
		background: #3B3D46;
		color: #fff;
	}
}
.primary {
	color: $primary;
}
.dark {
	color: $dark;
}
.action {
	color: $action;
}
.bold {
	font-weight: $bold;
}

.number-font {
	font-family: "aktiv-grotesk",sans-serif;
}

.main-logo {
	font-size: 0;
	text-align: center;
	padding: 100px 0;

	img {
		max-width: 100%;
	}
}

.logo-holder {
	font-size: 0;
	text-align: center;
	padding: 0;

	img {
		max-width: 100%;
	}
}

.main-container {
	padding: 28px;
	height: 100%;
	overflow: hidden;

	&.large-page {
		height: 100%;
	}

	.relative {
		height: 100%;
	}

	.bottom-part {
		position: absolute;
		bottom: 0; left: 0;
		right: 0;
	}
}
.paragraph {
	font-size: 20px;
	line-height: 27px;
	margin: 0 0 40px;
	line-height: 1.6;
}


.spaced-bottom {
	margin-bottom: 30px;
}

.spaced-top {
	margin-top: 30px;
}

.spaced-left {
	padding-left: 30px;
}

.spaced-right {
	padding-right: 30px;
}

.large-bottom {
	margin-bottom: 11vh;
}

.collapsed-both {
	padding-top: 0;
	padding-bottom: 0;
}

.section {
	padding-top: 3vh;
	padding-bottom: 3vh;
}

.section-title {
	font-weight: 600;
	font-size: 30px;
	line-height: 41px;
	margin: 0 0 25px;
}

.overflow-outer {
	overflow: hidden;
	position: relative;
	height: 100%;
}

.bordered-caption {
	border-bottom: 2px solid #F6F6F6;
}

.page-main {
	overflow: auto;
	height: 100%;
	padding-left: 28px;
	padding-right: 28px;
}

.scrolled-terms {
	padding-top: 30vh;
	padding-left: 80px;
	padding-right: 80px;
	padding-bottom: 180px;
}

.overflow-scroll {
	overflow: auto;
	height: 78vh;

	&::-webkit-scrollbar { 
		display: none;
	}
}

.fixed-group {
	position: fixed;
	bottom: 40px;
	left: 40px; right: 40px;
	background-color: #fff;

	.btn:not(.active) {

		.btn-icon {
			opacity: 0;
		}
	}
	.btn {
		overflow: hidden;

		.fake-round {
			position: absolute;
			top: 0; left: 0;
			height: 100%;
			background-color: $dark;
		}
	}
}

.parent-group {
	margin-top: 60px;

	.children {
		padding-left: 86px;
	}
}

.changeble-outer {

	.fadeout-active {
		display: block;
	}
	.fadein-active {
		display: none;
	}

	&.active {

		.fadeout-active {
			display: none;
		}
		.fadein-active {
			display: block;
		}
	}
}

@media (max-width: 480px) {

	.scrolled-terms {
		padding: 20vh 3vw;
	}
}

@media (max-height: 850px) {

	.hidden-small-screen {
		display: none;
	}
	.main-logo {
		padding: 20px 0;
	}
	.changeble-outer {

		.fadeout-active {
			overflow: auto;
			max-height: 72vh;

			&::-webkit-scrollbar { 
				display: none;
			}
		}
	}
}

@media (min-width: 1240px) {

	.main-logo {
		margin: 0 auto;

		img {
			width: 540px;
			max-width: none;
		}
	}
	.paragraph {
		font-size: 14px;
	}
}