.simple-form {
	position: relative;
	transition: background-color .3s;
	border-radius: 66px;
	padding: 10px;
	max-height: 79vh;

	&.small-form {
		max-height: none;

		.input-outer {
			min-height: 38vh;
		}
	}

	&:before {
		position: absolute;
		top: 0; right: 0;
		bottom: 0; left: 0;
		background-color: #fff;
		content: '';
		border-radius: 34px;
		transform-origin: bottom center;
		transition: transform .3s, opacity .3s;
		transform: scaleY(.2);
		opacity: 0;
	}

	.input-outer {
		padding: 50px 45px;
	}
	.form-caption {
		text-align: center;
		margin: 30px 0 90px;
	}
	.success-caption {
		padding: 100px 80px 140px;

		.middle-icon {
			height: 172px;
		}
	}
	.icon-group {
		margin-bottom: 60px;
	}
	&.full-transparent {

		.success-caption {
			margin-bottom: 5vh;
		}
	}
	.outer-overlay {
		position: relative;

		&:before {
			content: '';
			position: absolute;
			left: -10px; right: -10px;
			top: -2px;
			height: 60px;
			background-image: linear-gradient(to top, transparent, #fff);
			z-index: 2;
		}
	}
	.scrolled-outer {
		height: 50vh;
		overflow: auto;
		&::-webkit-scrollbar { 
			display: none;
		}
	}
	.overflow-scroll {
		height: 77vh;
	}
}
.form-container.active {

	&.active {

		.simple-form {

			&:before {
				transform: scaleY(1);
				opacity: 1;
			}
		}
		&.animated {

			.simple-form { 
				background-color: #fff;

				&.full-transparent {
					background-color: transparent;
				}

				&:before {
					display: none;
				}
			}
		}
	}
}

@media (max-height: 850px) {

	.simple-form {

		.success-caption {
			padding: 10vh 5vw 1vh;
		}
	}
}

@media (min-width: 1240px) {

	.simple-form {
		border-radius: 49px;
		padding: 10px 9px;

		&.small-form {

			.input-outer {
				min-height: 36.8vh;
			}
		}
		.icon-group {
			margin-bottom: 48px;

			img {
				height: 62px;
			}
		}
		.success-caption {
			padding: 77px 80px 82px;
		}
		.form-caption {
			margin-top: 0;
		}
	}
}