.tooltip {
	position: relative;
	z-index: 2;

	.anchor {
		height: 44px; width: 44px;
		background-color: #F6F6F6;
		border-radius: 50%;
		font-size: 0;
		border: 0;
		cursor: pointer;
	}
	.tooltip-inner {
		position: absolute;
		bottom: 100%; right: -45px;
		background-color: $dark;
		color: #fff;
		padding: 7px 14px;
		margin-bottom: 15px;
		font-size: 18px;
		line-height: 26px;
		border-radius: 4px;
		width: 60vw;
		transform: translateY(20px);
		opacity: 0;
		visibility: hidden;
		transition: transform .3s, opacity .3s;

		&:before {
			content: '';
			position: absolute;
			border: 8px solid transparent;
			border-top: 8px solid $dark;
			top: 100%; right: 56px;
			margin-top: -1px;
		}

		.paragraph {
			margin-bottom: 10px;
		}

		img {
			max-width: 100%;
		}
	}

	&.active {

		.tooltip-inner {
			transform: translateY(0);
			visibility: visible;
			opacity: 1;
		}
	}
}