html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

progress {
  vertical-align: baseline; }

template,
[hidden] {
  display: none; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active,
a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: bolder; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

button,
input,
select,
textarea {
  font: inherit;
  margin: 0; }

optgroup {
  font-weight: bold; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

/* font-family: "MyriadProRegular"; */
@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'HelveticaNeueCyrThin';
  src: url("../fonts/Helvetica/HelveticaNeueCyrThin.eot");
  src: url("../fonts/Helvetica/HelveticaNeueCyrThin.eot") format("embedded-opentype"), url("../fonts/Helvetica/HelveticaNeueCyrThin.woff2") format("woff2"), url("../fonts/Helvetica/HelveticaNeueCyrThin.woff") format("woff"), url("../fonts/Helvetica/HelveticaNeueCyrThin.ttf") format("truetype"), url("../fonts/Helvetica/HelveticaNeueCyrThin.svg#HelveticaNeueCyrThin") format("svg"); }

@font-face {
  font-family: 'HelveticaNeueCyrBold';
  src: url("../fonts/Helvetica/HelveticaNeueCyrBold.eot");
  src: url("../fonts/Helvetica/HelveticaNeueCyrBold.eot") format("embedded-opentype"), url("../fonts/Helvetica/HelveticaNeueCyrBold.woff2") format("woff2"), url("../fonts/Helvetica/HelveticaNeueCyrBold.woff") format("woff"), url("../fonts/Helvetica/HelveticaNeueCyrBold.ttf") format("truetype"), url("../fonts/Helvetica/HelveticaNeueCyrBold.svg#HelveticaNeueCyrBold") format("svg"); }

body {
  color: #093500; }

a {
  color: inherit;
  text-decoration: none;
  transition: .3s; }
  a:hover, a:focus, a:active {
    text-decoration: none; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

button {
  cursor: pointer;
  outline: none; }

.container {
  width: 100%;
  max-width: 675px;
  margin: 0 auto; }

.inner-subheading {
  font-family: "MyriadProRegular", Arial, sans-serif;
  font-size: 20px;
  color: #093500;
  margin: 0 0 15px;
  font-weight: normal;
  transition: .3s; }
  .inner-subheading:hover {
    color: #126800; }

.logo-holder {
  background: linear-gradient(to top, #769715, #99cc01);
  padding: 20px 35px; }
  .logo-holder .main-heading {
    color: #fff;
    margin: 0;
    font-family: 'HelveticaNeueCyrThin', sans-serif;
    font-weight: normal;
    font-size: 32px;
    padding: 5px 0 0; }
    .logo-holder .main-heading span {
      font-family: 'HelveticaNeueCyrBold', sans-serif; }

.subheading {
  margin: 0;
  font-family: 'HelveticaNeueCyrThin', sans-serif;
  font-weight: normal;
  font-size: 32px;
  margin-left: -44px;
  margin-bottom: 15px; }
  .subheading span {
    font-family: 'HelveticaNeueCyrBold', sans-serif; }

.main-nav {
  padding: 0 34px; }

.main-nav-list li {
  display: inline-block;
  position: relative; }
  .main-nav-list li:after {
    position: absolute;
    content: '';
    right: 0;
    top: 49%;
    width: 9px;
    height: 10px;
    transform: translateY(-50%);
    background-image: url(../images/spritesheet.png);
    background-position: -6px 18px; }
  .main-nav-list li a {
    font-family: "MyriadProRegular", Arial, sans-serif;
    font-size: 20px;
    padding: 28px 0 27px;
    display: block;
    transition: .3s; }
    .main-nav-list li a:hover {
      color: #80a60f; }
  .main-nav-list li:nth-child(1) {
    margin-right: 63px; }
    .main-nav-list li:nth-child(1):after {
      right: -37px; }
  .main-nav-list li:nth-child(2) {
    margin-right: 54px; }
    .main-nav-list li:nth-child(2):after {
      right: -35px; }
  .main-nav-list li:nth-child(3) {
    margin-right: 52px; }
    .main-nav-list li:nth-child(3):after {
      right: -33px; }
  .main-nav-list li:nth-child(4) {
    margin-right: 61px; }
    .main-nav-list li:nth-child(4):after {
      right: -39px; }
  .main-nav-list li:nth-child(5):after {
    display: none; }

.greating-block {
  background-color: #eff0fd;
  font-size: 0;
  padding: 0 9px 0 16px; }

.block-img {
  margin: 0;
  display: inline-block;
  width: 46%;
  vertical-align: top; }

.description {
  display: inline-block;
  width: 54%;
  vertical-align: top;
  font-size: 11px;
  font-family: Verdana, Geneva, sans-serif;
  padding-top: 33px; }

.lead {
  color: #80a60f;
  font-size: 11px;
  font-weight: bold;
  font-family: Verdana, Geneva, sans-serif;
  transition: .3s; }
  .lead:hover {
    color: #5c770b; }

.intro {
  margin: 3px 0 11px;
  line-height: 14px;
  color: #093500;
  font-size: 9px;
  padding-right: 10px;
  font-family: Verdana, Geneva, sans-serif; }
  .intro p {
    margin: 2px 0 13px; }
    .intro p:last-child {
      margin-bottom: 0; }

.dashed-arrow {
  width: 11px;
  height: 6px;
  display: block;
  background-image: url(../images/spritesheet.png);
  background-position: -28px 18px;
  margin-left: 4px; }

.information-block {
  padding: 18px 0 0;
  font-size: 0; }

.inner-section {
  display: inline-block;
  vertical-align: top;
  width: 31%;
  padding: 0 24px;
  position: relative; }
  .inner-section:after {
    position: absolute;
    width: 1px;
    height: 100%;
    content: '';
    background: #eeeefb;
    right: 0;
    top: 10px; }

.article-list {
  display: inline-block;
  vertical-align: top;
  width: 58.5%;
  padding: 0 0px 0 21px; }
  .article-list li {
    padding: 19px 0 0;
    border-bottom: 1px solid #eeeefb; }
    .article-list li:first-child {
      padding-top: 0; }
    .article-list li:last-child {
      border-bottom: none; }

.news-article {
  font-size: 0; }
  .news-article .acticle-img {
    margin: 0;
    display: inline-block;
    width: 141px;
    height: 94px;
    position: relative;
    vertical-align: top; }
    .news-article .acticle-img img {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 100%; }
  .news-article .article-description {
    width: calc(100% - 159px);
    display: inline-block;
    vertical-align: top;
    padding-left: 18px; }

.copyright-block {
  border-top: 5px solid #eeeefb;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px;
  padding: 25px 24px; }

.main-wrapper {
  min-height: calc(100vh - 223px); }

.btn-holder {
  display: none;
  padding: 10px 35px; }

.nav-open, .nav-close {
  height: 27px;
  width: 27px;
  background-color: transparent;
  border: none;
  padding: 0; }
  .nav-open span, .nav-close span {
    height: 3px;
    width: 100%;
    display: block;
    background-color: #093500;
    position: relative; }
    .nav-open span:after, .nav-close span:after {
      position: absolute;
      content: '';
      height: 3px;
      width: 100%;
      top: -8px;
      left: 0;
      background-color: inherit; }
    .nav-open span:before, .nav-close span:before {
      position: absolute;
      content: '';
      height: 3px;
      width: 100%;
      top: 8px;
      left: 0;
      background-color: inherit; }

.btn-holder-close {
  display: none; }

.nav-close span {
  background-color: transparent; }
  .nav-close span:after {
    transform: rotate(45deg);
    top: 0;
    background-color: #FA8072; }
  .nav-close span:before {
    transform: rotate(-45deg);
    top: 0;
    background-color: #FA8072; }
