.catalog-menu {
	max-height: calc(100vh - var(--header_height));

	.catalog-card {
		background-color: $color_white;
	}

	&.header-menu {
		position: absolute;
		top: 100%; left: 0;
		width: 100%;
		display: none;
		z-index: 10;
		height: calc(100vh - var(--header_height));

		&.active {
			display: block;
		}

		.catalog-menu-submenu {
			height: calc(100vh - var(--header_height));
		}

		.catalog-card {
			background-color: transparent;
		}

		.header-social {
			display: none;
		}
	}

	.menu-light-cover {
		background-color: $color_white;
	}

	.catalog-tabs {

		.tab-item {

			&.uk-active,
			&.active {

				.cover {
					background-color: rgba($color_secondary, 0.08);
					color: $color_secondary;
				}
			}
		}

		.cover {
			font-size: 16px;
			color: $color_primary;
			padding: 15px 42px 16px 60px;
			font-weight: 600;
			position: relative;
			display: block;
			line-height: 1.2;

			.title-icon {
				position: absolute;
				top: 50%; left: 27px;
				transform: translateY(-50%);
			}

			.caret {
				position: absolute;
				top: 50%; right: 25px;
				transform: translateY(-50%);
				font-size: 10px;
				margin-top: 2px;
			}

			&:hover {
				color: $color_secondary;
			}
		}
	}

	.tab-content {
		background-image: url(../img/logo-mask.png);
		background-repeat: no-repeat;
		background-position: right bottom;
		padding: 10px 15px;
		height: 100%;
	}

	.header-catalog {
		background-color: $hover_transparent;
		height: 100%;
		padding-left: 0;
		padding-right: 0;
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

.tab-content {

	.subheader2 {
		margin-bottom: 0;
	}

	a:hover {

		.subheader2 {
			color: $color_secondary;
		}
	}
}

.catalog-menu-submenu {
	height: 100%;
	max-height: calc(100vh - var(--header_height));
	overflow: auto;

	> .uk-card-body {
		height: 100%;
	}
}

@media (max-width: 1520px) {

	.catalog-menu {

		.catalog-tabs {

			.cover {
				padding: 10px 35px 11px 48px;

				.title-icon {
					left: 20px;
				}

				.caret {
					right: 20px;
				}
			}
		}
	}
}


@media (min-width: 961px) {

	.catalog-menu {

		.catalog-user-options {
			display: none;
		}
	}
}


@media (min-width: 1440px) {

	.catalog-menu {

		.uk-navbar-nav {
			display: none;
		}
	}
}

@media (max-width: 1440px) {

	.catalog-menu {

		.catalog-tabs {

			.cover {
				padding: 10px 42px 9px 60px;
			}
		}

		&.header-menu {

			.header-social {
				display: block;
				margin-top: 10px;
				padding: 20px 42px 0 26px;
				border-top: 1px solid $border_color;

				.subheader2 {
					margin-bottom: 5px;
				}
			}
		}

		.header-catalog {
			overflow: auto;
			max-height: calc(100vh - var(--header_height));

			.main-nav {
				display: block;
				padding: 0;
				margin-top: 15px;
				padding-top: 10px;
				border-top: 1px solid $border_color;

				.uk-navbar-nav {
					display: block;

					.link {
						color: $color_primary;
						text-align: left;
						display: block;
						padding: 10px 42px 9px 26px;

						&:hover {
							color: $color_secondary;
						}
					}

					.uk-navbar-item {
						display: block;

						&.uk-active {

							.link {
								color: $color_secondary;
							}
						}
					}
				}
			}
		}
	}
}


@media (max-width: 1200px) {

	.catalog-menu {

		.catalog-tabs {

			.cover {
				font-size: 14px;
				padding-left: 52px;
			}
		}
	}
}


@media (max-width: 960px) {

	.catalog-menu {

		.button-toggle {

			.icon {
				font-size: 24px;
			}
		}

		.header-catalog {
			padding: 0;
		}

		.mobile-header {
			padding: 10px 0;

			.button-link-icon,
			.uk-button-toggle.uk-button {
				color: $color_primary;
				padding: 8px 10px;
				height: 48px; width: 48px;
				transform: translateY(-8px);

				.icon {
					font-size: 16px;
				}

				&:hover,
				&.uk-active,
				&.active {

					.text {
						color: $color_primary;
					}
				}
			}

			.uk-button-toggle.uk-button {

				&:after {
					display: none;
				}

				&:hover {
					color: $color_red;

					.text,
					.icon {
						color: $color_red;
					}
				}
			}
		}

		.catalog-user-options {

			.list-item {
				margin-bottom: 5px;

				&:last-child {
					margin-bottom: 0;
				}
			}

			.cover {
				padding: 10px 42px 9px 30px;
				display: block;
				font-size: 16px;
				font-weight: 600;
				position: relative;

				.caret, {
					opacity: 1;
					height: auto; width: auto;
					font-size: 10px;
					font-weight: 600;
				}

				.button-count,
				.caret {
					position: absolute;
					right: 0; left: auto;
					top: 50%;
					transform: translateY(-50%);
				}

				.title-icon {
					position: absolute;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
					font-size: 20px;
				}

				&.bordered-cover {
					display: inline-block;
					border: 2px solid $color_secondary;
					padding: 10px 29px 9px 25px;

					&:before {
						display: none;
					}

					.title-icon {
						position: static;
						transform: translateY(-2px);
						margin-right: 6px;
					}
				}
			}
		}

		.catalog-tabs {

			.cover {
				font-size: var(--subheader2-font-size);
			}
		}
	}

	.catalog-menu.header-menu {
		position: fixed;
		top: 0; left: 0;
		background-color: $color_white;
		height: 100%;
		max-height: none;

		.catalog-menu-submenu {
			display: none;
		}

		.header-catalog {
			background-color: transparent;
		}

		.header-social {
			padding-left: 0;
			padding-right: 0;
			overflow: hidden;
		}
	}

	.catalog-menu-overlay {
		display: none;

		&.active {
			display: block;
		}
	}

	.catalog-menu {

		.header-catalog {

			.main-nav {

				.uk-navbar-nav {

					.link {
						padding-left: 0;
					}
				}
			}
		}
	}
}