.selected-tags {
	padding: 4px 0;
	margin: 0 -2px;
	margin-bottom: 15px;

	.tag-cover {
		padding: 2px;
		display: inline-block;
	}
}

.header-filter {
	margin-bottom: 20px;

	.filter-back-button {
		padding: 0;
		height: 42px; width: 42px;
		transform: translateY(4px);
	}

	.filter-title {
		line-height: 1;
	}

	.download-link {
		color: $color_secondary;
		font-size: 28px;
		text-transform: uppercase;
		font-weight: 600;

		&:hover {
			color: $color_secondary_hover;
		}
	}
}

.elements-sorting {
	border-top: 1px solid $border_color;
	padding-top: 15px;
	padding-bottom: 15px;
}

.catalog-filters {

	.header-title {
		padding: $accordion-padding-vertical $accordion-padding-horizontal;
		background-color: $color_white;

		.color-black {
			color: $color-black;
		}
	}

	.uk-accordion {
		margin: 0;
	}
}
