.form {

	.input {
		display: inline-block;
		padding: 5px 22px;
		line-height: 40px;
		font-size: var(--font-size);
		color: $color_primary;
		height: auto;

		&::placeholder {
			color: $color_primary;
		}
	}

	textarea {
		display: block;
		width: 100%;
		resize: none;
		display: inline-block;
		padding: 5px 22px;
		line-height: 40px;
		font-size: var(--font-size);
		color: $color_primary;
		font-family: $font;

		&.small {
			height: 52px;
		}
	}

	.form-group {

		&.error {

			.input {
				color: $color_error;

				&::placeholder {
					color: $color_error;
				}
			}

			.icon {
				color: $color_error;
			}
		}

		&:hover {

			.input {
				color: $color_dark;

				&::placeholder {
					color: $color_dark;
				}
			}

			.icon {
				color: $color_dark;
			}
		}
	}

	.form-group.form-icon-group {
		position: relative;

		.input {
			padding-left: 50px;
		}

		&.with-icon {
			padding-left: 50px;
		}

		.icon {
			position: absolute;
			left: 15px; top: 50%;
			transform: translateY(-50%);
			color: $color_primary;
			font-size: 24px;
		}
	}

	.checkbox-cover {
		margin-bottom: 10px;
		color: $color_black;

		label {
			cursor: pointer;
			display: block;
		}

		input {
			margin-right: 10px;
		}

		&:last-child {
			margin-bottom: 0;
		}

		&:hover {
			color: $color_secondary;
		}
	}

	.checkbox-tabs {
		white-space: nowrap;
		font-size: 0;
		margin: 20px 0;
		padding: 0;

		.checkbox-group {
			font-size: 16px;
			position: relative;
			display: inline-block;

			input {
				position: absolute;
				top: 0; left: 0;
				visibility: hidden;
				opacity: 0;

				&:checked {

					~ label {
						background-color: $color_primary;
						color: $color_white;

						&:hover {
							background-color: $color_primary;
							color: $color_white;
						}
					}
				}
			}

			.label {
				border: 1px solid rgba($color_primary, 0.1);
				border-left: none;
				cursor: pointer;
				padding: 15px 20px;
				display: block;
				transition: .2s;

				&:hover {
					background-color: rgba($color_primary, 0.1);
					color: $color_primary;
				}
			}

			&:first-child {

				.label {
					border-left: 1px solid rgba($color_primary, 0.1);
				}
			}
		}

		li {
			display: inline-block;

			a {
				padding: 15px 20px;
				transition: .2s;
				border: 1px solid rgba($color_primary, 0.1);
				border-left: 0;
				font-size: 16px;
				line-height: 1.46;

				&:hover {
					color: $color_primary;
					background-color: rgba($color_primary, 0.1);
				}
			}

			&.uk-active {

				a {
					background-color: $color_primary;
					color: $color_white;
				}
			}

			&:first-child {

				a {
					border-left: 1px solid rgba($color_primary, 0.1);
				}
			}
		}
	}

	.uk-radio {
		margin-right: 10px;
	}
}

.radio-group {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	margin-right: 5px;

	&:last-child {
		margin-right: 0;
	}

	input {
		position: absolute;
		visibility: hidden;
		opacity: 0;

		&:checked {

			~ label {
				border-color: $color_secondary;
			}
		}
	}

	label {
		height: 30px; width: 30px;
		display: inline-block;
		border-radius: 50%;
		overflow: hidden;
		border: 2px solid transparent;
		cursor: pointer;
	}
}



.form.inline-form {
	display: flex;
}

.selecter-cover {
	display: inline-block;
	margin-right: 10px;

	&:last-child {
		margin-right: 0;
	}

	.select-label {
		margin-right: 10px;
		color: rgba($color_black, 0.6);
	}

	.select {
		border: 0;
		height: 42px;
		padding: 5px 10px;
		font-family: $font;
		font-size: $font-size;
		cursor: pointer;
	}
}

.form.lined-form {
	padding: 15px 20px;
	border: 1px solid $color_secondary;
	margin: 20px 0;

	&.primary-line {
		border-color: $color_primary;
	}

	&.filled-form {
		background-color: $hover_transparent;
	}

	.align-right {
		justify-content: end;
		display: flex;
	}

	.uk-grid {
		align-items: center;
	}
}

@media (max-width: 1440px) {

	.form {

		.input {
			padding-top: 1px;
			padding-bottom: 2px;
			padding-left: 12px;
			padding-right: 12px;
		}

		textarea {
			padding-left: 12px;
			padding-right: 12px;
		}

		.checkbox-tabs {

			.checkbox-group {

				.label {
					padding: 10px 16px;
				}
			}
		}
	}

	.selecter-cover {

		.select {
			padding-left: 37px;
			background-image: url(../img/sort_icon_bg.png);
			background-repeat: no-repeat;
			background-position: 10px center;
		}
	}

	.order-details-card {

		.headers {

			.title{
				font-size: 30px;
			}
		}
	}
}

@media (max-width: 1200px) {

	.selecter-cover {

		.select {
			padding-top: 5px;
			padding-bottom: 5px;
			padding-right: 5px;
		}
	}
}

@media (max-width: 960px) {

	.form.lined-form {

		.subtitle {
			text-align: left;
			font-size: 12px;
			letter-spacing: 0.78px;
			color: $color_primary;
			margin-bottom: 5px;
			text-transform: uppercase;
			font-weight: 500;
		}

		.align-right {
			display: block;
			margin-top: 20px;
		}

		.form.inline-form {
			width: 100%;

			.form-group {
				flex: 1;
			}
		}
	}
}

@media (max-width: 960px) {

	.uk-width-full-small {

		&.selecter-cover {
			padding-left: 10px;

			select {
				width: 100%;
			}
		}
	}
}

@media (max-width: 640px) {

	.form {

		.input {
			height: 36px;
			padding: 5px 10px;
		}

		.form-group.form-icon-group {

			.input {
				padding-left: 32px;
			}

			.icon {
				font-size: 16px;
			}
		}
	}
	.selecter-cover {

		.select {
			padding-top: 5px;
			padding-bottom: 5px;
			padding-right: 10px;;
		}
	}
}