.form {

	.input {
		display: inline-block;
		padding: 6px 22px;
		height: 55px;
		line-height: 40px;
		font-size: var(--font-size);
		color: $color_primary;

		&::placeholder {
			color: $color_primary;
		}
	}

	.form-group {

		&.error {

			.input {
				color: $color_error;

				&::placeholder {
					color: $color_error;
				}
			}

			.icon {
				color: $color_error;
			}
		}

		&:hover {

			.input {
				color: $color_dark;

				&::placeholder {
					color: $color_dark;
				}
			}

			.icon {
				color: $color_dark;
			}
		}
	}

	.form-group.form-icon-group {
		position: relative;

		.input {
			padding-left: 50px;
		}

		&.with-icon {
			padding-left: 50px;
		}

		.icon {
			position: absolute;
			left: 10px; top: 50%;
			transform: translateY(-50%);
			color: $color_primary;
			font-size: 24px;
		}
	}

	.checkbox-cover {
		margin-bottom: 10px;
		color: $color_black;

		label {
			cursor: pointer;
			display: block;
		}

		input {
			margin-right: 10px;
		}

		&:last-child {
			margin-bottom: 0;
		}

		&:hover {
			color: $color_secondary;
		}
	}
}

.form.inline-form {
	display: flex;
}

.selecter-cover {
	display: inline-block;
	margin-right: 10px;

	&:last-child {
		margin-right: 0;
	}

	.select-label {
		margin-right: 10px;
		color: rgba($color_black, 0.6);
	}

	.select {
		border: 0;
		height: 42px;
		padding: 5px 10px;
		font-family: $font;
		font-size: $font-size;
		cursor: pointer;

		&:hover {
			// background-color: $hover_transparent;
		}
	}
}

@media (max-width: 1768px) {

	.form {

		.input {
			height: 45px;
		}
	}
}

@media (max-width: 640px) {

	.form {

		.input {
			height: 34px;

			&.with-icon {
				padding-left: 35px;
			}
		}

		.form-group.form-icon-group {

			.icon {
				font-size: 16px;
			}
		}
	}
}