.info-card {
	display: block;
	position: relative;

	.element-figure {
		margin: 0;
		padding-top: 41.7%;

		.smaller {
			height: calc(100% - 40px);
		}

		.image-caption {
			position: absolute;
			z-index: 2;
			bottom: 0; left: 0;
			width: 100%;
			color: $color_white;
			font-weight: 600;
			font-size: var(--subheader1-font-size);
			padding: 13px 23px;
			letter-spacing: 0;
			background-color: $color_primary;
			transition: .2s;
			

			&.caption-small {
				font-size: var(--subheader2-font-size);
			}
		}

		&:before {
			content: '';
			position: absolute;
			top: 0; left: 0;
			bottom: 0; right: 0;
			background-image: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,.5));
			z-index: 1;
		}

		&:after {
			content: '';
			position: absolute;
			top: 0; left: 0;
			bottom: 0; right: 0;
			background-color: $color_secondary_transparent;
			z-index: 1;
			transition: .3s;
			transform: scale(0.95);
			opacity: 0;
			pointer-events: none;
		}

	}

	&:hover {

		.element-figure {

			.image-caption {
				background-color: $color_secondary;
				text-decoration: underline;
			}
		}

		.element-figure {

			&:after {
				transform: scale(1);
				opacity: 1;
			}
		}
	}
}

.info-card.info-card-smaller {

	.element-figure {
		padding-top: 63.2%;
	}
}

@media (max-width: 1768px) {

	.info-card {

		.element-figure {

			.smaller {
				height: 100%;
			}
		}
	}
}