$header_height: 73px;

/*document*/
:root {
	--header_height: #{$header_height};
}

.main-header {
	background-color: $color-primary;
	height: var(--header_height);
	position: relative;
	z-index: 999;

	.uk-logo {
		width:170px;

		.desktop-logo {
			display: block;
		}

		.mobile-logo {
			display: none;
		}
	}

	.main-nav {
		padding-left: 24px;
		padding-right: 7px;
	}

	.navbar-cover {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	.uk-navbar-nav > li > .link {
		font-size: 15px;
		font-weight: 600;
		padding: 26px 23px;
		color: $color_white;
		display: block;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 0; left: 0;
			height: 100%; width: 100%;
			background-color: $hover_transparent;
			transition: .2s;
			transform: scaleY(0.7);
			opacity: 0;
		}

		.text {
			position: relative;
			z-index: 2;
		}

		&:hover {
			color: $color_white;

			&:before {
				transform: scaleY(1);
				opacity: 1;
			}
		}
	}

	.uk-navbar-nav > li.uk-active > {

		.link {
			color: $color_white;

			&:before {
				transform: scaleY(1);
				opacity: 1;
			}
		}
	}

	.button.button-menu {
		width: 34px;
		min-width: auto;
		padding: 0;
		margin-right: 20px;
		margin-left: 18px;
		overflow: visible;

		.lines {
			transition: .2s;
			position: relative;
			z-index: 1;
		}

		&:after {
			content: '';
			position: absolute;
			top: 50%; left: 50%;
			height: 55px; width: 55px;
			border-radius: 50%;
			background-color: $hover_transparent;
			transform: translate(-50%, -50%) scale(0);
			transition: .2s;
		}

		&:hover {
			color: $color_white;

			&:after {
				transform: translate(-50%, -50%) scale(1);
			}

			.lines {
				transform: scale(0.9);
			}
		}
	}

	.spaced-right {
		margin-right: 10px;
	}

	.button-link {
		color: $color_white;
		position: relative;
		background-color: transparent;
		padding: 17px 13px;

		.icon,
		.text {
			position: relative;
			z-index: 1;
		}

		&:after {
			content: '';
			position: absolute;
			top: 50%; left: 50%;
			height: 42px; width: 42px;
			border-radius: 50%;
			background-color: $hover_transparent;
			transform: translate(-50%, -50%) scale(0);
			transition: .2s;
			border-radius: 50%;
		}

		&:hover {
			color: $color_white;

			&:after {
				transform: translate(-50%, -50%) scale(1);
			}
		}
	}

	.user-menu {
		flex: 1;
		max-width: 506px;
	}

	.menu-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 10px;

		.search-form {
			flex: 1;
		}
	}

	.user-menu-card {
		width: 170px;
		position: absolute;
		right: 0; left: auto !important;
		top: var(--header_height) !important;

		.logout-button {
			position: absolute;
			right: 0; top: 0;
			color: $color_primary;

			.icon {
				font-size: 18px;
			}

			&:hover {
				color: $color_secondary;
			}
		}
	}

	.user-menu-list {
		text-align: center;

		.text {
			padding: 7px 20px;
			font-size: 16px;
			color: $color_primary;
			font-weight: 600;
			display: block;

			&:hover:not(div) {
				color: $color_secondary;
			}
		}

		.currency {
			color: $color_secondary;
			background-color: $color_secondary_transparent;
			padding: 4px 15px;
			border-radius: 40px;
			display: inline-block;
			text-transform: uppercase;
			margin-top: 6px;
			font-weight: 500;
		}
	}

	.menu-fader {
		background-color: rgba($color_black, 0.2);
		transition: .3s;
		position: fixed;
		top: 0; left: 0;
		height: 100%; width: 100%;
		transform-origin: center;
		opacity: 0;
		z-index: 2;
		pointer-events: none;

		&.active {
			opacity: 1;
		}
	}
}


@media (min-width: 1769px) {

	.main-header {

		.uk-navbar-nav {
			gap: 0;
		}
	}
}

@media (max-width: 1768px) {
	$header_height: 63px;

	:root {
		--header_height: #{$header_height};
	}

	.main-header {

		.uk-logo {
			width: 120px;
		}

		.button-link {
			padding: 12px 13px;
		}

		.uk-navbar-nav {
			gap: 0;

			> li > .link {
				padding: 21px 18px;
			}
		}
	}
}

@media (max-width: 1560px) {

	.main-header {

		.uk-navbar-nav > li > {

			.link {
				padding: 21px 12px;
				font-size: 14px;
			}
		}

		.main-nav {
			padding-left: 10px;
		}
	}
}


@media (max-width: 1440px) {

	.main-header {

		.uk-logo {
			width: 120px;
		}

		.uk-navbar-nav {
			gap: 0;

			> li > .link {
				font-size: 16px;
			}
		}

		.user-menu {
			margin-left: 20px;
			max-width: none;
		}

		.main-nav {
			display: none;
		}
	}
}

@media (max-width: 768px) {

	.main-header {

		.navbar-cover {

			.user-options {
				display: none;
			}
		}

		.login-button {

			.spaced-right {
				margin: 7px 0;
			}
		}
	}
}

@media (max-width: 960px) {

	.main-header {

		.catalog-button-cover {
			padding: 0;
			margin-top: 10px;
		}
	}

	.main-header {

		.uk-navbar-nav > li > {

			.link:before {
				background-color: transparent;
				content: '\e903';
				font-family: 'icomoon' !important;
				opacity: 1;
				height: auto; width: auto;
				font-size: 10px;
				top: 50%;
				transform: translateY(-50%) scaleY(1);
				right: 0; left: auto;
			}

			.link:hover:before {
				transform: translateY(-50%) scaleY(1);
			}
		}
	}
}

@media (max-width: 640px) {

	.main-header {

		.user-menu {
			margin-left: 18px;
		}

		.spaced-right {
			margin-right: 0;
		}

		.menu-inner {
			gap: 12px;
		}

		.button.button-menu {
			margin-right: 18px;
			width: 30px;
		}

		.uk-logo {
			width: 36px;

			.desktop-logo {
				display: none;
			}

			.mobile-logo {
				display: block;
			}
		}
	}
}

@media (max-width: 340px) {

	.main-header {

		.button.button-menu {
			margin: 0 5px;
		}

		.menu-inner {
			gap: 0;
		}

		.user-menu {
			margin: 0 5px 0 10px;
		}
	}

}