.cart-footer {

	.uk-grid {
		align-items: center;
	}

	.uk-button {
		padding: 8px 28px;
		font-size: 16px;
		font-weight: 600;
	}
}


@media (max-width: 960px) {

	.cart-footer {
		padding-top: 0;

		> .uk-grid {
			flex-direction: column-reverse;
			width: 100%;
			margin-left: 0;

			> .uk-grid-margin {
				margin-top: 0;
				padding-left: 0;
			}
		}

			> div {
			padding: 0;
		}
	}
}

@media (max-width: 640px) {

	.cart-footer {
		padding-bottom: 20px;

		.price-cover {
			width: 100%;
			padding: 0;
			margin-left: 30px;
		}

		.uk-button {
			width: 100%;
		}

		.lined-form {

			.uk-button {
				margin-left: 30px;
				margin-top: 10px;
			}
		}
	}

}