$footer_height: 448px;

/*document*/
:root {
	--footer_height: #{$footer_height};
}

.page-main {
	min-height: calc(100vh - var(--footer_height) + var(--header_height));
	background-color: $color_whitesmoke;
	padding-bottom: 74px;

	.menu-cover {
		height: fit-content;
	}

	.centered-title {
		text-align: center;
		padding-top: 50px;
	}
}

.menu-cover-page {
	position: relative;

	.catalog-submenu-page {
		position: absolute;
		right: 0; left: calc(100% / 6);
		z-index: 5;
		width: calc(100% - 100% / 6);

		.submenu-cover {
			display: none;

			&.active {
				display: block;
			}
		}

		.tab-content {
			background-color: $color_white;
			padding: 10px 30px 30px;
			max-height: calc(100vh - var(--header_height));
			position: relative;
			overflow: auto;

			&:after {
				content: '';
				background-color: rgba($color_black, 0.2);
				transition: .3s;
				position: fixed;
				top: 0; left: 0;
				height: 100%; width: 100%;
				transform-origin: center;
				z-index: -1;
				pointer-events: none;
			}
		}
	}
}

.tab-content {
	display: none;

	&.active {
		display: block;
	}
}


.main-menu-grid {

	.menu-cover {
		width: calc(100% / 6);
		max-width: 100%;
	}

	.slider-cover,
	.catalog-submenu-page {
		width: calc(100% - 100% / 6);
	}
}


@media (max-width: 1720px) {

	.main-menu-grid {

		.menu-cover {
			width: calc(100% / 5);
		}

		.slider-cover {
			width: calc(100% - 100% / 5);
		}

		.catalog-submenu-page {
			right: 0; left: calc(100% / 5);
			width: calc(100% - 100% / 5);
		}
	}
}

@media (max-width: 1440px) {

	.main-menu-grid {

		.menu-cover {
			width: calc(100% / 4);
		}

		.slider-cover {
			width: calc(100% - 100% / 4);
		}

		.catalog-submenu-page {
			right: 0; left: calc(100% / 4);
			width: calc(100% - 100% / 4);
		}
	}
}

@media (max-width: 1200px) {

	.main-menu-grid {

		.menu-cover {
			width: calc(100% / 3.3);
		}

		.catalog-submenu-page {
			right: 0; left: calc(100% / 3.3);
			width: calc(100% - 100% / 3.3);
		}
	}
}

@media (max-width: 960px) {

	.page-main {
		padding-bottom: 50px;

		.catalog-grid {
			margin-top: 20px;

			.info-card.info-card-smaller {

				.element-figure {
					padding-top: 56%;
				}
			}
		}
	}

	.main-menu-grid {

		.menu-cover {
			width: 100%;
			max-width: 100%;
		}

		.slider-cover,
		.catalog-submenu-page {
			width: 100%;
		}
	}

	.catalog-tabs-overlay {
		position: fixed;
		top: 0; left: 0;
		background-color: $color_white;
		width: 100%; height: 100%;
		z-index: 999;
		display: none;

		.mobile-header {
			padding: 15px 0 10px 20px;
		}

		&.active {
			display: block;
		}
	}

	.button-overlay {
		display: block !important;
	}

	.page-cover {

		> .uk-card-body,
		> .uk-card-small.uk-card-body {
			padding: 0;
		}
	}

	.menu-cover-page {
		position: static;

		.catalog-submenu-page {
			position: absolute;
			z-index: 99999;
			right: auto;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			pointer-events: none;

			.submenu-cover {

				&.active,
				&.touch-active {
					pointer-events: visible;
					position: relative;
					z-index: 8;
					top: 63px;
				}
			}

			.tab-content {

				&:after {
					display: none;
				}

				.back-button {
					position: relative;
					font-size: var(--subheader2-font-size);
					padding: 0 0 0 29px;
					font-weight: 600;
					display: block;
					margin-bottom: 10px;
					color: $color_secondary;
					width: 100%;
					text-align: left;

					&:after {
						content: '';
						background-color: $hover_transparent;
						height: 100%;
						width: calc(100% + 60px);
						left: -30px; right: -30px;
						top: 0;
						position: absolute;
					}

					.title-icon {
						position: absolute;
						left: 0; top: 50%;
						transform: translateY(-50%);
					}

					.back-icon {
						position: absolute;
						right: calc(100% + 10px); top: 50%;
						transform: translateY(-50%);
					}
				}

				.uk-accordion.uk-accordion-mobile,
				.uk-grid-small>.uk-grid-margin {
					margin: 0;
				}
			}
		}

		.catalog-tabs {
			transition: transform .2s;
		}
		.catalog-tabs.touch-active,
		.catalog-tabs.active {
			transform: translateX(-100%);
		}
	}
}

@media (max-width: 960px) {

	.breadcrumbs {
		display: none;
	}

	.page-main {

		.centered-title {
			padding-top: 30px;
		}
	}
}

@media (max-width: 640px) {

	.page-main {
		padding-bottom: 20px;

		.centered-title {
			text-align: left;
			padding-top: 20px;
		}
	}

	.main-menu-grid {

		.slider-cover {
			width: calc(100% + 30px);
		}
	}
}