.price {
	font-size: var(--font-size);
	font-weight: 600;
	line-height: 1;
	white-space: nowrap;

	.digit {
		font-size: var(--subheader2-font-size);
		margin-right: 3px;
	}

	.old {
		font-size: var(--font-size_smaller);
		display: block;
		font-weight: 500;
		text-decoration: line-through;
	}
}

.price-cover {
	text-align: right;
	padding-right: 20px;
}

.total-price {
	font-size: 32px;
	font-weight: 700;
	white-space: nowrap;
}

.price-large {
	white-space: nowrap;
	color: $color_primary_hover;
	font-weight: 700;
	font-size: 32px;
}

@media (max-width: 1780px) {

	.price-large,
	.total-price {
		font-size: 26px;
	}
}


@media (max-width: 1200px) {

	.price-large,
	.total-price {
		font-size: 20px;
	}
}