.section-info {
	padding-top: 73px;
	padding-bottom: 48px;

	.section-title {
		margin-bottom: 23px;
	}

	.uk-text-meta {
		max-width: 66%;
		margin: 0 auto;
		display: block;
	}

	.uk-grid {
		margin-top: 59px;

		> div:not(.uk-first-column) {
			padding-left: 20px;
		}

		> .uk-grid-margin {
			margin-top: 20px;
		}
	}
}

@media (max-width: 1440px) {

	.section-info {
		padding-top: 43px;
		padding-bottom: 28px;

		.uk-grid {
			margin-top: 33px;
		}

		.uk-text-meta {
			max-width: 90%;
			font-size: var(--font-size);
		}
	}
}