.special-offers {
	padding-top: 51px;
	padding-bottom: 48px;

	.section-title {
		margin-bottom: 24px;
	}

	.uk-grid-small {

		> div:nth-child(even) {
			padding-left: 20px;
		}

		> .uk-grid-margin {
			margin-top: 25px;
		}
	}
}


@media (max-width: 640px) {

	.special-offers {
		padding-top: 15px;
		padding-bottom: 15px;
	}
}