.tabs-navigation {
	margin-bottom: 23px;

	.tabs-slider {
		padding: 0 38px;

		.uk-slidenav {
			height: 100%;
			width: 35px;
			border-radius: 0;
			position: relative;

			svg {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}
		}

		.uk-position-center-right {

			svg { right: 0; }
		}

		.uk-position-center-left {

			svg { left: 0; }
		}
	}

	.tab-item {
		font-size: var(--font-size);
		text-transform: uppercase;
		letter-spacing: 0.9px;
		display: inline-block;
		font-weight: 600;
		position: relative;
		white-space: nowrap;
		text-align: center;
		cursor: pointer;
		line-height: 1.4;
		margin-right: 29px;
		color: $color_primary;
		border: 2px solid transparent;

		a {
			color: $color_primary;
			padding: 15px 15px 12px;
		}

		&:after {
			content: '';
			height: 13px; width: 1px;
			background-color: $color_primary;
			position: absolute;
			right: -16px; top: 50%;
			transform: translateY(-50%);
		}

		&:before {
			content: '';
			position: absolute;
			top: 0; left: 0;
			height: 100%; width: 100%;
			background-color: $hover_transparent;
			transition: .2s;
			transform: scaleY(0.8);
			opacity: 0;
		}

		&.active,
		&.filter-active {
			border: 2px solid $color_secondary;
		}

		&:last-child {

			&:after {
				display: none;
			}
		}

		&:hover {

			&:before {
				transform: scaleY(1);
				opacity: 1;
			}
		}
	}
}