h1, h2, h3, h4, h5 {
	text-transform: none;
	font-weight: 500;
	color: $color_primary;

	&::selection {
		color: $color_white;
		background-color: $color_primary;
	}
}

div, a, p, span {

	&::selection {
		color: $color_white;
		background-color: $color_primary;
	}
}

h1,
.h1-header-font {
	font-size: var(--h1-font-size);
}

h2,
.h2-header-font {
	font-size: var(--h2-font-size);
}

h3,
.h3-header-font {
	font-size: var(--h3-font-size);
}

h4,
.h4-header-font {
	font-size: var(--h4-font-size);
}

.subheader1 {
	font-size: var(--subheader1-font-size);
	color: $color_primary;
	text-transform: none;
	font-weight: 600;
}

.subheader2 {
	font-size: var(--subheader2-font-size);
	color: $color_primary;
	text-transform: none;
	font-weight: 600;
}

.subheader3 {
	font-size: var(--subheader3-font-size);
	color: $color_primary;
	text-transform: none;
	font-weight: 600;
}

.icon-line {
	width: 20px;
	height: 1px;
	background-color: $color_primary;
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	transition: .2s;
}

.round-hover {
	position: relative;

	&:before {
		content: '';
		position: absolute;
		top: 50%; left: 50%;
		height: 42px; width: 42px;
		background-color: $hover_transparent;
		transition: .2s;
		transform: translate(-50%, -50%) scaleY(0.7);
		opacity: 0;
		border-radius: 50%;
	}

	&.active,
	&:hover {

		&:before {
			transform: translate(-50%, -50%)  scaleY(1);
			opacity: 1;
		}
	}
}



@media (max-width: 768px) {


}