@import '../variables.scss';

.alert-block {
	border-radius: calc(var(--border-radius) / 2);
	padding: calc(var(--space-gap)* 1.6 + 3px) calc(var(--padding) * 1) calc(var(--space-gap)* 1.6);
	height: var(--squere_button_size);
	position: relative;
	z-index: 1;

	&.alert-primary {
		background-color: rgba($color_primary, 0.1);
		border: 1px solid rgba($color_primary, 0.3);
	}

	&.alert-info {
		background-color: rgba($color_info, 0.1);
		border: 1px solid rgba($color_info, 0.3);
	}

	&.alert-danger {
		background-color: rgba($color_danger, 0.1);
		border: 1px solid rgba($color_danger, 0.3);
	}
}