@import '../variables.scss';

.dropdown {
	position: relative;
	text-align: left;
	font-size: var(--font-size);

	.anchor {
		background-color: $color_primary_button;
		color: $color_primary;
		box-shadow: 0px 2px 0px $color_primary_button_shadow;
		font-size: var(--button_font-size);
		padding: var(--space-gap) calc(var(--padding)*2) var(--space-gap) var(--space-gap);
		cursor: pointer;

		&.button-square {
			padding: var(--space-gap);
			text-align: center;
			font-size: var(--button_icon_font-size);
			line-height: 1.4;

			&.nav-button {
				border-radius: var(--border-radius);
			}
		}

		&.button-transparent {
			background-color: transparent;
			box-shadow: none;
		}

		.user-image {
			height: var(--squere_button_size); width: var(--squere_button_size);
			overflow: hidden;
			display: inline-block;
			vertical-align: middle;
			margin-right: var(--space-gap);
		}

		.text {
			display: inline-block;
			vertical-align: middle;
		}

		.anchor-icon {
			position: absolute;
			right: calc(var(--space-gap)*3);
			top: 50%;
			font-size: 0.8em;
			transform: translateY(-50%);
		}
	}

	.dropdown-content {
		display: none;
		position: absolute;
		top: 100%; right: 0;
		margin-top: var(--space-gap);
		box-shadow: 0px 1px 3.5px #d9d9d9;
		width: 100%;
		min-width: 386px;
		border-radius: var(--border-radius);
		z-index: 10;

		.head {
			padding: var(--padding) calc(var(--padding)*2) var(--padding) calc(var(--padding)*0.75);
			background-color: $color_secondary_button;
			position: relative;
			z-index: 2;
			border-radius: var(--border-radius) var(--border-radius) 0 0;

			&:before {
				border-left: 7px solid transparent;
				border-right: 7px solid transparent;
				border-bottom: 10px solid $color_secondary_button;
				top: -9px;
				content: '';
				right: 20%;
				margin-left: -10px;
				position: absolute;
			}

			.text {
				color: $text_color;
				font-size: var(--button_font-size);
				font-weight: bold;

				.icon {
					color: $color_primary;
					margin-right: var(--margin);
					vertical-align: baseline;
				}
			}

			.close-dropdown {
				color: $color_primary;
				position: absolute;
				top: 0; right: 0;
				height: 100%;
				width: var(--squere_button_size);

				&:hover {
					color: $color_danger;
				}
			}
		}

		.bottom {
			padding: var(--padding) calc(var(--padding)*0.75);
			background-color: $color_white_clear;
			border-radius: 0 0 var(--border-radius) var(--border-radius);

			&.collapsed-top {
				padding-top: 0;
			}
		}
	}

	&.active {

		.anchor {

			.anchor-icon {
				transform: translateY(-50%) rotate(180deg);
			}
		}

		.dropdown-content {
			display: block;
		}
	}
}



.dropdown.static {

	.dropdown-content {
		position: static;
		box-shadow: none;
		padding: var(--padding);
		width: 100%;
		min-width: auto;
		margin-top: 0;
	}
}


.dropdown[data-origin="right"] {

	.dropdown-content {
		right: auto; left: -30px;

		.head {

			&:before {
				position: absolute;
				right: auto; left: 52px;
			}
		}
	}
}