/* Gilroy */
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/gilroy/Gilroy-Bold.ttf') format('truetype'),
		url('../fonts/gilroy/Gilroy-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/gilroy/Gilroy-Regular.ttf') format('truetype'),
		url('../fonts/gilroy/Gilroy-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}