@import '../variables.scss';

:root {
	--upload-files_height: 210px;
	--upload-files_width: 280px;
}

.form {

	.input-cover {
		margin-bottom: calc(var(--margin)*2);
		position: relative;

		&.collapsed-bottom {
			margin-bottom: 0;
		}

		.alert {
			position: absolute;
			color: $color_danger;
			position: absolute;
			right: 0; bottom: 100%;
			font-size: var(--font-size);
			transform: translateY(10px);
			opacity: 0;
		}
	}

	.label {
		font-weight: bold;
		font-size: var(--font-size_large);

		&.spaced-bottom {
			margin-bottom: var(--margin);
			display: inline-block;
		}
	}

	.input-cover.with-label {
		padding-left: 65px;

	.label {
		position: absolute;
		max-width: 55px;
		left: 0; top: 50%;
		transform: translateY(-50%);
	}

		&.large-space {
			padding-left: 135px;

			.label {
				max-width: 120px;
			}
		}
	}

	.input-cover.bottom-label {

		.label {
			margin-bottom: var(--margin);
			display: block;
		}
	}

	.input {
		display: block;
		font-size: var(--font-size);
		font-family: $font;
		overflow: hidden;
		text-overflow: ellipsis;
		vertical-align: middle;
		white-space: nowrap;
		position: relative;
		z-index: 1;
		border-radius: 0;
		text-align: left;
		transition: .2s;
		text-decoration: none;
		border: none;
		width: 100%;
		background-color: transparent;
		border: 1px solid $color_gray;
		background-color: $color_white_clear;
		padding: calc(var(--margin)*1.3);
		border-radius: calc(var(--border-radius)/2);

		&.smaller-input {
			padding: var(--space-gap) calc(var(--space-gap)*2);
			height: 29px;
		}

		&:hover,
		&:focus {
			border-color: #8ba4ff;
		}
	}

	.textarea {
		@extend .input;
		height: 120px;
		resize: none;
		white-space: normal;
	}

	.select {
		@extend .input;
		padding-top: var(--space-gap);
		padding-bottom: var(--space-gap);

		&::-ms-expand {
			display: none;
		}
	}


	&.spaced-top {
		margin-top: calc(var(--margin)*2);
	}

	.load-cover {
		position: relative;

		[type="file"] {
			opacity: 0;
			visibility: hidden;
			position: absolute;
			top: 0; left: 0;
		}

		.files-cover {
			display: inline-block;
			vertical-align: top;
			height: calc(var(--upload-files_height)/2.5);
			width: calc(var(--upload-files_width)/2.5);
			position: relative;
			background-color: #d2ecff;
			border-radius: var(--border-radius);
			padding: 0;
			overflow: hidden;
			position: relative;
			margin-right: var(--margin);
			margin-top: calc(var(--margin)*2);

			&.error-cover {
				background-image: url(../img/picture-broken.svg);
				background-repeat: no-repeat;
				background-position: center;
				background-size: 50%;
				padding: var(--padding);
				color: $color_danger;
			}

			img,
			video {
				position: absolute;
				top: 0; left: 50%;
				height: 100%; width: auto;
				transform: translateX(-50%);
			}
		}
	}

	.label-file {
		height: 200px; width: 100%;
		border: 3px dashed $color_primary_button;
		transition: .2s;
		cursor: pointer;
		position: relative;
		display: block;

		.caption {
			position: absolute;
			top: 50%; left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
			color: $color_primary_button;
			transition: .2s;

			.icon {
				font-size: 50px;
				margin-bottom: var(--margin);
			}

			.text {
				font-size: var(--h3-font-size);
			}
		}

		&:hover,
		&.hover {
			border-color: $color_primary;

			.caption {
				color: $color_primary;
			}
		}
	}
}