@import '../variables.scss';

:root {
	--login-form_height: 415px;
	--login-form_width: 385px;
}

.login-page {
	height: 100%;
	overflow: hidden;
	text-align: center;

	.login-form {
		height: var(--login-form_height);
		width: var(--login-form_width);
		display: inline-block;
		text-align: left;

		.input-cover {

			.right-icon {
				position: absolute;
				height: 100%; width: 49px;
				background-color: #ededed;
				color: #d9d9d9;

				&[data-show] {
					cursor: pointer;
					transition: .2s;

					&:hover {
						
					}
				}
			}
		}
	}
}