@import '../variables.scss';

:root {
	--scroll-size: 14px;
}

.main-header {
	position: relative;
	z-index: 12;

	.header-top {
		background-color: $color_white;
		padding: calc(var(--padding)*0.7) calc(var(--padding) + var(--scroll-size)) calc(var(--padding)*0.7) var(--padding);
	}

	nav {
		white-space: nowrap;

		.simple-list {
			white-space: normal;
			padding: 0;
		}
	}

	.user-data {
		display: grid;
		grid-template-columns: var(--user-image_size) calc(100% - var(--user-image_size) - var(--margin)*1.5);
		grid-gap: calc(var(--margin)*1.5);
		margin-bottom: calc(var(--margin)*1.5);
	}

	.underlined-list.dropdown-list {
		max-height: 300px;
		overflow: auto;
		padding-right: var(--padding);
		margin-right: calc(var(--padding)*-1);
		padding-top: var(--padding);
	}

	.filters-form {
		max-height: 400px;
		overflow: auto;
		padding-top: var(--padding);
		padding-right: var(--padding);
		margin-right: calc(var(--padding) * -1);
	}

	.details.dropdown-spaced-top {
		padding-top: var(--padding);
		border-top: 1px solid $color_gray;
	}
}

@media (max-width: 1480px) {

	.main-header {

		nav {
			white-space: nowrap;
		}
	}
}

/*only for Safari*/
@supports (hanging-punctuation: first) and (font: -apple-system-body) and (-webkit-appearance: none) {

	:root {
		--scroll-size: 0px;
	}
}
