@import '../variables.scss';

:root {
	--gallery_height: 103px;
	--gallery_width: 137px;
}

.object-element {

	.gallery {
		position: relative;
		height: var(--gallery_height);
		width: var(--gallery_width);
		margin-top: var(--space-gap);

		.count {
			position: absolute;
			font-size: var(--font-size);
			color: $color_white_clear;
			background-color: $color_secondary_dark;
			border-radius: 3px;
			z-index: 2;
			line-height: 1;
			padding: calc(var(--space-gap)*0.6);
			left: 100%; bottom: 100%;
			transform: translate(-60%, 60%);
			cursor: default;
		}
	}

	.gallery-cover {
		height: var(--gallery_height);
		width: var(--gallery_width);
		padding: 0;
		background-color: #d2ecff;
		border-radius: var(--border-radius);
		background-image: url(../img/picture.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 50%;
		overflow: hidden;
		position: relative;
		white-space: nowrap;
		font-size: 0;

		img {
			max-height: 150%;
			min-width: 100%;
			display: inline-block;
			cursor: zoom-in;
			text-align: center;
		}
	}

	.simple-list,
	.simple-list.smaller-spaces {

		.item {
			margin-bottom: calc(var(--space-gap)*2);
		}
	}

	.description {
		margin: var(--margin) 0 calc(var(--margin)*2);

		.description-title {
			margin-bottom: var(--margin);
		}

		.text {
			text-align: justify;
		}
	}

	.title-with-icon.spaced {
		margin-bottom: var(--space-gap);
	}

	.image-cover.user-image {
		margin: var(--margin) 0;
	}
}