@import '../variables.scss';

:root {
	--menu-side_width: 53px;
	--menu-side_width_active: 271px;
}

.page-outer {
	height: 100vh;
	overflow: hidden;
	display: grid;
	grid-template-columns: var(--menu-side_width) 1fr;

	.side {
		height: 100%;
	}

	.header-top {
		height: var(--header_height);
	}

	.side-content {
		height: calc(100vh - var(--header_height));
		overflow: auto;

		.page-main {
			min-height: calc(100% - var(--footer-height));
			padding: var(--padding);
		}
	}

	.menu-side {
		width: var(--menu-side_width);

		.logo-cover {
			display: none;
		}
	}

	&.active {
		grid-template-columns: var(--menu-side_width_active) 1fr;

		.menu-side {
			width: var(--menu-side_width_active);

			.logo-cover {
				display: block;
			}
		}

		&.animated {

			.menu-side {

				.logo-cover {
		
				}
			}
		}
	}
}

@media (max-width: 1480px) {

	:root {
		--menu-side_width_active: 180px;
	}
}
