@import '../variables.scss';

.popup {
	position: fixed;
	z-index: 20;
	background-color: rgba(#000, .3);
	top: 0; left: 0; right: 0; bottom: 0;
	overflow-x: hidden;
	overflow-y: auto;
	white-space: nowrap;
	text-align: center;
	transition: .3s;
	font-size: 0;
	opacity: 0;
	display: none;
	padding: 15px 0;

	&:after {
		content: '';
		display: inline-block;
		vertical-align: middle;
		width: 0; height: 100%;
	}

	.close-popup {
		position: absolute;
		width: 40px; height: 40px;
		line-height: 18px;
		top: 0; right: 15px;
		border-radius: 0;
		border: none;
		background: transparent;
		transition: .2s;
		font-size: 32px;
		padding: 0;

		&:hover {
			color: $color_primary;
		}
	}
	.inner {
		display: inline-block;
		width: 100%;
		vertical-align: middle;
		padding: 0;
		max-width: 600px;
		background: transparent;
		text-align: left;
		opacity: 0;
		background-color: $color_white_clear;
		font-size: var(--font-size);
		white-space: normal;
		position: relative;
		transition: .3s;
		opacity: 0;
		transform: translateY(-50px);

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0; left: 0; width: 100%; height: 10px;
		}
	}

	.close-poup {
		position: absolute;
		border: none;
		border-radius: 0;
		background: transparent;
		color: #000;
		font-weight: 300;
		font-size: 45px;
		top: 0; right: 0;
		transition: .2s;
		width: 40px; height: 40px;

		&:hover {
			color: $color_primary;
		}
	}

	&.showed {
		display: block;
	}

	&.active {
		opacity: 1;

		.inner {
			transition-delay: .2s;
			opacity: 1;
			transform: translateY(0);
		}
	}
}

.popup.middle-popup {

	.inner {
		max-width: 1520px;
	}
}

/*custom*/
.popup {

	.inner {
		border-radius: var(--border-radius);

		.head {
			padding: var(--padding) calc(var(--padding)*1.5);
			background-color: $color_secondary_button;
			position: relative;
			z-index: 2;
			border-radius: var(--border-radius) var(--border-radius) 0 0;

			.modal-title {
				color: $text_color;
				font-size: var(--button_font-size);
				font-weight: bold;

				.icon {
					color: $color_primary;
					margin-right: var(--margin);
					vertical-align: baseline;
				}

				.icon-with-text {
					display: inline-block;
					width: var(--button_font-size);
					height: var(--button_font-size);
					vertical-align: middle;
					margin-right: var(--space-gap);
				}
			}

			.close-popup {
				color: $color_primary;
				position: absolute;
				top: 0; right: 15px;
				height: 100%;
				width: var(--squere_button_size);

				&:hover {
					color: $color_danger;
				}
			}
		}

		.content {
			padding: var(--padding) calc(var(--padding)*1.5);
			background-color: $color_white_clear;
			border-radius: 0 0 var(--border-radius) var(--border-radius);
		}
	}
}


@media (max-width: 1480px) {

	.popup.middle-popup {

		.inner {
			max-width: 1400px;
		}
	}
}