@import '../variables.scss';

:root {
	--min-cell_width: 50px;
}

.simple-table {
	border-radius: calc(var(--border-radius)/2);
	table-layout: fixed;

	thead {
		text-align: left;

		.primary-top {
			background-color: $color_primary;
			border: 1px solid $color_primary;

			th {

				&:first-child {
					padding-left: calc(var(--space-gap)*2.4);
				}
			}
		}

		.gray-bottom {
			background-color: #efefef;
			border: 1px solid $color_gray;

			th {
				padding: calc(var(--space-gap)*2) calc(var(--space-gap)*1.2);

				&:first-child {
					padding-left: calc(var(--space-gap)*2.4);
				}
			}
		}

		.transparent-button {
			border: 0;
			background-color: transparent;
			cursor: pointer;

			.icon {
				color: $color_primary_button_hover;
				font-size: var(--font-size);
			}
		}

		.text {
			font-weight: bold;
			font-size: var(--font-size_large);
			color: $color_white;
			display: inline-block;
			vertical-align: middle;
			padding: var(--padding) calc(var(--space-gap)*2);
		}
	}

	tbody {

		tr {
			vertical-align: top;

			td {
				padding: var(--padding) calc(var(--space-gap)*2);
				position: relative;

				&:after {
					position: absolute;
					content: '';
					width: 100%; height: 1px;
					background-color: $color_gray;
					left: 0; bottom: 0;
				}

				&:first-child {
					padding-left: calc(var(--space-gap)*4);
				}
			}

			&:last-child {

				td:after {
					display: none;
				}
			}

			&.gray-inner {

				td {
					padding: var(--padding) var(--padding) 0;

					&:after {
						display: none;
					}

					.cell {
						background-color: $color_white;
					}
				}

				&:last-child {

					td {
						padding-bottom: var(--padding);
					}
				}
			}
		}
	}
}

.table-bottom {

	.bottom-title {
		display: inline-block;
		vertical-align: middle;
		margin-right: calc(var(--margin)*2);
	}

	.select,
	.selecter {
		width: 73px;
		display: inline-block;
		vertical-align: middle;
	}

	.caption,
	.form {
		display: inline-block;
		vertical-align: middle;
		margin-left: var(--margin);
	}

	.selecter {

		.dropdown ul {
			max-height: 150px;
		}

		.anchor {
			background-color: $color_white;
		}
	}
}

.simple-table.objects-table {

	th:nth-child(1),
	td:nth-child(1) {
		width: calc(var(--min-cell_width)*2);
	}

	th:nth-child(2),
	td:nth-child(2) {
		width: calc(var(--min-cell_width)*3);
	}

	th:nth-child(3),
	td:nth-child(3) {
		width: calc(var(--min-cell_width)*3);
	}

	th:nth-child(4),
	td:nth-child(4) {
		width: calc(var(--gallery_width) + var(--space-gap) * 4);
	}

	th:nth-child(5),
	td:nth-child(5) {
		width: 100%;
	}

	th:nth-child(6),
	td:nth-child(6) {
		width: calc(var(--min-cell_width)*4.5);
	}

	th:nth-child(7),
	td:nth-child(7) {
		width: calc(var(--min-cell_width)*4.5);
	}
}

.simple-table.contacts-table {

	th:nth-child(1),
	td:nth-child(1) {
		width: calc(var(--min-cell_width)*3);
	}

	th:nth-child(2),
	td:nth-child(2) {
		width: calc(var(--min-cell_width)*4);
	}

	th:nth-child(3),
	td:nth-child(3) {
		width: 100%;
	}

	th:nth-child(4),
	td:nth-child(4) {
		width: calc(var(--gallery_width) + var(--space-gap) * 4);
	}
}

.simple-table.deals-table {

	th:nth-child(1),
	td:nth-child(1) {
		width: calc(var(--min-cell_width)*2);
	}

	th:nth-child(2),
	td:nth-child(2) {
		width: calc(var(--min-cell_width)*3);
	}

	th:nth-child(3),
	td:nth-child(3) {
		width: calc(var(--min-cell_width)*3);
	}

	th:nth-child(4),
	td:nth-child(4) {
		width: 100%;
	}

	th:nth-child(5),
	td:nth-child(5) {
		width: calc(var(--min-cell_width)*3.5);
	}

	th:nth-child(6),
	td:nth-child(6) {
		width: calc(var(--min-cell_width)*5);
	}

	th:nth-child(7),
	td:nth-child(7) {
		width: calc(var(--min-cell_width)*5);
	}

	th:nth-child(8),
	td:nth-child(8) {
		width: calc(var(--min-cell_width)*3.5);
	}
}
.simple-table.notifications-table {

	th:nth-child(1),
	td:nth-child(1) {
		width: calc(var(--min-cell_width)*4);
	}

	th:nth-child(2),
	td:nth-child(2) {
		width: calc(var(--min-cell_width)*5);
	}

	th:nth-child(3),
	td:nth-child(3) {
		width: 100%;
	}

	th:nth-child(4),
	td:nth-child(4) {
		width: calc(var(--min-cell_width)*6);
	}

	.table-element:nth-child(even):not(.active) {
		background-color: #f5fbff;
	}

	.table-element:nth-child(odd):not(.active) {
		background-color: #color_white_clear;
	}

	td {
		vertical-align: middle;
	}
}

.simple-table.payments-table {

	thead {

		.primary-top {

			th:first-child {
				padding-left: 0;
			}
		}
	}

	th {

		&:first-child {

			.text {
				padding-left: calc(var(--padding)*2.1);
			}
		}
	}

	.date,
	.payment-date,
	.summary {
		width: calc(var(--min-cell_width)*5);
	}

	.employee {
		width: calc(var(--min-cell_width)*5);
	}

	.type {
		width: calc(var(--min-cell_width)*4);
	}

	.payment-type {
		width: calc(var(--min-cell_width)*4);
	}

	.state {
		width: calc(var(--min-cell_width)*5);
	}

	.top,
	.bottom {
		display: table;
		width: 100%;
		border-bottom: 1px solid $color_gray;

		.cell {
			display: table-cell;
			vertical-align: middle;
		}
	}

	.bottom {
		border-bottom: none;

		.cell {
			border-right: 1px solid $color_gray;

			&:last-child {
				border-right: 0;
			}
		}
	}

	.grid-cell {

		.cell {
			transition: background-color .2s;

			.text {
				padding: calc(var(--padding)/2) var(--padding);
			}

			&.date {
				width: calc(var(--min-cell_width)*5 - var(--padding));
			}

			&.contact {
				width: calc(var(--min-cell_width)*10);
			}

			&.comment {
				width: calc(var(--min-cell_width)*5);
			}

			&.office {
				width: calc(var(--min-cell_width)*8);
				border-right: none;
			}

			&.buttons {
				width: calc(var(--min-cell_width)*5);
			}
		}

		&:hover {

			.cell {
				background-color: #f2f3f3;
			}
		}
	}

	.simple-list.smaller-spaces {

		> .item {
			margin-bottom: 0;
		}
	}
}


@media (max-width: 1480px) {

	:root {
		--min-cell_width: 38px;
	}

	.simple-table.objects-table {

		th:nth-child(7),
		td:nth-child(7) {
			width: calc(var(--min-cell_width)*5);
		}

		th:nth-child(8),
		td:nth-child(8) {
			width: calc(var(--min-cell_width)*5);
		}
	}
}