@import '../variables.scss';

.simple-list {
	font-size: 0;
	margin: 0 calc(var(--space-gap)*2*-1);
	padding: 0 calc(var(--space-gap)*2);

	> .item {
		display: inline-block;
		vertical-align: middle;
		padding: 0 calc(var(--space-gap)*2);
	}

	&.smaller-spaces {
		padding: 0;
		margin: 0 calc(var(--space-gap)*-1);

		> .item {
			padding: 0 var(--space-gap);
		}
	}

	&.top {

		> .item {
			vertical-align: top;
		}
	}

	&.half-part-list {

		> .item {
			width: 50%;
		}
	}

	&.nowrap-list {
		white-space: nowrap;
	}
}

@media (max-width: 1480px) {

	.simple-list {
		margin: 0 calc(var(--space-gap)*1.1*-1);
		padding: 0 calc(var(--space-gap)*1.1);

		> .item {
			padding: 0 calc(var(--space-gap)*1.1);
		}
	}
}