@import '../variables.scss';

.tooltip {
	position: fixed;
	padding: var(--space-gap) calc(var(--padding)/2);
	font-size: var(--font-size);
	background-color: darken($color_primary_dark, 25%);
	border-radius: calc(var(--border-radius)/2);
	color: $color_white;
	z-index: 20;
	opacity: 0;
	transform: translate(5px, 0);
	transition: .2s;
	pointer-events: none;

	&.active {
		opacity: 1;
		transform: translate(0, 0);
	}
}