<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta name="format-detection" content="telephone=no">

	<link rel="stylesheet" href="css/bundle.min.css">

</head>
<body>

	<div class="copy-block">
	<div class="container-fluid">
		<div class="layout">
			<div class="column">
				<div data-tooltip="Copy to clipboard" data-tooltip-copied="Copied to clipboard!">
					<button type="button" class="btn btn-round" data-copy-link="copyLink">
						<i class="icon icon-copy"></i>
					</button>
					<button type="button" class="btn btn-link sm-hide" data-copy-link="copyLink">
						Copy link
					</button>
				</div>
			</div>
			<div class="column">
				<input type="text" readonly value="https://www.travelkiki.com/en/airlines/lufthansa/" id="copyLink">
			</div>
			<div class="column">
				<div data-tooltip="Share with Facebook">
					<button class="btn btn-round">
						<i class="icon icon-facebook"></i>
					</button>
				</div>
				<div data-tooltip="Share with Messenger">
					<button class="btn btn-round">
						<i class="icon icon-messenger"></i>
					</button>
				</div>
				<div data-tooltip="Share with Viber">
					<button class="btn btn-round">
						<i class="icon icon-viber"></i>
					</button>
				</div>
			</div>
		</div>
		<ul class="clear breadcrumbs">
			<li><a href="#">Home</a></li>
			<li><a href="#">Airlines</a></li>
			<li class="active">Lufthansa</li>
		</ul>
	</div>
</div>

	<!-- .collapsed - for collapsed (small) header + "back" arrow -->
<header class="main-header static collapsed">
	<div class="container-fluid relative">
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<a href="index.html" class="btn btn-back">
					<span class="text"><i class="icon icon-arrow-left"></i></span>
				</a>
				<a href="index.html" class="logo">
					<img src="img/logo.svg" alt="">
				</a>
				<button type="button" class="btn btn-round sm-hide" data-toggle-copy>
					<i class="icon icon-share inactive"></i>
					<i class="icon icon-close active"></i>
				</button>
			</div>
			<div class="col-xs-4 align-center sm-show">
				<div data-tooltip="Share">
					<button type="button" class="btn btn-round dark" data-toggle-copy>
						<i class="icon icon-share inactive"></i>
						<i class="icon icon-close active"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
</header>

	<div class="mobile-filter primary">
		<i class="icon icon-filter-plane"></i>
	</div>

	<div class="fixed-nav fixed collapsed">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-sm-3 col-lg-2">
					<a href="index.html" class="btn btn-back">
						<span class="text"><i class="icon icon-arrow-left"></i></span>
					</a>
					<a href="index.html" class="logo">
						<img src="img/logo.svg" alt="">
					</a>
				</div>
				<div class="col-xs-1 col-lg-8 align-center">
					<div data-tooltip="Share">
						<button type="button" class="btn btn-round dark" data-toggle-copy>
							<i class="icon icon-share inactive"></i>
							<i class="icon icon-close active"></i>
						</button>
					</div>
				</div>
				<div class="col-xs-12 col-sm-8" id="nav-copy">
					
				</div>
			</div>
		</div>
	</div>

	<main>

		<section class="form-hero" data-parallax-ratio="1">
			<div class="background" style="background-image: url(temp/book1.jpg);"></div>
			<!-- form & map -->
			<!-- .collapsed - for getting collapsed (small) form -->
			<div class="form-section"  id="app">
				<div class="filter">
					<form action="tickets.html" id="form" autocomplete="off" autocorrect="off" autocapitalize="off">
						<div data-scroll>
							<!-- static -->
							<div class="static">
	<div class="container-fluid">
		<div class="row moddle-xs">
			<div class="col-xs-12 col-sm-2 col-sm-offset-3 col-md-offset-2">
				Roundtrip
			</div>
			<div class="col-xs-12 col-sm-1 col-md-2">
				<span class="passengers-icon" style="background-image: url(img/icons/passenger4.svg)"></span>
				<span class="md-inline" v-cloak>Passenger{{totalPassangers() > 1 ? 's' : ''}}</span>
				<span class="md-hide" v-cloak>{{totalPassangers()}}</span>
			</div>
			<div class="col-xs-12 col-sm-2">
				KBP
				<span class="md-inline">
					<span class="dividing">― <i class="icon icon-plane"></i> ―</span>
				</span>
				<span class="md-hide"><i class="icon icon-plane"></i></span>
				KBP
			</div>
			<div class="col-xs-12 col-sm-2">
				JUL 16 <span class="dividing">―</span> AUG 5</div>
			<!-- <div class="col-xs-2 align-right">
				<span class="text"><i class="icon icon-drop"></i></span>
			</div> -->
		</div>
	</div>
</div>
							<!-- filter -->
							<div class="container filter-body">

	<a href="index.html" class="logo">
		<img src="img/logo.svg" alt="">
	</a>
	
	<div class="layout offset-bottom">

		<div class="column align-center" id="tripTypeDesktopPlace">
			<button class="sm-hide active" type="button" v-on:click="toggle('trip')">
				{{tripTypes[calendarType]}}
				<i class="icon icon-checked"></i>
			</button>
			<div class="checkboxes" data-mobile="#tripTypeMobilePlace" data-desktop="#tripTypeDesktopPlace">
				<input type="radio" name="way-type" value="roundtrip" id="roundTrip" checked v-on:click="setCalendarType('double')">
				<label class="btn btn-link" for="roundTrip">ROUNDTRIP</label>
				<div class="sm-hide"></div>
				<input type="radio" name="way-type" value="oneway" id="onewayTrip" v-on:click="setCalendarType('single')">
				<label class="btn btn-link" for="onewayTrip">ONE WAY</label>
				<div class="accept-button sm-hide">
					<button type="button" class="btn btn-primary btn-block" v-on:click="close('trip')">OK</button>
				</div>
			</div>
		</div>

		<div class="column small"></div>

		<div class="column">
			<button class="sm-hide active" type="button" v-on:click="toggle('passangers')">
				Passenger<span v-cloak v-if="totalPassangers() > 1">s</span>
				<i class="icon icon-checked"></i>
				<span class="counter">{{totalPassangers() || ''}}</span>
			</button>
			<div data-dropdown id="passengersDesktopPlace">
				<div class="sm-show">
					<button type="button" class="btn btn-link btn-block anchor">
						<span class="text align-center">
							<span class="passengers-icon">
								<!-- .active - to show it -->
								<span style="background-image: url(img/icons/passenger1.svg)" v-bind:class="{active: totalPassangers() === 1}"></span>
								<span style="background-image: url(img/icons/passenger2.svg)" v-bind:class="{active: totalPassangers() === 2}"></span>
								<span style="background-image: url(img/icons/passenger3.svg)" v-bind:class="{active: totalPassangers() === 3}"></span>
								<span style="background-image: url(img/icons/passenger4.svg)" v-bind:class="{active: totalPassangers() > 3}"></span>
							</span>
							Passenger<span v-cloak v-if="totalPassangers() > 1">s</span>
							<i class="icon icon-drop"></i>
						</span>
					</button>
				</div>
				<div class="dropdown max-width" data-mobile="#passengersMobilePlace" data-desktop="#passengersDesktopPlace">
					<div class="block">
						<div class="title">
							<i class="icon icon-adult"></i> Adults
							<span class="badge">16+</span>
						</div>
						<div class="calculator">
							<span class="minus" v-on:click="decreasePassanger('adult')">
								<i class="icon icon-minus"></i>
							</span>
							<!-- .disabled - for making grey -->
							<input type="text" readonly disabled v-model="passangers.adult" class="disabled">
							<span class="plus" v-on:click="increasePassanger('adult')">
								<i class="icon icon-plus"></i>
							</span>
						</div>
					</div>
					<div class="block">
						<div class="title">
							<i class="icon icon-children"></i> Children
							<span class="badge">2-15</span>
						</div>
						<div class="calculator">
							<span class="minus" v-on:click="decreasePassanger('children')">
								<i class="icon icon-minus"></i>
							</span>
							<input type="text" readonly disabled v-model="passangers.children">
							<span class="plus" v-on:click="increasePassanger('children')">
								<i class="icon icon-plus"></i>
							</span>
						</div>
					</div>
					<div class="block">
						<div class="title">
							<i class="icon icon-babies"></i> Babies
							<span class="badge">0-2</span>
						</div>
						<div class="calculator">
							<span class="minus" v-on:click="decreasePassanger('babies')">
								<i class="icon icon-minus"></i>
							</span>
							<input type="text" readonly disabled v-model="passangers.babies">
							<span class="plus" v-on:click="increasePassanger('babies')">
								<i class="icon icon-plus"></i>
							</span>
						</div>
					</div>
					<div class="accept-button sm-hide">
						<button type="button" class="btn btn-primary btn-block" v-on:click="close('passangers')">OK</button>
					</div>
				</div>
			</div>
		</div>

		<div class="column align-center">
			<div class="checkboxes">
				<input type="checkbox" id="onlyDirect" v-model="onlyDirect">
				<label for="onlyDirect" class="btn btn-link btn-block anchor">
					<span class="text">
						<!-- states: checked / unchecked -->
						<i class="icon icon-unchecked" v-if="!onlyDirect"></i>
						<i class="icon icon-checked" v-if="onlyDirect"></i>
						DIRECT FLYGHTS ONLY
					</span>
				</label>
			</div>
		</div>

		<div class="column"></div>

	</div>
</div>
							<!-- search -->
							<div class="container search">
	<div class="layout">

		<div class="column" id="searchFromDesktopPlace">
			<button class="sm-hide" type="button" v-on:click="toggle('from', 'fromCity')" v-bind:class="{active: models.from}" data-search-model>
				{{models.from || 'From?'}}
				<i class="icon icon-checked"></i>
			</button>
			<div class="form-group" data-desktop="#searchFromDesktopPlace" data-mobile="#searchFromMobilePlace">
				<!-- .filled - if input isn't empty -->
				<input type="text" class="input grey filled" id="fromCity" placeholder="from?" autocomplete="off" autocorrect="off" autocapitalize="off" v-on:input="setModel('from', $event)" tabindex="1">
				<i class="icon icon-fly-up input-icon"></i>
				<span tabindex="-1" class="input-clear" v-cloak v-if="models.from" v-on:click="resetModel('from', 'fromCity')">&times;</span>
				<!-- .active - to open up -->
				<div class="dropdown min-width">
					<div class="scrolled">
						<ul class="clear cities-list">
							<li class="">
								<a href="#" tabindex="-1">
									<i class="icon icon-building"></i>
									<b><span class="highlight">London</span></b>, Canada
								</a>
							</li>
							<li class="">
								<a href="#" tabindex="-1">
									<i class="icon icon-building"></i>
									<b><span class="highlight">London</span></b>, United Kingdom
								</a>
								<ul class="clear airports-list expanded">
									<li class="highlighted">
										<a href="#" tabindex="-1">
											<i class="icon icon-enter"></i>
											<div><b>LHR</b> Heathrow</div>
											<small>City center 33km</small>
										</a>
									</li>
									<li>
										<a href="#" tabindex="-1">
											<i class="icon icon-enter"></i>
											<div><b>LGW</b> Gatwick</div>
											<small>City center 20km</small>
										</a>
									</li>
									<li>
										<a href="#" tabindex="-1">
											<i class="icon icon-enter"></i>
											<div><b>STN</b> Stansted</div>
											<small>City center 40km</small>
										</a>
									</li>
									<li>
										<a href="#" tabindex="-1">
											<i class="icon icon-enter"></i>
											<div><b>LCY</b> City</div>
											<small>City center 57km</small>
										</a>
									</li>
									<li>
										<a href="#" tabindex="-1">
											<i class="icon icon-enter"></i>
											<div><b>LTN</b> Luton</div>
											<small>City center 3km</small>
										</a>
									</li>
									<li>
										<a href="#" tabindex="-1">
											<i class="icon icon-enter"></i>
											<div><b>SEN</b> Southend</div>
											<small>City center 1km</small>
										</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="#" tabindex="-1">
									<i class="icon icon-building"></i>
									<b><span class="highlight">London</span></b>, Canada
								</a>
							</li>
						</ul>
					</div>
					<!-- <div class="empty">There is no results</div> -->
				</div>
				<div class="accept-button sm-hide">
					<button type="button" tabindex="-1" class="btn btn-primary btn-block" v-on:click="close('from')">OK</button>
				</div>
			</div>
		</div>

		<div class="column align-center small" tabindex="-1">
			<div class="sm-show">
				<button type="button" class="btn btn-link btn-block" tabindex="-1">
					<span class="text"><i class="icon icon-arrows"></i></span>
					<span class="animation"></span>
				</button>
			</div>
		</div>

		<div class="column" id="searchToDesktopPlace">
			<button class="sm-hide" type="button" v-on:click="toggle('to', 'toCity')" v-bind:class="{active: models.to}" data-search-model tabindex="-1">
				{{models.to || 'To?'}}
				<i class="icon icon-checked"></i>
			</button>
			<div class="form-group" data-desktop="#searchToDesktopPlace" data-mobile="#searchToMobilePlace">
				<input type="text" class="input grey" id="toCity" placeholder="to?" autocomplete="off" autocorrect="off" autocapitalize="off" v-on:input="setModel('to', $event)" tabindex="2">
				<i class="icon icon-fly-up input-icon"></i>
				<span class="input-clear" v-cloak v-if="models.to" v-on:click="resetModel('to', 'toCity')">&times;</span>
				<div class="dropdown min-width">
					<div class="empty">There is no results</div>
				</div>
				<div class="accept-button sm-hide">
					<button type="button" class="btn btn-primary btn-block" v-on:click="close('to')">OK</button>
				</div>
			</div>
		</div>

		<div class="column" id="searchDateDesktopPlace">
			<button class="sm-hide active" type="button" v-on:click="toggle('date')" id="date-button" v-bind:class="{active: models.date}" data-search-model>
				{{models.date || 'Date'}}
			</button>
			<div class="form-group" id="date-range-parent" data-desktop="#searchDateDesktopPlace" data-mobile="#searchDateMobilePlace">
				<input type="text" class="input grey" id="date-range" placeholder="date" autocomplete="off" autocorrect="off" autocapitalize="off" v-bind:class="{active: models.date}" v-on:input="setModel('date', $event)" v-on:change="setModel('date', $event)" readonly="true" tabindex="3">
				<!-- <label for="date-range"></label> -->
				<i class="icon icon-calendar input-icon"></i>
				<span class="input-clear" v-cloak v-if="models.date" v-on:click="resetModel('date', 'date-range')">&times;</span>
			</div>
		</div>

		<div class="column align-right">
			<!-- [disabled] - for disabling (becomes light blue) -->
			<div class="sm-show">
				<button type="submit" class="btn btn-info"
				v-bind:class="{
				'btn-info': !models.from || !models.to || !models.date,
				'btn-primary': models.from && models.to && models.date
			}"
			>
			<span class="text">Search</span>
			<span class="animation"></span>
		</button>
	</div>
</div>
</div>
<!-- calendar -->
<div class="relative" id="calendarWrapper">
	<!-- [model] is ID of input where we should paste the result -->
	<!-- [v-bind:single="true"] if we need only one day to be selected -->
	<!-- [v-bind:header="true"] to show header bar -->
	<div data-desktop="#calendarWrapper" data-tablet="#searchCalendarMobilePlace">
		<calendar model="date-range" output="date-button" v-bind:single="calendarType == 'single'" ref="calendar" v-on:change="setModel('date', $event)"></calendar>
	</div>
</div>
</div>
							<!-- filtering -->
							<div class="darken">
	<div class="container-fluid">
		<div class="layout">
			<div class="column">
				<div data-dropdown id="filterStopsDesktopPlace">
					<button type="button" class="btn btn-block anchor" v-on:click="toggle('stops')">
						<i class="icon icon-stops"></i>
						Stops
						<span data-lg>Direct <i class="icon icon-plus"></i></span>
					</button>
					<div class="dropdown" data-mobile="#filterStopsMobilePlace" data-desktop="#filterStopsDesktopPlace">
						<div class="checkbox">
							<input type="checkbox" id="direct" checked>
							<label for="direct">
								<span></span>
								<dl>
									<dt>Direct</dt><dd>243&euro;</dd>
								</dl>
							</label>
						</div>
						<div class="checkbox">
							<input type="checkbox" id="stop">
							<label for="stop">
								<span></span>
								<dl>
									<dt>1 Stop</dt><dd>243&euro;</dd>
								</dl>
							</label>
						</div>
						<div class="checkbox">
							<input type="checkbox" id="stops">
							<label for="stops">
								<span></span>
								<dl>
									<dt>2 + Stops</dt><dd>243&euro;</dd>
								</dl>
							</label>
						</div>
						<div class="accept-button sm-hide">
							<button type="button" class="btn btn-primary btn-block" v-on:click="close('stops')">OK</button>
						</div>
					</div>
				</div>
			</div>
			<div class="column">
				<div data-dropdown id="filterDepartureDesktopPlace">
					<button type="button" class="btn btn-block anchor" v-on:click="toggle('departure')">
						<i class="icon icon-fly-up"></i>
						Depart
						<span data-lg><span class="departTimeLabel1">06</span>:00 &mdash; <span class="departTimeLabel2">22</span>:00</span>
					</button>
					<div class="dropdown" data-mobile="#filterDepartureMobilePlace" data-desktop="#filterDepartureDesktopPlace">
						<div class="block">
							<input type="hidden" id="departTimeRange1" value="10">
							<input type="hidden" id="departTimeRange2" value="20">
							<div class="row range-labels">
								<div class="col-xs-6"><span class="departTimeLabel1">10</span>:00</div>
								<div class="col-xs-6 align-right primary"><span class="departTimeLabel2">20</span>:00</div>
							</div>
							<div class="range-slider">
								<div
								data-range-time="#departTimeRange1,#departTimeRange2"
								data-range-labels=".departTimeLabel1,.departTimeLabel2"
								data-start="0" data-end="23" data-step="1"
								data-values="8,14"
								></div>
							</div>
						</div>
						<div class="accept-button sm-hide">
							<button type="button" class="btn btn-primary btn-block" v-on:click="close('departure')">OK</button>
						</div>
					</div>
				</div>
			</div>
			<div class="column">
				<div data-dropdown id="filterReturningDesktopPlace">
					<button type="button" class="btn btn-block anchor" v-on:click="toggle('returning')">
						<i class="icon icon-fly-return"></i>
						Return
						<span data-lg><span class="returnTimeLabel1">06</span>:00 &mdash; <span class="returnTimeLabel2">22</span>:00</span>
					</button>
					<div class="dropdown" data-mobile="#filterReturningMobilePlace" data-desktop="#filterReturningDesktopPlace">
						<div class="block">
							<input type="hidden" id="returnTimeRange1" value="10">
							<input type="hidden" id="returnTimeRange2" value="20">
							<div class="row range-labels">
								<div class="col-xs-6"><span class="returnTimeLabel1">10</span>:00</div>
								<div class="col-xs-6 align-right primary"><span class="returnTimeLabel2">20</span>:00</div>
							</div>
							<div class="range-slider">
								<div
								data-range-time="#returnTimeRange1,#returnTimeRange2"
								data-range-labels=".returnTimeLabel1,.returnTimeLabel2"
								data-start="0" data-end="23" data-step="1"
								data-values="14,20"
								></div>
							</div>
						</div>
						<div class="accept-button sm-hide">
							<button type="button" class="btn btn-primary btn-block" v-on:click="close('returning')">OK</button>
						</div>
					</div>
				</div>
			</div>
			<div class="column">
				<div data-dropdown id="filterDurationDesktopPlace">
					<button type="button" class="btn btn-block anchor" v-on:click="toggle('duration')">
						<i class="icon icon-duration"></i>
						Duration
						<span data-lg style="display:inline-block;width:25px;"><span class="durtationLabel1">5</span>h</span>
					</button>
					<div class="dropdown" data-mobile="#filterDurationMobilePlace" data-desktop="#filterDurationDesktopPlace">
						<div class="block">
							<input type="hidden" id="durtationRange1" value="10">
							<div class="row range-labels">
								<div class="col-xs-6">2h</div>
								<div class="col-xs-6 align-right primary">25h</div>
							</div>
							<div class="range-slider">
								<div
								data-range-time="#durtationRange1"
								data-range-labels=".durtationLabel1"
								data-start="2" data-end="25" data-step="1"
								data-value="5"
								></div>
							</div>
						</div>
						<div class="accept-button sm-hide">
							<button type="button" class="btn btn-primary btn-block" v-on:click="close('duration')">OK</button>
						</div>
					</div>
				</div>
			</div>
			<div class="column">
				<div data-dropdown id="airlinesDropdown">
					<button type="button" class="btn btn-block anchor" v-on:click="toggle('airlines')">
						<i class="icon icon-airlines"></i>
						Airlines
						<span data-lg id="airlinesOutput">
							all
							<i class="icon icon-plus"></i>
						</span>
					</button>
					<div class="dropdown" data-mobile="#filterAirlinesMobilePlace" data-desktop="#airlinesDropdown">
						<div class="block header">
							<div class="row">
								<div class="col-xs-6">
									<div class="title">Airlines</div>
								</div>
								<div class="col-xs-6 align-right">
									<div class="checkbox round">
										<input type="checkbox" id="selectAllAirlines" data-activate="[data-mobile*='irlines']" checked data-output="#airlinesOutput">
										<label for="selectAllAirlines">
											<span></span>
										</label>
									</div>
								</div>
							</div>
						</div>
						<button class="btn btn-light btn-expander" type="button" id="expandAirlines">Alliances</button>
						<ul class="clear light hidden" data-expand="#expandAirlines">
							<li>
								<div class="checkbox">
									<input type="checkbox" id="all1" checked>
									<label for="all1"><span></span>Star Alliance</label>
								</div>
							</li>
							<li>
								<div class="checkbox">
									<input type="checkbox" id="all2" checked>
									<label for="all2"><span></span>Oneworld</label>
								</div>
							</li>
							<li>
								<div class="checkbox">
									<input type="checkbox" id="all3" checked>
									<label for="all3"><span></span>Sky Team</label>
								</div>
							</li>
						</ul>
						<div class="scrolled">
							<ul class="clear">
								<li>
									<div class="checkbox">
										<input type="checkbox" id="air1" checked>
										<label for="air1"><span></span>Aegean</label>
									</div>
								</li>
								<li>
									<div class="checkbox">
										<input type="checkbox" id="air2" checked>
										<label for="air2"><span></span>Aer Lingus</label>
									</div>
								</li>
								<li>
									<div class="checkbox">
										<input type="checkbox" id="air3" checked>
										<label for="air3"><span></span>Aeroflot</label>
									</div>
								</li>
								<li>
									<div class="checkbox">
										<input type="checkbox" id="air4" checked>
										<label for="air4"><span></span>Star Alliance</label>
									</div>
								</li>
								<li>
									<div class="checkbox">
										<input type="checkbox" id="air5" checked>
										<label for="air5"><span></span>Oneworld</label>
									</div>
								</li>
								<li>
									<div class="checkbox">
										<input type="checkbox" id="air6" checked>
										<label for="air6"><span></span>Sky Team</label>
									</div>
								</li>
								<li>
									<div class="checkbox">
										<input type="checkbox" id="air7" checked>
										<label for="air7"><span></span>Aer Lingus</label>
									</div>
								</li>
								<li>
									<div class="checkbox">
										<input type="checkbox" id="air8" checked>
										<label for="air8"><span></span>Aeroflot</label>
									</div>
								</li>
								<li>
									<div class="checkbox">
										<input type="checkbox" id="air9" checked>
										<label for="air9"><span></span>Star Alliance</label>
									</div>
								</li>
								<li>
									<div class="checkbox">
										<input type="checkbox" id="air10" checked>
										<label for="air10"><span></span>Oneworld</label>
									</div>
								</li>
								<li>
									<div class="checkbox">
										<input type="checkbox" id="air11" checked>
										<label for="air11"><span></span>Sky Team</label>
									</div>
								</li>
								<li>
									<div class="checkbox">
										<input type="checkbox" id="air12" checked>
										<label for="air12"><span></span>Sky Team</label>
									</div>
								</li>
								<li>
									<div class="checkbox">
										<input type="checkbox" id="air13" checked>
										<label for="air13"><span></span>Sky Team</label>
									</div>
								</li>
								<li>
									<div class="checkbox">
										<input type="checkbox" id="air14" checked>
										<label for="air14"><span></span>Sky Team</label>
									</div>
								</li>
								<li>
									<div class="checkbox">
										<input type="checkbox" id="air15" checked>
										<label for="air15"><span></span>Sky Team</label>
									</div>
								</li>
								<li>
									<div class="checkbox">
										<input type="checkbox" id="air16" checked>
										<label for="air16"><span></span>Sky Team</label>
									</div>
								</li>
								<li>
									<div class="checkbox">
										<input type="checkbox" id="air17" checked>
										<label for="air17"><span></span>Sky Team</label>
									</div>
								</li>
								<li>
									<div class="checkbox">
										<input type="checkbox" id="air18" checked>
										<label for="air18"><span></span>Sky Team</label>
									</div>
								</li>
								<li>
									<div class="checkbox">
										<input type="checkbox" id="air19" checked>
										<label for="air19"><span></span>Sky Team</label>
									</div>
								</li>
							</ul>
						</div>
						<div class="accept-button sm-hide">
							<button type="button" class="btn btn-primary btn-block" v-on:click="close('airlines')">OK</button>
						</div>
					</div>
				</div>
			</div>
			<div class="column" md-show>
				<button class="btn btn-block anchor" type="button" v-on:click="toggle('sortedBy')">
					Sorted by
					<span data-md>recomended</span>
				</button>
			</div>
			<div class="column right">
				<div class="checkbox checkbox-btn" id="offersBtn">
					<canvas class="offers-animation" id="offers-animation"></canvas>
					<span class="inner-side">
						<input type="checkbox" id="offers" data-toggle="#offersBtn">
						<label for="offers">
							<span class="label-round"></span>
							<span class="label-icon">
								<img src="img/icons/percent-icon.svg" alt="icon">
							</span>
							Offers
						</label>
					</span>
				</div>
				<button class="btn btn-block anchor btn-clear" type="reset" data-tooltip="Clear">
					<span class="mobile-text">Clear All Filters</span>
					<span><i class="icon icon-trash-filled btn-icon"></i></span>
					<span>
						<span class="sm-hide">
							<i class="icon icon-trash"></i>
							<i class="icon icon-trash-filled"></i>
						</span>
					</span>
				</button>
			</div>
		</div>
	</div>
	<div class="fader"></div>
</div>
						</div>
						<!-- submit only for mobile -->
						<div class="sm-hide" data-main-submit>
							<button type="submit" class="btn btn-block"
								v-bind:class="{
									'btn-info': !models.from || !models.to || !models.date,
									'btn-primary': models.from && models.to && models.date
								}"
							>
								<span class="text">Search</span>
								<span class="animation"></span>
							</button>
						</div>
						<!-- mobile modals -->
						<div class="modals sm-hide">
							<!-- trip -->
							<div data-modal v-bind:class="{open: open.trip}" v-on:click="toggle('trip', $event)">
								<div class="verticaly-middle">
									<div class="inner" id="tripTypeMobilePlace"></div>
								</div>
							</div>
							<!-- passangers -->
							<div data-modal v-bind:class="{open: open.passangers}" v-on:click="toggle('passangers', $event)">
								<div class="verticaly-middle">
									<div class="inner" id="passengersMobilePlace"></div>
								</div>
							</div>
							<!-- from -->
							<div data-modal v-bind:class="{open: open.from}" v-on:click="toggle('from', $event)" id="searchFromMobilePlace" data-search-field>
							</div>
							<!-- to -->
							<div data-modal v-bind:class="{open: open.to}" v-on:click="toggle('to', $event)" id="searchToMobilePlace" data-search-field>
							</div>
							<!-- dates -->
							<div data-modal v-bind:class="{open: open.date}" v-on:click="toggle('date', $event)"data-search-field>
								<div id="searchDateMobilePlace" data-months></div>
								<div>
									<div id="searchCalendarMobilePlace" data-calendar></div>
									<div class="accept-button sm-hide">
										<button type="button" class="btn btn-primary btn-block" v-on:click="close('date')">OK</button>
									</div>
								</div>
							</div>
							<!-- filtering -->
							<div data-modal v-bind:class="{open: open.stops}" v-on:click="toggle('stops', $event)">
								<div class="verticaly-middle">
									<div class="inner" id="filterStopsMobilePlace"></div>
								</div>
							</div>
							<div data-modal v-bind:class="{open: open.departure}" v-on:click="toggle('departure', $event)">
								<div class="verticaly-middle">
									<div class="inner" id="filterDepartureMobilePlace"></div>
								</div>
							</div>
							<div data-modal v-bind:class="{open: open.returning}" v-on:click="toggle('returning', $event)">
								<div class="verticaly-middle">
									<div class="inner" id="filterReturningMobilePlace"></div>
								</div>
							</div>
							<div data-modal v-bind:class="{open: open.duration}" v-on:click="toggle('duration', $event)">
								<div class="verticaly-middle">
									<div class="inner" id="filterDurationMobilePlace"></div>
								</div>
							</div>
							<div data-modal v-bind:class="{open: open.airlines}" v-on:click="toggle('airlines', $event)" data-airlines-field>
								<div class="verticaly-middle">
									<div class="inner" id="filterAirlinesMobilePlace"></div>
								</div>
							</div>
							<div data-modal >
								<div class="verticaly-middle">
									<div class="inner"></div>
								</div>
							</div>
						</div>
						<div class="sm-hide">
							<button class="close-form" type="button">
								<i class="icon icon-close"></i>
							</button>
						</div>
						<div class="fader"></div>
					</form>
				</div>
			</div>
		</section>

		<section class="section city-hero-section">
			<div class="container-fluid">
				<div class="city-hero">
					<div class="row">
						<div class="col-xs-12 col-sm-8 col-md-5">
							<div class="name">London</div>
							<div class="price">140&euro;</div>
							<div class="premium">
								<i class="icon icon-union-star"></i>
								<div class="text">
									Destination of the month
									<small>
										<b>4.5 million</b> visitors per month
									</small>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-3 col-md-2">
							<ul class="features">
								<li><span data-tooltip="Departure date"><b>23</b>mon</span></li>
								<li><span data-tooltip="Light rain"><i class="icon icon-weather-rain"></i>15&deg;</span></li>
								<li><span data-tooltip="Price"><i class="icon icon-price-down"></i>1234&euro;</span></li>
							</ul>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-1 col-lg-3 col-lg-offset-2">
							<div class="offset-top md-hide">&nbsp;</div>
							<div class="marked-title">Book cheap <span>Flights</span></div>
							<p class="paragraph">
								Travel for vacation or for work? Whatever reason you travel for, Travelkiki.com finds you the cheapest London Flights easily and quickly.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="section sm-collapsed">
			<div class="container">
				<div class="weather-carousel">
					<div class="carousel owl-carousel">
						<div class="item active">
							<div class="day">mon</div>
							<div class="date">24</div>
							<i class="icon icon-weather-rain"></i>
							<div class="temperature">16&deg;</div>
						</div>
						<div class="item">
							<div class="day">tue</div>
							<div class="date">25</div>
							<i class="icon icon-weather-rain"></i>
							<div class="temperature">16&deg;</div>
						</div>
						<div class="item">
							<div class="day">wed</div>
							<div class="date">26</div>
							<i class="icon icon-weather-rain"></i>
							<div class="temperature">16&deg;</div>
						</div>
						<div class="item">
							<div class="day">thu</div>
							<div class="date">27</div>
							<i class="icon icon-weather-rain"></i>
							<div class="temperature">16&deg;</div>
						</div>
						<div class="item">
							<div class="day">fri</div>
							<div class="date">28</div>
							<i class="icon icon-weather-rain"></i>
							<div class="temperature">16&deg;</div>
						</div>
						<div class="item">
							<div class="day">sat</div>
							<div class="date">29</div>
							<i class="icon icon-weather-rain"></i>
							<div class="temperature">16&deg;</div>
						</div>
						<div class="item">
							<div class="day">sun</div>
							<div class="date">30</div>
							<i class="icon icon-weather-rain"></i>
							<div class="temperature">16&deg;</div>
						</div>
						<div class="item">
							<div class="day">mon</div>
							<div class="date">31</div>
							<i class="icon icon-weather-rain"></i>
							<div class="temperature">16&deg;</div>
						</div>
						<div class="item">
							<div class="day">tue</div>
							<div class="date">1</div>
							<i class="icon icon-weather-rain"></i>
							<div class="temperature">16&deg;</div>
						</div>
						<div class="item">
							<div class="day">wed</div>
							<div class="date">2</div>
							<i class="icon icon-weather-rain"></i>
							<div class="temperature">16&deg;</div>
						</div>
						<div class="item">
							<div class="day">thu</div>
							<div class="date">3</div>
							<i class="icon icon-weather-rain"></i>
							<div class="temperature">16&deg;</div>
						</div>
						<div class="item">
							<div class="day">fri</div>
							<div class="date">4</div>
							<i class="icon icon-weather-rain"></i>
							<div class="temperature">16&deg;</div>
						</div>
						<div class="item">
							<div class="day">sat</div>
							<div class="date">5</div>
							<i class="icon icon-weather-rain"></i>
							<div class="temperature">16&deg;</div>
						</div>
						<div class="item">
							<div class="day">sun</div>
							<div class="date">6</div>
							<i class="icon icon-weather-rain"></i>
							<div class="temperature">16&deg;</div>
						</div>
						<div class="item">
							<div class="day">mon</div>
							<div class="date">7</div>
							<div class="text">?</div>
							<div class="caption">
								We can’t show more than two weeks. Results for more than two weeks have a 43% accuracy.
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="section">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-5">
						<div class="marked-title">Flights from Greece to <span>London</span></div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-ms-6 col-sm-5">
						<p class="paragraph">
							London, the city of <b>Big Ben, Buckingham Palace</b> and the famous red <b>double-decker buses</b>! If you are looking for cheap airtickets to London, then you are about to visit the second most important city in the world, following New York. 
						</p>
						<p class="paragraph">
							A cosmopolitan metropolis, financial centre and a top notch art, fashion and culture hub, London is so vast – and yet so well structured. All the different cultures,
						</p>
					</div>
					<div class="col-xs-12 col-ms-6 col-sm-5 col-sm-offset-2">
						<p class="paragraph">
							colours, scents and auras of the world are concentrated at the melting pot of the neighbourhoods of London, each and every one of them with its own unique character.
						</p>
						<p class="paragraph">
							Once you book your accommodation in one of the cheap hotels you’ll find in London, you will be free to go out and explore. There is so much to see, taste, listen to and experience!
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-5">
						<ul class="clear images-list">
							<li><img src="temp/provider1.svg" alt=""></li>
							<li><img src="temp/provider2.svg" alt=""></li>
							<li><img src="temp/provider3.svg" alt=""></li>
							<li><img src="temp/provider4.svg" alt=""></li>
							<li><img src="temp/provider5.svg" alt=""></li>
							<li><img src="temp/provider6.svg" alt=""></li>
							<li><img src="temp/provider7.svg" alt=""></li>
						</ul>
					</div>
				</div>
			</div>
		</section>

		<section class="section sm-collapsed mobile-spaced-top">
			<div class="container align-center">
				<div class="section-title">
					<span class="paper-plane">London.</span> Airports
				</div>
				<div class="section-subtitle">London has five main airports.</div>
			</div>
			<div class="city-map">
				<div class="map" id="map"></div>
				<div class="city-detail active" data-index="0">
					<div class="title"><i class="icon icon-airlines"></i>Luton</div>
					<div class="paragraph">
						London City Airport, 9.5 kilometres east of London, accessible by metro and train.
					</div>
				</div>
				<div class="city-detail" data-index="1">
					<div class="title"><i class="icon icon-airlines"></i>Stansted</div>
					<div class="paragraph">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, dolores!
					</div>
				</div>
				<div class="city-detail" data-index="2">
					<div class="title"><i class="icon icon-airlines"></i>Heathrow</div>
					<div class="paragraph">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, doloremque.
					</div>
				</div>
				<div class="city-detail" data-index="3">
					<div class="title"><i class="icon icon-airlines"></i>Gatwick</div>
					<div class="paragraph">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, molestiae.
					</div>
				</div>
			</div>
		</section>

		<section class="section">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-5">
						<div class="marked-title">Information about <span>London</span></div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-ms-6 col-sm-5">
						<p class="paragraph">
							London, the capital of the United Kingdom, is one of the top world destinations, whether it’s holidays, short trips, shopping, studies or work you are looking for. As a result, it comes as no surprise that in London you will probably meet people from all over the world who live, work and coexist harmoniously.
						</p>
					</div>
					<div class="col-xs-12 col-ms-6 col-sm-5 col-sm-offset-2">
						<p class="paragraph">
							The multicultural spirit is strongly reflected among the <b>7.7 million</b> residents of London. Locals and foreigners – students or not – really create a perfect mosaic of cultures and souls, having one enormous attribute in common: 
							the city itself!
						</p>
					</div>
				</div>
			</div>
		</section>

		<section class="section collapsed scrollable-section">
			<div class="background" style="background: url(img/city-detail-scroll.jpg) no-repeat center; background-size: cover;"></div>
			<div class="scrollable-progress"><span></span></div>
			<div class="scrollable-content">
				<div class="verticaly-middle">
					<div class="inner">
						<div class="row middle-xs">
							<div class="col-xs-12 col-sm-8 col-md-4">
								<ul class="clear images-slider">
									<li class="active">
										<figure class="image-cover">
											<img src="temp/book1.jpg" alt="">
										</figure>
									</li>
									<li>
										<figure class="image-cover">
											<img src="temp/book2.jpg" alt="">
										</figure>
									</li>
									<li>
										<figure class="image-cover">
											<img src="temp/book3.jpg" alt="">
										</figure>
									</li>
								</ul>
								<ul class="clear images-dots">
									<li class="active"><span></span></li>
									<li><span></span></li>
									<li><span></span></li>
								</ul>
							</div>
							<div class="col-xs-12 col-sm-8">
								<div data-tab="0" class="active">
									<div class="marked-title">Tate <span>Modern</span></div>
									<p class="paragraph collapsed-bottom">
										A historic castle built by <b>William</b> the <b>Conqueror</b> in 1078, the Tower of London was later used as a royal residence, treasury, arsenal and prison. A symbol of oppression, yet a beautiful sight.
									</p>
								</div>
								<div data-tab="1">
									<div class="marked-title">About <span>Greece</span></div>
									<p class="paragraph collapsed-bottom">
										A historic castle built by <b>William</b> the <b>Conqueror</b> in 1078, the Tower of London was later used
									</p>
								</div>
								<div data-tab="2">
									<div class="marked-title">About <span>development</span></div>
									<p class="paragraph collapsed-bottom">
										A historic castle built by <b>William</b> the <b>Conqueror</b> in 1078, the Tower of London was later used as a royal residence, treasury, arsenal and prison. A symbol of oppression, yet a beautiful sight. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, odio.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="scrollable">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-7 col-sm-offset-5 col-md-5 col-md-offset-7">
							<div class="title" data-activate="0">Tate Modern</div>
							<p class="paragraph">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, aliquam. Consectetur repudiandae voluptatem quasi, fuga voluptate dicta harum asperiores obcaecati praesentium, unde porro deleniti qui sapiente incidunt reiciendis, nostrum quidem?
							</p>
							<p class="paragraph">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro perferendis illo harum ipsum autem excepturi ipsam quod animi. Id nobis ipsa, aperiam nisi! Ipsum nostrum aliquam nam! Neque, voluptas, assumenda.
							</p>
							<figure class="figure">
								<img src="temp/book1.jpg" alt="">
								<figcaption><i class="icon icon-info"></i>We can’t show more than two weeks.</figcaption>
							</figure>
							<p class="paragraph">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae perferendis facilis numquam magni iste atque officiis distinctio hic quisquam? Vero tenetur eveniet nihil culpa molestias ex repudiandae placeat aspernatur repellendus!
							</p>
							<p class="paragraph">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit mollitia quisquam beatae modi aperiam autem dolore distinctio minus consectetur id voluptates, magni tempora facere debitis adipisci officiis illo nesciunt veniam.
							</p>
							<div class="title" data-activate="1">About Greece</div>
							<figure class="figure">
								<img src="temp/book2.jpg" alt="">
								<figcaption>We can’t show more than two weeks.</figcaption>
							</figure>
							<p class="paragraph">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam eaque modi, sint placeat at pariatur. Dolore ratione repudiandae eaque, atque, ea illo vero provident necessitatibus illum, expedita eum nam commodi.
							</p>
							<p class="paragraph">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi deleniti ipsam nostrum, earum incidunt, praesentium porro repellendus excepturi, voluptas esse dolorum, perspiciatis cum veniam unde accusantium impedit dolores temporibus nihil.
							</p>
							<p class="paragraph">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime error quibusdam, itaque cum magnam autem optio, eaque saepe tenetur molestiae, maiores repellendus labore sit delectus sint blanditiis nemo fuga deserunt.
							</p>
							<p class="paragraph">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta deserunt recusandae alias, fuga magnam excepturi minus doloremque, inventore explicabo animi vel quo aspernatur vero, fugit maxime rerum nobis repellendus deleniti.
							</p>
							<div class="title" data-activate="2">About development</div>
							<p class="paragraph">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa voluptatem aliquid quis illum incidunt reiciendis minus ea mollitia, vitae aliquam neque consectetur enim temporibus dolorum recusandae iure odit ipsum beatae.
							</p>
							<figure class="figure">
								<img src="temp/book3.jpg" alt="">
							</figure>
							<p class="paragraph">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem sint odio amet possimus, voluptatum illum modi minus quaerat excepturi eius, beatae eum harum vero velit impedit est architecto alias tempore.
							</p>
							<p class="paragraph">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi deleniti ipsam nostrum, earum incidunt, praesentium porro repellendus excepturi, voluptas esse dolorum, perspiciatis cum veniam unde accusantium impedit dolores temporibus nihil.
							</p>
							<p class="paragraph">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime error quibusdam, itaque cum magnam autem optio, eaque saepe tenetur molestiae, maiores repellendus labore sit delectus sint blanditiis nemo fuga deserunt.
							</p>
							<p class="paragraph">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta deserunt recusandae alias, fuga magnam excepturi minus doloremque, inventore explicabo animi vel quo aspernatur vero, fugit maxime rerum nobis repellendus deleniti.
							</p>
							<p class="paragraph">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa voluptatem aliquid quis illum incidunt reiciendis minus ea mollitia, vitae aliquam neque consectetur enim temporibus dolorum recusandae iure odit ipsum beatae.
							</p>
							<p class="paragraph">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem sint odio amet possimus, voluptatum illum modi minus quaerat excepturi eius, beatae eum harum vero velit impedit est architecto alias tempore.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>

	</main>

	<a href="#" class="scroll-top">
		<i class="icon icon-arrow-up"></i>
	</a>

	<footer class="main-footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-9 sm-show">
				<ul class="clear menu">
					<li><a href="index.html" class="active">Home</a></li>
					<li><a href="cities.html">Cities</a></li>
					<li><a href="airlines.html">Airlines</a></li>
					<li><a href="map.html">Map</a></li>
					<li><a href="blog.html">Blog</a></li>
					<li><a href="about.html">About</a></li>
					<li><a href="#">Jobs</a></li>
					<li><a href="#">Help</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-3">
				<div class="row">
					<div class="col-xs-12 col-sm-7">
						<ul class="clear socials">
							<li><a href="#"><i class="icon icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon icon-pinterest"></i></a></li>
						</ul>
					</div>
					<div class="col-xs-12 col-sm-5 align-right first-xs last-sm">
<!-- 						<a href="#" class="language">
							EN<img src="img/icons/en.svg" alt="">
						</a> -->
						<div data-dropdown class="language">
							<div class="anchor"><img src="img/icons/language.svg" alt="language icon"></div>
							<div class="dropdown">
								<ul class="lang-list clear">
									<li class="item active">
										<a href="#" class="lang-select">
											<img src="img/icons/en.svg" alt="en" class="img-icon">
											English
										</a>
									</li>
									<li class="item">
										<a href="#" class="lang-select">
											<img src="img/icons/gr.svg" alt="gr" class="img-icon">
											Greek
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-8">
					<span class="copyright">© 2016 Travelkiki.</span>
					<a href="terms.html" class="link">Terms</a>
					<a href="#" class="link">Privacy policy</a>
					<a href="contacts.html" class="link">Contact Us</a>
				</div>
				<div class="col-xs-12 col-sm-4 align-right">
					<a href="#" class="information">@ Inform me about Travelkiki</a>
				</div>
			</div>
		</div>
	</div>
</footer>



	<div class="ticket-popup">
	<button class="btn close-popup" type="button">
		<i class="icon icon-arrow-left"></i>
	</button>
	<a href="index.html" class="site-logo">
		<img src="img/logo.svg" alt="logo" class="dark-logo">
		<img src="img/logo-white.svg" alt="logo" class="light-logo">
	</a>
	<div class="offers-label">
		<img src="img/icons/offers-icon.svg" alt="icon">
	</div>
	<div class="map-wrapper">
		<div id="map" class="map"></div>
	</div>
	<div class="content-wrapper">
		<ul class="clear" data-tickets-info>
			<li>
				#=include small-ticket1.html
			</li>
			<li>
				#=include small-ticket2.html
			</li>
			<li class="spaced">
				<div class="booking active">
					<div class="price">249&euro;</div>
					<div class="host">Pamediakopes.gr</div>
					<div class="text">Book</div>
				</div>
			</li>
			<li class="spaced">
				<div class="booking">
					<div class="price">321&euro;</div>
					<div class="host">Petas.gr</div>
					<div class="text">Book</div>
				</div>
			</li>
			<li class="spaced">
				<div class="booking">
					<div class="price">32 412&euro;</div>
					<div class="host">Pamediakopes.gr</div>
					<div class="text">Book</div>
				</div>
			</li>
		</ul>
	</div>
</div>

	<script src="js/lib/jquery.min.js"></script>
	<script src="js/lib/vue.js"></script>
	<script src="js/lib/math.js"></script>
	<script src="js/lib/array.js"></script>
	<script src="js/plugins/jquery.mousewheel.min.js"></script>
	<script src="js/plugins/perfect-scrollbar.jquery.min.js"></script>
	<script src="js/plugins/owl.carousel.min.js"></script>
	<script src="js/plugins/moment.js"></script>
	<script src="js/plugins/nouislider.min.js"></script>
	<script src="js/plugins/progress.js"></script>

	<script src="js/main.js"></script>
	<script src="js/validator.js"></script>

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&amp;subset=greek" rel="stylesheet">

	<script src="js/init/checkbox-class.js"></script>
	<script src="js/init/validation.js"></script>
	<script src="js/init/hero-parallax.js"></script>

	<script src="js/init/copy-link.js"></script>

	<script src="js/init/scrollbar.js"></script>
	<script src="js/init/activate.js"></script>
	<script src="js/init/expander.js"></script>
	<script src="js/init/dropdown.js"></script>
	<!-- for mobile version -->
	<script src="js/init/text-animation.js"></script>
	<script src="js/init/validation.js"></script>
	<script src="js/init/vue.calendar-component.js"></script>
	<script src="js/app.js"></script>

	<script src="js/plugins/mapbox-gl.js"></script>
	<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.48.0/mapbox-gl.css' rel='stylesheet' />
	<script src="js/lib/maps.utils.js"></script>
	<script src="js/init/city-map.js"></script>

	<script>
		// $('.form-section form').on('custom.submit', function(event) {
		// 	location.href = 'tickets.html';
		// });
	</script>

</body>
</html>