/* font-family: "ArialRegular"; */
@font-face {
    font-family: "ArialRegular";
    src: url("../fonts/Arial/ArialRegular/ArialRegular.eot");
    src: url("../fonts/Arial/ArialRegular/ArialRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Arial/ArialRegular/ArialRegular.woff") format("woff"),
    url("../fonts/Arial/ArialRegular/ArialRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "CalibriRegular"; */
@font-face {
    font-family: "Calibri-Regular";
    src: url("../fonts/Calibri/CalibriRegular/Calibri.eot");
    src: url("../fonts/Calibri/CalibriRegular/Calibri.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Calibri/CalibriRegular/Calibri.woff") format("woff"),
    url("../fonts/Calibri/CalibriRegular/Calibri.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "CalibriLight"; */
@font-face {
    font-family: "Calibri-Light";
    src: url("../fonts/Calibri/CalibriLight/Calibri-Light.eot");
    src: url("../fonts/Calibri/CalibriLight/Calibri-Light.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Calibri/CalibriLight/Calibri-Light.woff") format("woff"),
    url("../fonts/Calibri/CalibriLight/Calibri-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
