/*fonts*/
$a-reg: "ArialRegular", Arial, sans-serif;
$c-light: "Calibri-Light", Arial, sans-serif;
$c-reg: "Calibri-Regular", Arial, sans-serif;

/*colors*/
$primary: #225aa2;
$primary-middle: #103565;
$primary-darken: #0e3367;
$gray: #5e5e5e;
$danger: #F44336;

/*body*/
$body-font: $c-light;
$text-color: $gray;
$body-font-size: 14px;
$container-size: 1200px;




