@import '../variables.scss';

.catalog-menu {

	&.header-menu {
		position: absolute;
		top: 100%; left: 0;
		width: 100%;
		display: none;

		&.active {
			display: block;
		}
	}

	.catalog-tabs {

		.tab-item {

			&.uk-active {

				.cover {
					background-color: rgba($color_secondary, 0.08);
					color: $color_secondary;
				}
			}
		}

		.cover {
			font-size: 16px;
			color: $color_primary;
			padding: 15px 20px 16px 45px;
			font-weight: 600;
			position: relative;
			display: block;
			line-height: 1.2;

			.title-icon {
				position: absolute;
				top: 50%; left: 18px;
				transform: translateY(-50%);
			}

			.caret {
				position: absolute;
				top: 50%; right: 16px;
				transform: translateY(-50%);
				font-size: 10px;
				margin-top: 2px;
			}

			&:hover {
				color: $color_secondary;
			}
		}
	}

	.tab-content {
		background-image: url(../img/logo-mask.png);
		background-repeat: no-repeat;
		background-position: right bottom;
	}

	.uk-navbar-nav {
		background-color: red;
	}
}


@media (min-width: 1440px) {

	.catalog-menu {

		.uk-navbar-nav {
			display: none;
		}
	}
}

