@import '../variables.scss';

.element-item {

	.item-inner {
		height: 100%;
	}

	.text-cover {
		position: relative;
		z-index: 1;
		color: $color_primary;
		padding: 99px 104px;
		overflow: hidden;
		width: 52%;

		.inner {
			position: relative;
			z-index: 3;
			height: 100%;

			&:after {
				position: absolute;
				content: '';
				height: 40px; width: 40px;
				border-top: 4px solid $color_primary;
				border-right: 4px solid $color_primary;
				right: 0; top: -20px;
				transition: .2s;
			}

			&:hover {

				&:after {
					height: 60px; width: 60px;
				}
			}
		}

		.subtitle {
			font-size: 16px;
			font-weight: 700;
			line-height: 20.94px;
			letter-spacing: 1.95px;
			text-transform: uppercase;
		}

		.element-title {
			line-height: 1;
			margin: 10px 0 32px;
		}

		.button-cover {

			.button {
				padding-left: 41px;
				padding-right: 41px;
				font-size: 18px;
			}
		}

		&:before,
		&:after {
			content: '';
			position: absolute;
			top: 0; left: 0;
			height: 100%; width: 100%;
			pointer-events: none;
		}

		&:before {
			background-image: url(../img/element_item_cover.jpg);
			background-size: cover;
			opacity: 0.6;
			transform: scale(1.3);
			z-index: -1;
		}

		&:after {
			background-color: $color_secondary_transparent;
			z-index: 2;
		}

		&.primary {
			background-color: $color_primary;
			color: $color_white;

			&:before,
			&:after {
				display: none;
			}
		}
	}

	.element-figure {
		width: 48%;
		position: absolute;
		right: 0; top: 0;
		height: 100%;
		margin: 0;
		padding-top: 0;
		height: 100%;
	}

}
