@import '../variables.scss';

.main-footer {
	background-color: $color-white;
	height: var(--footer_height);
	color: $color_black;
	padding: 43px 0;

	.subheader2 {
		color: $color_black;
		font-weight: 700;
		margin-top: 0;
		margin-bottom: 5px;
	}

	.uk-list {
		margin-top: 9px;

		.list-item {
			margin-top: 8px;
		}
	}

	.link {
		font-size: var(--subheader3-font-size);
		color: rgba($color_black, 0.6);
	}

	.social-list {
		font-size: 0;
		margin: 0 -5px;

		.list-item {
			display: inline-block;
			vertical-align: middle;
			padding: 5px;
		}
	}

	.social-link {
		color: $color_secondary;
		margin-top: 2px;
		font-size: 21px;
		height: 24px; width: 24px;
		line-height: 24px;
		position: relative;
		text-align: center;

		&:before {
			content: '';
			position: absolute;
			top: 50%; left: 50%;
			height: 30px; width: 30px;
			background-color: $hover_transparent;
			transition: .2s;
			transform: translate(-50%, -50%) scaleY(0.7);
			opacity: 0;
			border-radius: 50%;
		}

		.icon {
			position: relative;
			top: -3px;
		}

		&:hover {
			color: $color_secondary_hover;

			&:before {
				transform: translate(-50%, -50%)  scaleY(1);
				opacity: 1;
			}
		}
	}

	.nav-item {
		margin-top: 16px;

		.link {
			color: rgba($color_black, 0.4);
			font-size: var(--subheader2-font-size);
			font-weight: 700;

			&:hover {
				color: $color_secondary;
			}
		}
	}

	.bordered-box {
		border-top: 1px solid rgba($color_black, 0.1);
		margin-top: 33px;
		padding-top: 29px;
	}

	.title {
		font-size: var(--subheader3-font-size);
		color: rgba($color_black, 0.8);
		padding-right: 28px;
		padding-top: 10px;

		.copy {
			margin-right: 15px;
		}
	}
}