@import '../variables.scss';

.main-header {
	background-color: $color-primary;
	height: var(--header_height);
	padding: 9px 0;
	position: relative;

	.uk-logo {
		width:170px;
	}

	.navbar-cover {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	.uk-navbar-nav > li > .link {
		font-size: 15px;
		font-weight: 600;
		padding: 0 15px;
	}

	.button.button-menu {
		width: 34px;
		min-width: auto;
		padding: 0;
		margin-right: 20px;
	}

	.button-square {
		color: $color_white;

		&.spaced-right {
			margin-right: 10px;
		}

		&:hover {
			color: $color_primary_hover;
		}
	}

	.user-menu {
		width: 540px;
	}

	.menu-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 10px;

		.search-form {
			flex: 1;
		}
	}
}

@media (min-width: 960px) {

	.main-header {
		.uk-navbar-nav {
			gap: 15px;
		}
	}
}