@import '../variables.scss';

.preview-card {
	border: 1px solid transparent;
	padding: 21px 21px 55px;
	height: 100%;
	position: relative;

	.image-inner {
		position: relative;
		display: block;
		overflow: hidden;

		.image-cover,
		.image-full {
			padding-top: 73%;
			margin-bottom: 0;
			font-size: 0;
		}

		.mark {
			position: absolute;
			top: 0; left: 0;
			font-size: var(--font-size_smaller);
			color: $color_white;
			background-color: $color_primary;
			text-transform: uppercase;
			padding: 2px 7px 0px;
			letter-spacing: 2px;
			font-weight: 500;
			z-index: 1;

			&.new {
				background-color: $color_primary;
			}

			&.promo {
				background-color: $color_red;
			}

			&.sale {
				background-color: $color_secondary;
			}
		}

		.details {
			position: absolute;
			background-color: $color_secondary;
			z-index: 1;
			bottom: 0;
			left: 0; right: 0;
			padding: 21px;
			height: 76%;
			transition: .5s;
			transform: translateY(100%);

			.item {
				padding: 3px;
			}

			.details-list {
				font-size: var(--font-size_smaller);
				color: $color_white;
				text-align: center;

				.title {
					text-transform: uppercase;
				}
			}
		}

		.count {
			position: absolute;
			right: 0; top: 0;
			color: $color_primary;
			background-color: $color_whitesmoke;
			text-transform: uppercase;
			padding: 2px 7px 0px;
			font-size: var(--font-size_smaller);
			font-weight: 600;
			z-index: 1;
		}
	}

	.caption-inner {
		margin-top: 15px;
		position: relative;

		.cart-button {
			position: absolute;
			top: 1px; right: 5px;
		}

		.subheader3 {
			padding-right: 40px;
			margin-bottom: 5px;
			line-height: 1.38;

			&:hover {
				color: $color_secondary;
			}
		}

		.caption {
			padding-right: 45px;
			font-size: var(--font-size_smaller);
			font-weight: 500;
			color: $color_dark;
			margin-bottom: 10px;
		}
	}

	.price {
		position: absolute;
		bottom: 16px; left: 21px;
		color: $color_secondary;
		font-size: var(--font-size);
		font-weight: 600;
		line-height: 1;

		.digit {
			font-size: var(--subheader2-font-size);
			margin-right: 3px;
		}

		.old {
			color: $color_primary;
			font-size: var(--font-size_smaller);
			display: block;
			font-weight: 500;
			text-decoration: line-through;
		}
	}

	&:hover {
		border: 1px solid $color_secondary;

		.details {
			transform: translateY(0);
		}
	}

}