.btn {
	cursor: pointer;
	border-radius: 4px;
	height: 42px;
	border: 0;
	font-size: 16px;
	text-align: center;
	display: inline-block;
	line-height: 1;
	padding: 12px 20px;
	transition: background-color .2s, color .2s;
	overflow: hidden;
	position: relative;
	font-family: $font;
	font-weight: 400;

	.fader {
		position: absolute;
		display: block;
		width: 30px; height: 30px;
		top: 50%; left: 50%;
		border-radius: 50%;
		background-color: lighten($gray, 10);
		opacity: 0;

		&.active {
			animation: fade 1.2s forwards;
		}
	}
	.text {
		position: relative;
		z-index: 1;
	}
}

@keyframes fade {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(10);
		opacity: 0;
	}
}

.btn.btn-primary {
	background-color: #9ca4ad;
	color: #fff;

	.fader {
		background-color: lighten($primary, 10);
	}

	&.active,
	&:hover {
		background-color: $primary;
		color: #fff;
	}
}

.btn.btn-link {
	color: $primary;
	padding-left: 0;
	padding-right: 0;

	.text {
		color: $primary;
	}

	&:hover {
		color: $primary;

		.text {
			color: $primary;
		}

		.text {
			border-bottom: 1px solid;
		}
	}

	&.link-with-arrow {

		.icon {
			font-size: 12px;
			display: inline-block;
		}

		&:hover {

			.icon {

			}
		}
	}
}

.btn.btn-primary-inverse {
	background-color: $primary;
	color: #fff;

	.fader {
		background-color: lighten(#9ca4ad, 10);
	}

	&.active,
	&:hover {
		background-color: #9ca4ad;
		color: #fff;
	}
}