.counters-section {
	position: relative;
	background-image: url(../images/counters-back.jpg);
	background-size: cover;
	padding: 100px 0;
	color: #fff;

	&:before {
		position: absolute;
		background-color: rgba(#131418, 0.55);
		content: '';
		z-index: 1;
		top: 0; left: 0;
		bottom: 0; right: 0;
	}

	.caption-figures {
		position: absolute;
		z-index: 1;
		pointer-events: none;
		right: -73px; top: -82px;

		.shape-top {
			position: absolute;
			transition: transform .3s;
			top: 0; left: 0;

			&.animated {
				transform: translate(30px, 40px);
			}
		}
	}

	.content {
		position: relative;
		z-index: 2;
	}

	.count-overlay {
		padding: 30px;
	}

	.count-to {
		position: relative;
		padding-top: 100%;

		canvas {
			position: absolute;
			top: 50%; left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
		}
		.caption {
			position: absolute;
			text-align: center;
			top: 50%; left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;

			.counter {
				color: #fff;
				font-size: 45px;
				font-weight: 700;
			}

			.title {
				color: #fff;
				font-size: 16px;
				font-weight: 400;
			}
		}
	}
}