.employees-section {
	padding: 72px 0 14px;
	background-image: url(../images/employees-back.jpg);
	background-size: cover;
	position: relative;

	.caption-figures {
		position: absolute;
		pointer-events: none;

		&.left {
			top: 203px; left: -140px;
		}

		&.right {
			right: -187px; bottom: -93px;

			.shape-top {
				position: absolute;
				top: 0; left: 0;
				transition: transform .3s;

				&.animated {
					transform: translate(44px,-161px);
				}
			}
		}
	}

	.employees-slider {
		font-size: 0;
		white-space: nowrap;
		overflow: hidden;
		position: relative;
		z-index: 1;
		margin: 0 -10px;

		.item {
			display: inline-block;
			vertical-align: top;
			white-space: normal;
			padding: 0 10px;
			width: 25%;
		}

		&.owl-loaded {
			margin: 0;

			.item {
				width: 100%;
				padding: 0;
			}
		}
	}

	.slider-cover {
		margin: 48px 0;

		.slider-buttons {

			.nav-button {
				top: 30%;
			}
		}
	}
}