.popup {
	position: fixed;
	z-index: 25;
	background: rgba(#000,.7);
	top: 0; left: 0; right: 0; bottom: 0;
	overflow-x: hidden;
	overflow-y: auto;
	white-space: nowrap;
	text-align: center;
	transition: .3s;
	font-size: 0;
	opacity: 0;
	display: none;
	padding: 15px;

	&:after {
		content: '';
		display: inline-block;
		vertical-align: middle;
		width: 0; height: 100%;
	}

	.close-popup {
		position: absolute;
		width: 80px; height: 80px;
		line-height: 80px;
		top: 0; right: 0;
		border-radius: 0;
		border: none;
		cursor: pointer;
		background: transparent;
		transition: .2s;
		font-size: 24px;
		color: #cfcfcf;

		&:hover {
			color: $danger;
		}
	}

	.inner {
		display: inline-block;
		width: 100%;
		vertical-align: middle;
		padding: 0;
		max-width: 590px;
		background: transparent;
		text-align: left;
		opacity: 0;
		background: #fff;
		font-size: 14px;
		white-space: normal;
		position: relative;
		transition: .3s;
		transform: translateY(-50px);
		box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
		padding: 50px;
	}

	&.active {
		opacity: 1;

		.inner {
			transition-delay: .2s;
			opacity: 1;
			transform: translateY(0);
		}
	}
}
