.slider-cover {
	position: relative;

	.slider-buttons {

		&.disabled {
			opacity: 0.3;
			pointer-events: none;
		}

		.nav-button {
			font-size: 28px;
			cursor: pointer;
			transition: color .3s;
			color: #9ca4ad;
			position: absolute;
			height: 60px; width: 60px;
			border: 0;
			background-color: transparent;
			top: 50%;
			transform: translateY(-50%);

			&:hover {
				color: $primary;
			}

			&.slider-prev {
				right: 100%;
			}

			&.slider-next {
				left: 100%;
			}
		}
	}
}