@import '../variables.scss';

$color-light-header: $color-white;
$color-dark-header: $color-dark;
$background-light-header: $color-light;
$background-dark-header: $color-dark;
$header-borders-color-light: rgba($color-light-header, 0.3);
$header-borders-color-dark: rgba($color-dark-header, 0.3);

.main-header {
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	z-index: 10;
	max-height: 100vh;

	.header-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		padding: 55px 0;
	}

	.menu-button,
	.mobile-toggle,
	.mobile-bottom {
		display: none;
	}

	.tag {
		margin: 5px 0;
	}

	.logo-cover {
		padding-right: 32px;
		position: relative;

		&:after {
			content: '';
			position: absolute;
			height: 20px; width: 1px;
			right: 0; top: 50%;
			transform: translateY(-50%);
		}
	}

	.left-side,
	.right-side {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.search-cover {

		.search {
			display: inline-block;
			vertical-align: middle;
		}

		.language {
			display: inline-block;
			vertical-align: middle;
		}
	}

	.icon-round {
		font-size: 20px;
		opacity: 0.8;

		&:hover {
			opacity: 1;
		}
	}

	.header-search-form {
		display: none;
		position: fixed;
		z-index: 15;
		border-radius: 100px;

		.form-group {
			position: relative;

			.search-toggle-close {
				position: absolute;
				left: 15px; top: 50%;
				transform: translateY(-50%);
			}

			&.success {

				~ .search-toggle-clear {
					opacity: 0.8;

					&:hover {
						opacity: 1;
					}
				}
			}
		}

		.input {
			background-color: transparent;
			border-radius: 100px;
			border: 1px solid;
			padding: 15px 50px;
			width: 100%;
			transition: .2s;
		}

		.search-toggle-clear {
			position: absolute;
			right: 15px; top: 50%;
			transform: translateY(-50%);
			opacity: 0;
			transition: .2s;
		}
	}

	.action-result {
		display: none;
		max-height: 82vh;
		overflow: auto;
		padding-bottom: 25px;

		.info-section {
			padding: 30px 0;
		}

		.back-button {
			display: none;
		}

		.menu-links {
			margin-top: 30px;

			a {
				font-size: var(--subtitle-font-size);
				transition: .2s;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		.article-preview {

			.caption {

				.subtitle {
					border-block-color: $color-dark-middle;
				}
			}
		}
	}

	.header-navigation {
		font-size: 0;
		padding: 0 32px;

		li {
			display: inline-block;
			vertical-align: middle;
		}

		a {
			text-transform: uppercase;
			font-size: var(--buttons-font-size);
			padding: 15px;

			.text {
				display: inline-block;
				position: relative;

				&:after {
					content: '';
					bottom: 1px; left: 0;
					width: 100%; height: 1px;
					position: absolute;
					transition: .2s;
					transform: scaleX(0.6);
					opacity: 0;
				}
			}

			&:hover,
			&.active {

				.text:after {
					transform: scaleX(1);
					opacity: 1;
				}
			}
		}
	}

	.logo {
		width: 183px;

		img {
			width: 100%;
		}
	}

	a,
	button {
		color: inherit;
	}

	.dropdown-select {
		position: relative;
		cursor: pointer;
		margin: 0 18px 0 32px;

		.item {
			display: block;
			text-transform: uppercase;
			padding: 9px 16px 8px 16px;
			line-height: 1;
			font-size: var(--buttons-font-size);
			border-radius: 100px;
		}

		.title {

			.item {
				border-radius: 100px;
			}

			&:after {
				content: "\e913";
				font-family: 'icomoon';
				font-size: calc(var(--buttons-font-size)*0.6);
				margin-left: 5px;
				display: inline-block;
			}
		}

		.inner {
			position: absolute;
			top: 100%; left: 0;
			width: 100%;
			opacity: 0;
			visibility: hidden;

			.item {
				border-radius: 0;
			}

			.item:last-child {
				border-radius: 0 0 14px 14px;
			}
		}

		&:hover {

			.inner {

				opacity: 1;
				visibility: visible;
			}

			.title {
				border-radius: 14px 14px 0 0;
				border-color: transparent;

				&:after {
					content: "\e912";
				}
			}
		}
	}


	.menu-tab {
		display: none;
		font-size: 0;

		&.active {
			display: block;
		}

		.submenu-cover {
			display: inline-block;
			vertical-align: top;
			width: 50%;
			font-size: var(--font-size);

			&:first-child {
				padding-right: 20px;
			}

			&:last-child {
				padding-left: 20px;
			}
		}
	}

	&.form-search-active {

		.header-search-form {
			display: block;
		}

		.search-result {
			display: block;

			.result {
				display: none;
			}

			&.success {

				.recommended {
					display: none;
				}

				.result {
					display: block;
				}
			}
		}
	}


	&.menu-active {

		.header-navigation.active.animated {
			transform: translateX(-100%) translateY(0);
		}

		.action-result.menu-result {
			transform: translateX(0);
		}
	}

	&.light {
		color: $color-light-header;

		.dark-theme {
			display: none;
		}

		.logo-cover {

			&:after {
				background: $header-borders-color-light;
			}
		}

		.header-navigation {

			a {

				.text {

					&:after {
						background-color: $color-light-header;
					}
				}
			}
		}

		.dropdown-select {

			.title {
				border: 1px solid $header-borders-color-light;
			}

			&:hover {

				.title {
					border-color: transparent;
				}

				.item {
					background-color: $color-dark;

					&:hover {
						background-color: $color-dark-hover;
					}
				}
			}
		}

		.button-cover {

			.button-header {
				border-color: $header-borders-color-light;

				&:hover {
					color: $color-dark-header;
					background-color: $color-light;
				}
			}
		}

		.header-search-form {
			background-color: $background-dark-header;

			.input {
				border: 1px solid $header-borders-color-light;
				color: $color-light-header;
			}
		}

		.action-result {
			background-color: $background-dark-header;
			box-shadow: rgba($color-primary, 0.05) 0px 8px 24px;

			.info-section {
				border-top: 1px solid $header-borders-color-light;
			}
		}

		.tag {
			border-color: $header-borders-color-light;

			&:hover {
				color: $color-dark-header;
				background-color: $color-light;
			}
		}

		.mobile-bottom {

			.centered-inner {

				.contact-button {
					background-color: $color-white;
					color: $color-primary;
				}
			}

			.dropdown {
				border-color: $header-borders-color-light;

				.item { color: $color-white; }

				.dropdown-inner {
					background-color: $color-dark-header;
					border-color: $header-borders-color-light;
				}
			}

			.bordered-top {
				border-top: 1px solid $header-borders-color-light;

				.social-mobile ul { color: $header-borders-color-light; }
			}
		}

		&.scrolled {
			background: linear-gradient(180deg, $background-dark-header 0%, rgba($background-dark-header, 0.99) 8.1%, rgba($background-dark-header, 0.953) 15.5%, rgba($background-dark-header, 0.894) 22.5%, rgba($background-dark-header, 0.824) 29%, rgba($background-dark-header, 0.74) 35.3%, rgba($background-dark-header, 0.647) 41.2%, rgba($background-dark-header, 0.55) 47.1%, rgba($background-dark-header, 0.45) 52.9%, rgba($background-dark-header, 0.353) 58.8%, rgba($background-dark-header, 0.26) 64.7%, rgba($background-dark-header, 0.176) 71%, rgba($background-dark-header, 0.106) 77.5%, rgba($background-dark-header, 0.047) 84.5%, rgba($background-dark-header, 0.01) 91.9%, rgba($background-dark-header, 0) 100%);
		}

		&.form-search-active,
		&.menu-active {
			background-color: $background-dark-header;
		}
	}

	&.dark {
		color: $color-dark-header;

		.light-theme {
			display: none;
		}

		.header-navigation {

			a {

				.text {

					&:after {
						background-color: $color-dark-header;
					}
				}
			}
		}

		.dropdown-select {

			.title {
				border: 1px solid $header-borders-color-dark;
			}

			&:hover {

				.title {
					border-color: transparent;
				}

				.item {
					background-color: $color-white-clear;

					&:hover {
						background-color: $color-light-secondary;
					}
				}
			}
		}

		.button-cover {

			.button-header {
				border-color: $header-borders-color-dark;

				&:hover {
					color: $color-light;
					background-color: $color-dark;
				}
			}
		}

		.header-search-form {
			background-color: $background-light-header;

			.input {
				border: 1px solid $header-borders-color-dark;
				color: $color-dark-header;
			}
		}

		.action-result {
			background-color: $background-light-header;
			box-shadow: rgba($color-dark, 0.05) 0px 8px 24px;

			.info-section {
				border-top: 1px solid $header-borders-color-dark;
			}
		}

		.tag {
			border-color: $header-borders-color-dark;

			&:hover {
				color: $color-light;
				background-color: $color-dark;
			}
		}

		.mobile-bottom {

			.centered-inner {

				.contact-button {
					color: $color-white;
					background-color: $color-primary;
				}
			}

			.dropdown {
				border-color: $header-borders-color-dark;

				.item { color: $color-dark; }

				.dropdown-inner {
					background-color: $color-light-header;
					border-color: $header-borders-color-dark;
				}
			}

			.bordered-top {
				border-top: 1px solid $header-borders-color-dark;

				.social-mobile ul { color: $header-borders-color-dark; }
			}
		}

		&.scrolled {
			background: linear-gradient(180deg, $background-light-header 0%, rgba($background-light-header, 0.99) 8.1%, rgba($background-light-header, 0.953) 15.5%, rgba($background-light-header, 0.894) 22.5%, rgba($background-light-header, 0.824) 29%, rgba($background-light-header, 0.74) 35.3%, rgba($background-light-header, 0.647) 41.2%, rgba($background-light-header, 0.55) 47.1%, rgba($background-light-header, 0.45) 52.9%, rgba($background-light-header, 0.353) 58.8%, rgba($background-light-header, 0.26) 64.7%, rgba($background-light-header, 0.176) 71%, rgba($background-light-header, 0.106) 77.5%, rgba($background-light-header, 0.047) 84.5%, rgba($background-light-header, 0.01) 91.9%, rgba($background-light-header, 0) 100%);
		}

		&.form-search-active,
		&.menu-active {
			background-color: $background-light-header;
		}
	}
}

@media (max-width: 1440px) {

	.main-header {

		.header-navigation {
			padding: 0 25px;

			a {
				padding-right: 7px;
				padding-left: 7px;
			}
		}

		.logo-cover {
			padding-right: 20px;
		}

		.dropdown-select {
			margin-left: 20px;
		}

		.logo {
			width: 156px;
		}
	}
}

@media (max-width: 1199px) {

	.main-header {

		.menu-button {
			display: block;
			height: 48px; width: 48px;
			margin-left: 15px;
			border-radius: 50%;
			overflow: hidden;
			text-align: center;
			line-height: 1;
			z-index: 15;

			.lines {
				width: 18px; height: 1px;
				border-radius: 12px;
				display: inline-block;
				transition: background-color 0.2s ease-in-out;
				margin-bottom: 4px;

				&:before,
				&:after {
					content: "";
					width: 100%;
					display: block;
					transition: all 0.2s ease-in-out;
					border-radius: 12px;
					height: 1px;
				}

				&:before {
					transform: translateY(-7px);
				}

				&:after {
					transform: translateY(7px);
					margin-top: -1px;
				}
			}

			&.active {

				.lines {
					background-color: transparent;

					&:before {
						transform: rotateZ(45deg) translateY(0);
					}

					&:after {
						transform: rotateZ(-45deg) translateY(0);
					}
				}
			}
		}

		.tag {
			margin-top: 0;
		}

		.info-section {

			.col-lg-2 {
				margin-bottom: 30px;
			}
		}

		&.light {

			.menu-button {
				border: 1px solid $header-borders-color-light;

				.lines {
					background-color: $color-white;

					&:before,
					&:after {
						background-color: $color-white;
					}
				}

				&:hover {
					color: $color-dark-header;
					background-color: $color-light-header;

					.lines,
					.lines:after,
					.lines:before {
						background-color: $color-dark-header;
					}
				}

				&.active {

					.lines {
						background-color: transparent;
					}
				}
			}

			&.menu-active {
				background-color: transparent;
			}

			.header-navigation {
				box-shadow: rgba($color-primary, 0.2) 0px 8px 24px;
			}
		}

		&.dark {

			.menu-button {
				border: 1px solid $header-borders-color-dark;

				.lines {
					background-color: $color-dark;

					&:before,
					&:after {
						background-color: $color-dark;
					}
				}

				&:hover {
					color: $color-light-header;
					background-color: $color-dark-header;

					.lines,
					.lines:after,
					.lines:before {
						background-color: $color-light-header;
					}
				}

				&.active {

					.lines {
						background-color: transparent;
					}
				}
			}

			&.menu-active {
				background-color: transparent;
			}

			.header-navigation {
				box-shadow: rgba($color-dark, 0.05) 0px 8px 24px;
			}
		}
	}

	.main-header {

		.header-navigation {
			display: none;
			padding: 25px;
			position: fixed;
			top: 0; left: -30px;
			z-index: 12;
			height: 100vh;
			overflow: auto;
			width: calc(50% + 40px);
			transform: translateY(-100%);
			transition: transform .2s;

			li {
				display: block;
				opacity: 0;
				transform: translateX(-100%);
				transition: .7s;

				&:first-child + li { transition-delay: .05s; }
				&:first-child + * + li { transition-delay: .1s; }
				&:first-child + * + * + li { transition-delay: .15s; }
				&:first-child + * + * + * + li { transition-delay: .2s; }
				&:first-child + * + * + * + * + li { transition-delay: .25s; }
				&:first-child + * + * + * + * + * + li { transition-delay: .3s; }
				&:first-child + * + * + * + * + * + * + li { transition-delay: .35s; }
				&:first-child + * + * + * + * + * + * + * + li { transition-delay: .4s; }
				&:first-child + * + * + * + * + * + * + * + * + li { transition-delay: .45s; }

				&[data-tab-hover] {
					position: relative;
					padding-right: 20px;
					cursor: pointer;

					&:after {
						content: "\e914";
						font-family: 'icomoon';
						font-size: calc(var(--buttons-font-size)*0.6);
						position: absolute;
						right: 0; top: 50%;
						transform: translateY(-50%);
						opacity: 0;
						transition: opacity .2s;
						transition-delay: 1s;
					}
				}
			}

			&.active {
				display: block;

				&.animated {
					transform: translateY(0);

					.mobile-bottom {
						opacity: 1;
					}

					li {
						opacity: 1;
						transform: translateX(0);

						&[data-tab-hover] {

							&:after { opacity: 1 }
						}
					}
				}
			}
		}

		.action-result.menu-result {
			position: fixed;
			left: 0; top: 0;
			width: calc(50% + 20px);
			max-height: 100%;
			height: 100%;
			transition: .2s;
			transform: translateX(-100%);

			.menu-tab {

				.submenu-cover {
					display: block;
					padding: 0;
					width: 100%;
				}

				.header-link {
					margin-bottom: 30px;
				}

				.menu-links {
					margin-top: 0;

					a {
						padding-top: 5px;
						padding-bottom: 5px;
						display: block;
					}
				}
			}

			.info-section {
				border-top: 0;
			}

			.result {
				padding-left: 14px;
				padding-right: 14px;
			}

			.back-button {
				display: block;
				padding-left: 25px;
				margin-top: 40px;
				width: 100%;
				text-align: left;
				border: 1px solid;
				border-radius: 100px;
			}
		}

		&.light {

			.header-navigation {
				color: $color-light-header;
				background-color: $background-dark-header;
			}

			.action-result.menu-result {

				.back-button {
					border-color: rgba($color-white-clear,.2);
				}
			}
		}

		&.dark {

			.header-navigation {
				color: $color-dark-header;
				background-color: $background-light-header;
			}

			.action-result.menu-result {

				.back-button {
					border-color: rgba($color-primary,.2);
				}
			}
		}
	}
}




@media (min-width: 769px) {

	.main-header {

		&.menu-active {

			.action-result.menu-result {
				display: block;
			}
		}
	}
}

@media (max-width: 768px) {

	.main-header {

		.header-container {
			padding: 32px 0;
			gap: 15px;

			.left-side {
				flex: 1;
			}
		}

		.right-side {

			.button-cover {
				display: none;
			}
		}

		.search-cover {

			.language {
				display: none;
			}
		}

		.logo-cover:after {
			display: none;
		}

		.menu-button {
			margin-left: 0;
		}

		.mobile-toggle {
			display: inline-block;
		}

		.article-preview {
			margin-bottom: 30px;
		}
	}

	.main-header {

		.header-search-form {
			left: -5px!important;
		}

		.menu-links {

			li {
				margin-bottom: 10px;

				&:last-child { margin-bottom: 0; }
			}
		}
	}

	.main-header {

		.header-navigation {
			width: calc(100% + 40px);
			left: -20px;
			padding-top: 89px;

			&.active {
				display: block;
			}

			a {
				padding: 8px 7px;
				text-transform: none;
			}

			.inner {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				height: calc(100% - 70px);
			}
		}

		.action-result.menu-result {
			width: 100%;
			transform: translateX(100%);
			display: block;

			.menu-tab {

				.header-link {
					margin-bottom: 20px;
				}
			}
		}

		.action-result {

			.menu-links a {
				font-size: var(--buttons-font-size);
				line-height: 1;
			}
		}
	}

	.main-header {

		.mobile-bottom {
			display: block;
			opacity: 0;
			transition: opacity .7s;
			transition-delay: 0.2s;

			.dropdown {
				border: 1px solid transparent;
				border-radius: 24px;

				.dropdown-header {
					padding: 8px 40px 8px 16px;
					border: none;

					&:before { display: none; }

					&:after {
						font-size: 8px;
						right: 16px;
					}
				}

				.dropdown-inner {
					border: 1px solid;
					border-radius: 14px 14px 0 0;
					border-bottom: none;
					box-shadow: none;
					left: -1px;
					width: calc(100% + 2px);
				}

				.item {
					font-size: 14px;
					font-weight: 500;
					text-transform: none;
				}

				&.opened {
					border-radius: 0 0 14px 14px;
				}
			}

			.centered-inner {
				text-align: center;
				padding: 50px 0;

				.contact-button {
					padding: 12px 36px;
					border-radius: 100px;
				}
			}

			.bordered-top {
				padding: 32px 20px;
				margin: 0 -25px;
				display: flex;
				justify-content: space-between;
				align-items: center;

				.language-mobile {

				}

				.social-mobile {

					ul {
						display: flex;
						justify-content: space-between;

						li {
							transition: opacity .2s;
						}

						a {
							padding: 0;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 380px) {

	.main-header {

		.header-container {
			gap: 10px;
		}

		.logo-cover {
			padding-right: 10px;
		}
	}
}

@media (max-width: 365px) {

	.main-header {

		.logo {
			width: 135px;
		}

		.logo-cover {
			font-size: 0;
		}

		.header-container .left-side {
			align-items: center;
		}
	}
}