@import "theme/variables.scss";

/*uikit global*/
$container-xlarge-max-width: 1768px;

$global-link-color: $color_primary;
$global-link-hover-color: $color_secondary;
$global-emphasis-color: $color_primary;
$global-color: $color_primary;
$global-primary-background: $color_primary;

$global-secondary-background: $color_secondary;

$global-2xlarge-font-size: $h1-font-size;
$global-medium-font-size: $h4-font-size;

$global-font-size: $font-size;
$base-link-hover-text-decoration: none;

$breadcrumb-item-font-size: $global-font-size;
$breadcrumb-item-color: $color_primary;
$breadcrumb-item-hover-color: $color_secondary;
$breadcrumb-divider-font-size: $font-size_smaller;

$tooltip-background: $color_primary;

$text-meta-font-size: $font-size;
$text-meta-line-height: 1.67;
$text-meta-color: $color_primary;

$notification-message-font-size: $subheader1-font-size;
$notification-message-background: $color_white;

$base-h1-font-size: $h1-font-size;
$base-h2-font-size: $h2-font-size;
$base-h3-font-size: $h3-font-size;
$base-h4-font-size: $h4-font-size;
$base-h5-font-size: $h5-font-size;

$button-font-size: $button-font-size_small;
$button-font-family: $font;
$button-padding-horizontal: 28px;
$button-padding-vertical: 10px;
$button-text-transform: none;
$button-font-weight: 600;

$button-light-background: $color_white;
$button-light-border-color: $hover_transparent;
$button-light-color: $color_black;
$button-light-border-color-hover: $color_secondary;
$button-light-color-hover: $color_white;
$button-light-background-hover: $color_secondary;

$button-secondary-background: $color_secondary;
$button-secondary-color: $color_white;
$button-secondary-hover-background: $color_secondary_hover;
$button-secondary-hover-color: $color_black;

$tag-button-color: $color_black;
$tag-button-background: $color_white;
$tag-button-border-color: $hover_transparent;

$tag-button-color-hover: $color_primary;
$tag-button-background-hover: $color_white;
$tag-button-border-color-hover: $color_primary;
$tag-remove-icon-color-hover: $color_red;
$tag-remove-icon-font-size: $font-size_icon;
$tag-remove-size: 20px;
$tag-button-padding: 5px;
$tag-button-font-size: $button-font-size_small;

$pagination-item-size: 42px;
$pagination-item-background-active: $color_white;
$pagination-item-active-color: $color_primary;
$pagination-item-padding-vertical: 10px;
$pagination-item-padding-horizontal: 16px;
$pagination-item-color: $color_primary;
$pagination-item-background-hover: $hover_transparent;


$accordion-title-font-size: $subheader3-font-size;
$accordion-content-background-color: #fbfbfb;
$accordion-title-background-color: $color_white;
$accordion-content-margin-top: 0;
$accordion-padding-vertical: $accordion-padding-vertical;
$accordion-padding-horizontal: $accordion-padding-horizontal;
$accordion-item-margin-top: 0;
$accordion-title-hover-color: $color_secondary;
$accordion-close-icon-url: url(../img/accordeon_arrow_close.png);
$accordion-open-icon-url: url(../img/accordeon_arrow_open.png);

$button-link-hover-color: $color_secondary;
$button-small-font-size: $button-font-size_small;

$form-radio-size: 20px;

/* 2. Import default variables and available mixins.*/
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

/* 3. Your custom mixin overwrites.*/
@mixin hook-card() { color: #000; }

/* 4. Import UIkit.*/
@import "uikit/src/scss/uikit-theme.scss";

