/* 1. Your custom variables and variable overwrites.*/
/*colors theme*/
$color_primary: #324A61;
$color_primary_hover: #B79C90;
$color_secondary: #A24F35;
$color_secondary_hover: #A85A42;
$color_dark: #0D1220;

$color_white: #ffffff;
$color_whitesmoke: #f5f5f5;
$color_black: #000000;

$color_error: #A93040;
$color_red: #D24539;

$global-link-color: $color_primary;
$global-link-hover-color: $color_secondary;
$global-emphasis-color: $color_primary;
$global-color: $color_primary;
$global-primary-background: $color_primary;

$global-secondary-background: $color_secondary;


/* 2. Import default variables and available mixins.*/
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

/* 3. Your custom mixin overwrites.*/
@mixin hook-card() { color: #000; }

/* 4. Import UIkit.*/
@import "uikit/src/scss/uikit-theme.scss";

