/*primary font*/
$font: 'Wix Madefor Display', serif;

/* typography */
$font-size: 15px;
$font-size_smaller: 14px;

$h1-font-size: 72px;
$h2-font-size: 64px;
$h3-font-size: 48px;
$h4-font-size: 40px;
$h5-font-size: 36px;


$subheader1-font-size: 24px;
$subheader2-font-size: 20px;
$subheader3-font-size: 16px;

/*colors theme*/
$color_primary: #324A61;
$color_primary_hover: #B79C90;
$color_secondary: #A24F35;
$color_secondary_hover: #A85A42;
$color_dark: #0D1220;

$color_white: #ffffff;
$color_whitesmoke: #f5f5f5;
$color_black: #000000;

$color_error: #A93040;
$color_red: #D24539;
$text_color: $color_primary;

$hover_transparent: rgba(#B79C9033, 0.2);
$color_secondary_transparent: rgba($color_secondary, 0.2);

$global-link-color: $color_primary;


/* elements */
$header_height: 73px;
$footer_height: 448px;

/*document*/
:root {
	--font-size: #{$font-size};
	--font-size_smaller: #{$font-size_smaller};
	--h1-font-size: #{$h1-font-size};
	--h2-font-size: #{$h2-font-size};
	--h3-font-size: #{$h3-font-size};
	--h4-font-size: #{$h4-font-size};
	--subheader1-font-size: #{$subheader1-font-size};
	--subheader2-font-size: #{$subheader2-font-size};
	--subheader3-font-size: #{$subheader3-font-size};

	/* elements */

	--header_height: #{$header_height};
	--footer_height: #{$footer_height};
}

@media (max-width: 1200px) {

	$font-size: 14px;
	$h1-font-size: 38px;
	$h2-font-size: 30px;
	$h3-font-size: 22px;
	$h4-font-size: 16px;
	$subheader1-font-size: 32px;
	$subheader2-font-size: 24px;
	$subheader3-font-size: 18px;

	:root {
		--font-size: #{$font-size};
		--h1-font-size: #{$h1-font-size};
		--h2-font-size: #{$h2-font-size};
		--h3-font-size: #{$h3-font-size};
		--h4-font-size: #{$h4-font-size};
		--subheader1-font-size: #{$subheader1-font-size};
		--subheader2-font-size: #{$subheader2-font-size};
		--subheader3-font-size: #{$subheader3-font-size};
	}
}

@media (max-width: 1768px) {

	$header_height: 64px;

	:root {
		--header_height: #{$header_height};
	}
}

@media (max-width: 640px) {

	$header_height: 60px;

	:root {
		--header_height: #{$header_height};
	}
}