
@media screen and (max-width:680px) { 

	.btn-holder {
		display: block;
	}
	.main-nav {
		position: fixed;
		background: rgba(#000, .5);
		top: 0; left: 0;
		width: 100%; height: 100%;
		z-index: 2;
		padding: 0;
		opacity: 0;
		transition: .3s;
		transform: translateY(-100%);

		&.active {
			opacity: 1;
			transform: translateY(0);

			.main-nav-list {
				transform: translate(0);
			}
		}
	}
	.main-nav-list {
		background: #fff;
		padding: 20px 20px 0;
		width: 50%; height: 100%;
		transform: translate(-100%);
		transition: .3s;
		transition-delay: .2s;

		li {
			display: list-item;
			padding-left: 25px;

			a {
				padding: 15px 0;
			}

			&:nth-child(1) {
				margin-right: 0px;

				&:after {
					right: 0; left: 0;
				}
			}
			&:nth-child(2) {
				margin-right: 0px;

				&:after {
					right: 0; left: 0;
				}
			}
			&:nth-child(3) {
				margin-right: 0px;

				&:after {
					right: 0; left: 0;
				}
			}
			&:nth-child(4) {
				margin-right: 0px;

				&:after {
					right: 0; left: 0;
				}
			}
			&:nth-child(5) {

				&:after {
					display: block;
					right: 0; left: 0;
				}
			}
		}
	}
	.btn-holder-close {
		display: block;
		position: absolute;
		z-index: 3;
		top: 20px; right: 50%;
	}

	.inner-section {
		display: block;
		width: 100%;
		margin-bottom: 15px;
		padding: 0 0 15px;
		border-bottom: 1px solid #eeeefb;

		&:after {
			display: none;
		}
		.inner-cover {
			padding: 0 21px;
		}
	}
	.block-img {
		width: 100%;
		display: block;
	}
	.description {
		width: 100%;
		display: block;
		padding-bottom: 25px;
	}
	.subheading {
		margin-left: 0;
	}
	.article-list {
		width: 100%;
		display: block;
		padding: 0;
		margin-bottom: 15px;

		li {
			padding-left: 21px;
			padding-right: 15px;

			&:first-child {
				padding-bottom: 15px;
			}
		}
	}
}
@media screen and (max-width:375px) {

	.news-article {

		.acticle-img {
			display: block;
			margin-bottom: 15px;
		}
		.article-description {
			padding-left: 0;
			display: block;
			width: 100%;
		}
	}
}






