.breadcrumbs {

	.list {
		border-top: 1px solid #eaeaea;
		display: block;
		padding: 20px 0 0;
		font-size: 0;
		position: relative;

		li {
			display: inline-block;
			font-size: 12px;
			position: relative;

			a {
				color: $primary;
				padding: 0 10px;
				transition: .3s;

				&:hover {
					color: #999;
				}
			}
			&:after {
				position: absolute;
				content: '\2022';
				right: -1px;
			}
			&:last-child {
				padding-left: 10px;

				&:after {
					display: none;
				}
			}
			&:first-child {

				a {
					padding-left: 0;
				}
			}
		}
	}
}
@media (max-width: 991px) {
	
	.breadcrumbs {
		margin-top: 15px;
	}
}