.goods-list {
	font-size: 0;
	margin: 0 -15px;

	.item {
		list-style-type: none;
		display: inline-block;
		vertical-align: top;
		padding: 15px;

		&.typical {
			width: 25%;
			height: 400px;
		}
		&.large {
			width: 42%;
			height: 400px;
		}
		&.small {
			width: 33%;
			height: 200px;
		}
	}
	&.goods-carousel {
		white-space: nowrap;
		overflow: hidden;
		display: block;
		width: calc(100% + 30px);

		.owl-item {

			.item {

				&.typical {
					width: 100%;
				}
			}
			img {
				width: auto;
			}
		}
	}
}
.card {
	background-color: #fff;
	border: 1px solid #f7f8fa;
	padding: 20px;
	border-radius: 2px;
	position: relative;
	font-size: 14px;

	&.typical {
		height: 370px;

		.image-cover {
			padding-top: 73%;
		}
		.title {
			height: 48px;
			overflow: hidden;
		}
		.price {
			width: calc(100% - 40px);
		}
	}
	&.large {
		font-size: 0;
		height: 370px;

		.inner {
			width: 100%;
			font-size: 0;
		}
		.image-cover {
			width: 50%;
			padding-top: 60%;
			display: inline-block;
			vertical-align: top;

			img {
				width: calc(100% - 30px);
			}
		}

		.footer {
			width: 50%;
			display: inline-block;
			vertical-align: top;
			font-size: 14px;
			position: relative;
			padding-left: 15px;
		}
		.price {
			width: 50%;
			padding-left: 40px;
		}
		.title {
			margin-top: 0;
		}
	}
	&.small {
		@extend .large;
		height: 170px;

		.header {
			margin-bottom: 10px;
		}
		.title {
			height: 48px;
			overflow: hidden;
			margin-bottom: 0;
		}
		.code {
			margin: 0;
		}
		.image-cover {
			padding-top: 20%;
			width: 40%;
		}
		.footer {
			width: 60%;
		}
		.price {
			width: 60%;
		}
	}
	&.basket {
		@extend .typical;
		height: auto;

		.price {
			position: relative;
			width: 100%;
			margin: 30px 0 0;
			right: 0;
		}
		.btn {
			height: 42px;
			line-height: 42px;
			width: 100%;

			.icon {
				font-size: 16px;

				&:before {
					position: relative;
					top: 2px;
				}
			}
		}
		.checkbox-holder {
			margin-bottom: 0;
		}
		.remove {
			position: absolute;
			right: 5px; top: 5px;
			height: 15px; width: 15px;
			font-size: 14px;
			color: #dddddd;
			transition: .3s;
			background-color: transparent;
			border: 0;

			&:hover {
				color: $primary;
			}
		}
	}
	.header {
		position: relative;
		padding-right: 60px;
		margin-bottom: 20px;

		.caption {
			color: #909090;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			font-size: 14px;
		}
		.tag {
			position: absolute;
			height: 22px;
			line-height: 23px;
			padding: 0 10px;
			right: 0; top: 0;
			font-size: 11px;
			font-weight: 600;
			text-transform: uppercase;
			color: #fff;
			border-radius: 2px;

			&.green {
				background-color: #2db475;
			}
			&.blue {
				background-color: #3789e4;
			}
			&.dark-blue {
				background-color: #5474d3;
			}
		}
	}

	.title {
		font-weight: 600;
		line-height: 1.6;
		margin: 10px 0;
		font-size: 15px;
	}
	.code {
		font-size: 13px;
		color: #909090;
		margin: 10px 0;
	}
	.price {
		font-size: 18px;
		color: $primary;
		padding-right: 35px;
		font-weight: 600;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		position: absolute;
		right: 20px; bottom: 20px;

		.currency {
			font-size: 15px;
		}
		.icon-holder {
			height: 25px; width: 25px;
			line-height: 25px;
			text-align: center;
			border-radius: 50%;
			font-size: 10px;
			color: #fff;
			position: absolute;
			right: 0; top: 50%;
			transform: translateY(-50%);

			&.purple {
				background-color: #80479a;
			}
			&.green {
				background-color: #8dc63f;
			}
			.icon {

				&:before {
					position: relative;
					top: 1px;
				}
			}
		}
	}
}
@media (max-width: 1199px) {

	.card {
		padding: 15px;
	}
}
@media (max-width: 991px) {

	.goods-list {

		.item {

			&.typical {
				width: 50%;
			}
			&.large {
				width: 50%;
			}
			&.small {
				width: 50%;
			}
		}
	}
	.card {

		&.typical {

			.inner {
				font-size: 0;
			}
			.image-cover {
				width: 50%;
				display: inline-block;
				vertical-align: top;
			}
			.footer {
				width: 50%;
				display: inline-block;
				vertical-align: top;
			}
			.price {
				width: 50%;
				padding-left: 25px;
			}
		}
	}
	.card {

		&.basket {

			.image-cover {
				width: 100%;
			}
			.footer {
				width: 100%;
			}
			.price {
				width: 100%;
				padding-left: 0px;
			}
		}
	}
}
@media (max-width: 768px) {

	.card {

		&.typical,
		&.large,
		&.small {
			height: 370px;

			.image-cover {
				width: 100%;
				display: block;
				padding-top: 45%;
				margin-bottom: 10px;

				img {
					width: auto;
				}
			}
			.footer {
				width: 100%;
				display: block;
				padding-left: 10px;
			}
			.title {
				margin: 10px 0;
				height: 48px;
				overflow: hidden;
			}
			.code {
				margin: 10px 0;
			}
			.price {
				width: calc(100% - 45px);
				padding-left: 0;
				left: 25px;
			}
		}
		&.basket {
			height: auto;
		}
	}
	.goods-list {

		.item {

			&.small {
				height: 400px;
			}
		}
	}
}
@media (max-width: 639px) {

	.card {

		&.typical,
		&.small,
		&.large {

			.image-cover {
				padding-top: 71%;
			}
		}
	}
}
@media (max-width: 479px) {

	.goods-list {

		.item {

			&.typical,
			&.large,
			&.small {
				width: 100%;
				height: auto;
			}
		}
	}
	.card {

		&.large,
		&.small,
		&.typical {
			height: auto;

			.image-cover {
				padding-top: 70%;

				img {
					top: 0; left: 0;
					right: 0; bottom: 0;
					margin: auto;
					max-height: 100%; max-width: 100%;
					transform: none;
				}
			}
			.footer {
				padding-bottom: 10px;
			}
			.price {
				position: relative;
				width: calc(100% - 20px);
				left: 10px; bottom: 10px;
			}
			.code {
				margin: 0 0 10px;
			}
			.title {
				margin: 5px 0;
			}
		}
	}
}