.catalog-main {
	font-size: 0;
	margin: 0 -15px;

	.item {
		padding: 0 15px;
		width: 25%;
		display: inline-block;
		vertical-align: top;
		font-size: 15px;

		.img-preview {
			padding-top: 62%;
			position: relative;
			transform: translateZ(0);
			overflow: hidden;
			border-radius: 4px;

			img {
				min-width: 100%; min-height: 100%;
				width: auto; height: auto;
				position: absolute;
				top: 0; left: 50%;
				transform: translateX(-50%);

				&.vertical {
					top: 50%; left: 0;
					transform: translateX(0);
					transform: translateY(-50%);
				}
			}
		}
		.title {
			height: 80px;
			overflow: hidden;
			padding: 20px 0;
			text-align: center;
			font-weight: 600;
			font-size: 15px;
		}
	}
}
@media (max-width: 768px) {
	
	.catalog-main {

		.item {
			width: 33.33%;
		}
	}
}
@media (max-width: 639px) {

	.catalog-main {

		.item {
			width: 50%;
		}
	}
}
@media (max-width: 479px) {

	.catalog-main {

		.item {
			width: 100%;
		}
	}
}