.compare-section {
	font-size: 0;
	margin: 0 -15px;

	.collapsed-right {
		font-size: 15px;
		padding-left: 15px;
		display: inline-block;
		vertical-align: top;
		width: 17%;
	}
	.collapsed-left {
		padding-right: 15px;
		font-size: 15px;
		display: inline-block;
		vertical-align: top;
		width: 83%;
	}
	.header {
		height: 300px;
		padding-right: 15px;

		.btn {
			display: block;
			height: 42px;
			line-height: 42px;
			margin: 15px 0;
			width: 100%;
		}
		.wide {
			display: inline-block;
		}
		.carousel-nav {
			font-size: 0;
			margin: 110px -5px 0;

			.carousel-prev,
			.carousel-next {
				font-size: 24px;
				color: $primary;
				display: inline-block;
				padding: 0 5px;
				cursor: pointer;
				transition: .3s;

				&:hover {
					color: #333;
				}
				&:active,
				&:focused {
					color: lighten($primary, 5%);
				}
			}
		}
	}
	.options {
		margin: 30px 0;

		.title {
			font-weight: 600;
			margin: 10px 0;
			font-size: 18px;
		}
		.list {

			li {
				height: 50px;
				padding: 0 10px;
				font-size: 14px;
				line-height: 1;
				font-weight: 600;
				width: 100%;
				display: table;
				border-radius: 0;
				border-radius: 2px 0 0 2px;
				border-right: 1px solid #eaeaea;
				overflow: hidden;

				span {
					display: table-cell;
					vertical-align: middle;
				}

				&:nth-child(odd) {
					background-color: #f7f8fa;
				}
				&:last-child {
					border-bottom: 1px solid #eaeaea;
					border-radius: 0 2px 2px 0;
				}
			}
		}
		&.no-title {
			margin: 68px 0;

			.list {

				li {
					font-weight: 400;
					border-radius: 0;
					border-right: 0;
					box-shadow: inset 0px 0px 0px 0px rgba(#eaeaea, .75);
				}
			}
		}
		&.spaced-top {
			margin-top: 96px;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	.compare-list {
		white-space: nowrap;
		display: block;
		overflow: hidden;
		font-size: 0;

		.outer {
			padding: 0 15px;
		}
		.item {
			width: 20%;
			display: inline-block;
			vertical-align: top;
			white-space: normal;

			.card {
				height: 300px;
				padding: 16px 12px;

				.title {
					font-size: 14px;
					line-height: 1.4;
					height: 55px;
				}
				.btn {
					padding: 0 10px;
				}
				.price {
					padding-right: 0;
				}
			}
		}
		&.owl-loaded {
			margin-right: -2px;

			.owl-stage-outer {
				margin-right: 1px;
			}

			.owl-item {

				.item {
					width: 100%;

					img {
						width: auto;
					}
					.options {

						&.no-title {

							.list {

								li {
									box-shadow: inset -1px 0px 0px 0px rgba(#eaeaea, .75);
								}
							}
						}
					}
				}
				&:last-child {

					.item {

						.options {

							&.no-title {

								.list {

									li {
										box-shadow: none;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
.change-position {
	display: none;
}
.text-mobile {

	.icon {
		display: none;
	}
}
@media (max-width: 1199px) {

	.compare-section {

		.collapsed-right {
			width: 20%;
		}
		.collapsed-left {
			width: 80%;
		}
	}
}
@media (max-width: 991px) {

	.compare-section {

		.collapsed-right {
			width: 25%;
		}
		.collapsed-left {
			width: 75%;
		}
		.header {

			.btn {
				padding: 0 5px;
			}
		}
	}
}
@media (max-width: 768px) {

	.compare-section {

		.collapsed-right {
			width: 32%;
		}
		.collapsed-left {
			width: 68%;
		}
	}
}
@media (max-width: 639px) {

	.compare-section {

		.collapsed-right {
			width: 37%;
		}
		.collapsed-left {
			width: 63%;
		}
		.compare-list {

			.outer {
				padding: 0 5px;
			}

			.item {

				.card {

					.price {
						width: 100%;
						left: 0;
					}
					.title {

						br {
							display: none;
						}
					}
					.btn {
						padding: 0;
						font-size: 10px;
					}
				}
			}
		}
		.options {

			.title {
				height: 56px;
			}
			&.no-title {
				margin: 96px 0;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

	}
}
@media (max-width: 479px) {

	.change-position {
		display: block;
		position: absolute;
		top: 110px; right: 15px;
		height: 75px; width: 75px;
		text-align: right;
		z-index: 5;
		color: #333;
		font-size: 50px;
		opacity: 1;
		border: 0;
		transition: .3s;
		background-color: transparent;

		&:hover {
			color: $primary;
		}

		&.pushed {
			right: auto; left: -13px;
		}
	}

	.compare-section {
		position: relative;
		overflow: hidden;

		.collapsed-right {
			width: 75%;
			position: relative;

			&.close {
				width: 20%;

				.header {
					height: 285px;

					.paragraph {
						display: none;
					}
				}
				.text-mobile {
					font-size: 0;

					&.btn {
						width: 42px; height: 42px;
						line-height: 42px;

						.icon {
							display: inline-block;
							font-size: 22px;
							margin-top: 5px;

							&:before {
								position: relative;
								top: 4px;
							}
						}
					}

					.title {
						font-size: 0;
						padding-left: 10px;

						.icon {
							display: inline-block;
							font-size: 22px;
							color: $primary;
							margin-top: 3px;

							&:before {
								position: relative;
								top: 4px;
							}
						}
					}
					.list {

						li {
							font-size: 0;

							.icon {
								display: inline-block;
								font-size: 22px;
								margin-top: 3px;

								&:before {
									position: relative;
									top: 4px;
								}
							}
						}
					}
				}
			}
			
		}
		.collapsed-left {
			position: relative;
			width: 100%;
			padding-right: 0;
			margin-right: -100%;
			opacity: .3;

			&.open {
				opacity: 1;
			}
		}
		.header {
			padding-right: 10px;

			.carousel-nav {
				position: absolute;
				top: 200px; right: 0;
				z-index: 2;

				&.centered {
					right: auto; left: 185px;
					width: 150px;
				}
			}
		}
		.options {
			margin: 15px 0;

			.title {
				font-size: 16px;
				height: 30px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			&.no-title {
				margin: 55px 0;
			}
			.list {

				li {
					font-size: 12px;
					height: 40px;
				}
			}
		}
	}
	.mobile-nav {
		display: block;
		margin-bottom: 15px;

		.btn {
			width: 100%;
		}
	}

}