.product-order {
	@extend .subscribe;
	text-align: left;

	.lead {
		font-size: 14px;
	}
	.price {
		font-size: 32px;
		font-weight: 600;
		margin: 0 0 7px;

		.currency {
			font-size: 20px;
		}
	}
	.location {
		border-bottom: 1px solid #eaeaea;
		margin: 0 -25px;
		padding: 25px;
		display: block;
		white-space: nowrap;

		.icon-holder {
			height: 30px; width: 30px;
			line-height: 30px;
			text-align: center;
			border-radius: 50%;
			font-size: 16px;
			color: #fff;
			display: inline-block;
			vertical-align: middle;
			margin-right: 14px;
			position: relative;
			transition: .3s;
			overflow: hidden;

			&.purple {
				background-color: #80479a;
			}
			&.green {
				background-color: #8dc63f;
			}
			.icon {

				&:before {
					position: relative;
					top: 0px;
				}
			}

			&:before {
				position: absolute;
				content: "\e919";
				font-family: icomoon;
				bottom: 100%;
				color: #80479a;
				z-index: 1;
			}
			&:after {
				position: absolute;
				content: '';
				height: 28px; width: 28px;
				line-height: 30px;
				text-align: center;
				border-radius: 50%;
				top: 1px; left: 1px;
				background-color: #fff;
				transition: .3s;
				transform: scale(.4);
				transform-origin: center;
				opacity: 0;
			}
		}
		.lined {
			display: inline-block;
			border-bottom: 1px dashed;
			vertical-align: middle;
			transition: .3s;
		}
		&:hover {

			.icon-holder {

				&:before {
					bottom: 0;
				}
				&:after {
					transform: scale(1);
					opacity: 1;
				}
			}
			.lined {
				color: #80479a;
				border-color: transparent;
			}
		}
	}
	.count {
		color: #fff;
		background-color: $primary;
		width: 18px; height: 18px;
		display: inline-block;
		vertical-align: middle;
		line-height: 18px;
		border-radius: 50%;
		margin-top: -2px;
		font-size: 11px;
		text-align: center;
	}
}
@media (max-width: 1199px) {
	
	.product-order {

		.location {
			margin: 0 -15px;
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}
@media (max-width: 639px) {

	.product-order {

		.location {

			.icon-holder {
				display: none;
			}
		}
	}
}