.table-wrap {
	padding: 30px 0;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
}
.simple-table {
	width: 100%;
	margin-bottom: 15px;
	table-layout: fixed;
	
	tr {

		&:nth-child(even) {
			background-color: #f7f8fa;
		}
		&.title {
			font-size: 15px;
			font-weight: 600;
			background-color: #fff;

			td {
				padding-left: 0;
			}
		}
		td {
			padding: 5px 15px;

			&:first-child {
				border-radius: 2px 0 0 2px;
			}
			&:last-child {
				border-radius: 0 2px 2px 0;
			}
		}
	}
}
@media (max-width: 639px) {

	.table-wrap {
		padding: 15px 0;
	}
	
	.simple-table {

		tr {
			display: block;

			&:nth-child(even) {
				background-color: #fff;
			}

			td {
				display: block;

				&:first-child {
					border-radius: 0;
				}
				&:last-child {
					border-radius: 0;
				}
				&:nth-child(odd) {
					background-color: #f7f8fa;
				}
			}
			&.title {

				td {
					background-color: #fff;
				}
			}
		}
	}

}