.product-details {

	.image-main {
		position: relative;
		padding-top: 100%;
		overflow: hidden;
		margin-bottom: 30px;

		img {
			position: absolute;
			top: 0; left: 0;
			right: 0; bottom: 0;
			max-width: 87%; max-height: 87%;
			margin: auto;
		}

	}
	.code {
		font-size: 13px;
		color: #909090;
		background-color: #fff;
		width: 100%;
		padding-bottom: 30px;
	}
	.preview-list {
		font-size: 0;
		white-space: nowrap;
		overflow: hidden;
		display: block;
		margin: 0 -5px;

		.item {
			display: inline-block;
			cursor: pointer;
			width: 20%;
			padding: 5px;

			.image-cover {
				border: 1px solid #eaeaea;
				transition: .3s;
				border-radius: 2px;

				img {
					top: 0; left: 0;
					right: 0; bottom: 0;
					max-width: 75%; max-height: 75%;
					margin: auto;
					transform: none;
					width: auto;
				}
			}
			&:hover {

				.image-cover {
					border-color: $primary;
				}
			}
		}
		&.owl-carousel {
			width: calc(100% + 10px);
		}
		&.owl-loaded {
			overflow: visible;

			.owl-item {

				.item {
					width: 100%;
				}
			}
		}
	}
	.description {
		font-size: 14px;

		.simple-list {
			margin: 30px 0;
			list-style-type: none;

			li {
				position: relative;
				padding-left: 15px;

				&:before {
					content: '\2022';
					position: absolute;
					left: 0; top: 0;
				}
			}
		}
		.dashed-primary {
			color: $primary;
			border-bottom: 1px dashed;
			transition: .3s;

			&:hover {
				border-bottom-color: transparent;
			}
		}
	}
	.instustions {
		border-top: 1px solid #eaeaea;
		margin: 45px 0 0;

		.title {
			font-size: 15px;
			font-weight: 600;
			margin: 25px 0;
		}
		.link {
			display: block;
			margin: 15px 0;
			white-space: nowrap;

			.icon {
				background-color: $primary;
				color: #fff;
				border-radius: 2px;
				width: 14px; height: 17px;
				margin-right: 10px;
				font-size: 10px;
				display: inline-block;
				vertical-align: middle;
				text-align: center;
				line-height: 17px;
			}
			.inline {
				display: inline-block;
				vertical-align: top;
				white-space: normal;
			}
		}
	}
	.option-list {
		font-size: 0;
		margin: 40px -15px 0;

		.item {
			padding: 0 15px;
			width: 33.33%;
			display: inline-block;
			vertical-align: top;
			position: relative;
			margin-bottom: 30px;

			.image-cover {
				padding-top: 40%;

				img {
					min-width: 100%; max-width: 100%;
				}
			}
			.tag {
				font-size: 16px;
				height: 32px;
				line-height: 32px;
				color: #fff;
				background-color: #01718a;
				border: 1px solid #01718a;
				display: inline-block;
				padding: 0 20px;
				border-radius: 2px;
				transition: .3s;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				position: absolute;
				top: 10px; left: 25px;
			}
		}
	}
}
@media (max-width: 1199px) {
	
	.product-details {

		.option-list {

			.item {
				width: 50%;
			}
		}
	}
}
@media (max-width: 991px) {

	.product-details {

		.description {
			margin-top: 25px;
		}
		.option-list {
			margin-top: 15px;
			margin-bottom: 25px;

			.item {
				width: 100%;
				margin-bottom: 5px;

				.image-cover {
					display: none;
				}
				.tag {
					position: static;
				}
			}
		}
	}
}

@media (max-width: 768px) {

	.product-details {

		.description {

			.simple-list {
				margin: 15px 0;
			}
		}
		.instustions {
			margin-top: 30px;
		}
	}

}
@media (max-width: 479px) {

	.product-section {

		.mobile-full {
			width: 100%;
		}
	}
	.product-details {

		.description {

			.product-order {
				margin-bottom: 25px;
			}
		}
	}
}
