.service-list {
	font-size: 0;
	margin: 0 -15px;

	&.spaced {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.item {
		width: 25%;
		padding: 15px;
		display: inline-block;
		vertical-align: top;
		font-size: 15px;

		.btn {
			padding: 0 15px;
			display: block;
			text-align: center;
			letter-spacing: 1.3px;
		}
		.phone {
			display: block;
			font-size: 18px;
			font-weight: 600;
			transition: 3s;

			.icon {
				margin-right: 14px;
			}
			&:first-child {
				margin-bottom: 10px;
			}
		}
		.caption {
			display: block;
			font-size: 14px;
			padding-left: 30px;
		}
	}
}
.service-card {
	@extend .news-card;

	.title {
		height: auto;
	}
}
@media (max-width: 1199px) {

	.service-list {

		.item {

			.btn {
				padding: 0 5px;
				font-size: 10px;
			}
		}
	}
}
@media (max-width: 991px) {

	.service-list {

		.item {
			width: 50%;
		}

		&.spaced {

			.item {

				&:first-child {
					width: 100%;
				}
			}
		}
	}
}
@media (max-width: 509px) {

	.service-list {

		.item {
			width: 50%;
			padding-top: 5px;
			padding-bottom: 5px;
		}
		&.spaced {
			margin-top: 15px;
			margin-bottom: 15px;

			.item {
				width: 100%;
			}
		}
	}

}
@media (max-width: 375px) {


	.service-list {

		.item {
			width: 100%;
		}
	}
}