.subscribe {
	background-color: #f7f8fa;
	border-radius: 2px;
	padding: 35px 25px;
	text-align: center;

	.title {
		font-size: 20px;
		font-weight: 600;
		line-height: 1.2;
		margin: 0 0 20px;
	}
	.paragraph {
		font-size: 16px;
		margin: 20px 0;
	}
	.btn {
		width: 100%;

		.icon {
			font-size: 18px;

			&:before {
				position: relative;
				top: 3px;
			}
		}
	}
	.subscribe-form {

		.input-group {

			&.form-group {

				.alert {
					bottom: 100%; left: 0;
					right: auto;
					margin: 0;
					height: 18px;
					font-size: 12px;
					line-height: 12px;
				}
			}
		}


	}

}
@media (max-width: 1199px) {

	.subscribe {
		padding: 30px 15px;

		.paragraph {
			font-size: 14px;
		}

		
	}
}
@media (max-width: 991px) {

	.subscribe {
		margin-top: 30px;

		.paragraph {
			display: none;
		}
		.title {

			br {
				display: none;
			}
		}
	}
}
@media (max-width: 479px) {

	.subscribe {

		.title {
			margin-bottom: 15px;

			br {
				display: block;
			}
		}
	}
}