*,
.clear {
  padding: 0;
  margin: 0; }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0 !important; }

body,
html {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: #444;
  line-height: 20px; }

canvas {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #111; }
