/*primary font*/
/* colors */
/*link*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none !important;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: "FormularRegular", sans-serif;
  font-weight: 400;
  color: #2c3c45;
  line-height: 20px;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}
html.overlayed, body.overlayed {
  overflow: hidden !important;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #2c3c45;
  transition: .2s;
  position: relative;
}
a:hover {
  text-decoration: none;
  color: #00aca8;
}
a:focus {
  text-decoration: none;
  color: #2c3c45;
}

input::-ms-clear {
  display: none !important;
}

button,
input,
textarea,
select {
  font-family: "FormularRegular", sans-serif;
}

/* custom */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  font-size: 18px;
}
.container .inner {
  font-size: 0;
  margin: 0 -50px;
  padding: 25px 0;
}
.container .inner .col {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  padding: 0 50px;
  font-size: 16px;
}
.warning {
  color: red;
}
.warning ~.alert {
  display: block;
  color: red;
  opacity: .5;
}
.hidden {
  opacity: .5;
}
.form-group {
  margin-bottom: 25px;
  font-size: 0;
}

.radio-holder {
  display: inline-block;
  width: 20%;
  position: relative;
}
.radio-holder input,
.checkbox-group input{
  opacity: 0;
  position: absolute;
}

.radio-holder label,
.checkbox-group label {
  position: relative;
  padding-left: 20px;
}

.radio-holder label:before,
.checkbox-group label:before {
  position: absolute;
  content: '';
  left: 0; top: 3px;
  height: 10px; width: 10px;
  border: 1px solid #ccc;
  border-radius: 2px;
  line-height: 10px;
  font-size: 12px;
}
.radio-holder input:checked ~ .red:before {
  background-color: red;
  border-color:  red;
}
.radio-holder input:checked ~ .blue:before {
  background-color: blue;
  border-color: blue;
}
.radio-holder input:checked ~ .green:before {
  background-color: green;
  border-color: green;
}
.radio-holder input:checked ~ .yellow:before {
  background-color: yellow;
  border-color: yellow;
}
.radio-holder input:checked ~ .black:before {
  background-color: black;
  border-color: black;
}
.checkbox-group input:checked ~ label:before {
  background-color: #ececec;
  content: '\2714';
}
.title {
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.list {
  list-style-type: none;
}
.alert {
  display: none;
}
label {
  cursor: pointer;
  font-size: 16px;
}
.hidden label {
  cursor: default;
}
.list li {
  color: #ccc;
  margin-bottom: 15px;
}
.list li span{
  color: #000;
}
.list li span.warning{
  color: red;
}
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: green;
}
.yellow {
  color: yellow;
}
.black {
  color: black;
}

.path.red {
  fill: red;
}
.path.blue {
  fill: blue;
}
.path.green {
  fill: green;
}
.path.yellow {
  fill: yellow;
}
.path.black {
  fill: black;
}
.input,
.select {
  display: block;
  width: 100%;
  height: 36px;
  line-height: 36px;
  padding: 0 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
  color: #000;
  font-size: 16px;
}
.select {
  cursor: pointer;
}
.input::-webkit-input-placeholder {
  color: #000;
}
.input::-moz-placeholder {
  color: #000;
}
.input:-ms-input-placeholder {
  color: #000;
}
.input:-moz-placeholder {
  color: #000;
}
.image {
  margin-top: 15px;
}

@media screen and (max-width: 767px) {

  .container .inner {
    margin: 0 -15px;
  }
  .container .inner .col {
    width: 50%;
    padding: 0 15px;
  }
  .radio-holder {
    width: 33.33%;
  }
}

@media screen and (max-width: 640px) {

  .container .inner {
    margin: 0;
  }
  .container .inner .col {
    width: 100%;
    padding: 0;
  }

}