* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	outline: none !important;
	-webkit-tap-highlight-color: transparent !important;
}

html, body {
	width: 100%; height: 100%;
	font-size: 14px;
	font-family: $font;
	color: #2C2C2C;
	font-weight: 500;
	line-height: 1.42;
	background: #F6F6F6;
	letter-spacing: -0.04em;

	&.light-body {
		background: #fff;
	}

	&.overlayed {
		overflow: hidden !important;
	}
}

.nowrap {
	white-space: nowrap;
}

img {
	user-select: none;
}
a {
	display: inline-block;
	text-decoration: none;
	color: $primary;
	transition: .2s;
	position: relative;

	&:hover,
	&:focus {
		text-decoration: none;
		color: darken($primary, 20);
	}
}

.relative {
	position: relative;
}
.clear {
	padding: 0;
	margin: 0;
	list-style: none;
}
.adaptive {
	display: block;
	width: 100%; height: auto;
	margin: 0;
}

.owl-item {
	transform: translateZ(0);
}

.row.collapsed-row {
	margin-left: 0;
	margin-right: 0;

	> * {
		padding-left: 0;
		padding-right: 0;
	}
}

.row.paddless-row {
	margin-right: -5px;
	margin-left: -5px;

	> * {
		padding-left: 5px;
		padding-right: 5px;
	}
}


.align-right {
	text-align: right;
}
.align-center {
	text-align: center;
}
.align-left {
	text-align: left;
}

.bold {
	font-weight: bold;
}
.in-bl {
	display: inline-block;
}
/*cover image*/
.image-cover {
	display: block;
	position: relative;
	padding-top: 100%;
	overflow: hidden;
	transform: translateZ(0);

	img {
		position: absolute;
		top: 0; left: 50%;
		height: 100%; width: auto;
		transform: translateX(-50%);

		&.vertical {
			top: 50%; left: 0;
			height: auto; width: 100%;
			transform: translateY(-50%);
		}
	}
}

/*vertical align*/
.verticaly-top,
.verticaly-middle,
.verticaly-bottom {
	width: 100%; height: 100%;
	white-space: nowrap;

	&:after {
		content: '';
		display: inline-block;
		width: 0; height: 100%;
	}
	.inner {
		display: inline-block;
		width: 100%;
		white-space: normal;
	}
}
.verticaly-top:after,
.verticaly-top .inner {
	vertical-align: top;
}
.verticaly-middle:after,
.verticaly-middle .inner {
	vertical-align: middle;
}
.verticaly-bottom:after,
.verticaly-bottom .inner {
	vertical-align: bottom;
}
