@import 'variables.scss';

.client-section {
	background-image: url(../img/client-back1.png),
	url(../img/client-back2.png),
	url(../img/client-back3.png),
	url(../img/client-back4.png);
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
	background-position: 47% -70px, right top, right bottom, left 90%;

	&.simple {
		background-image: none;
		padding-top: 0;
	}

	.client-list {
		font-size: 0;
		margin: 50px 0 0;

		.item {
			font-size: 0;
			width: 33.33%;
			display: inline-block;
			vertical-align: top;

			.inner {
				padding: 30px;
				background-color: $gray;
				display: block;
				transition: box-shadow .3s;
				border: 1px solid #fff;
				border-right-color: transparent;
			}

			.hover-image {
				display: none;
			}
			.static-image {
				display: block;
			}
			&:hover {

				.inner {
					box-shadow: 0 0 25px rgba(0, 0, 1, 0.18);
					background-color: #fff;
					position: relative;
					border-color: transparent;
					z-index: 2;
				}
				.caption {
					color: $primary;
				}
				.hover-image {
					display: block;
				}
				.static-image {
					display: none;
				}
			}
			&:nth-child(n+4) {
				
				.inner {
					border-top-color: transparent;
				}
			}
			&:nth-child(3n) {

				.inner {
					border-right-color: #fff;
				}
				&:hover {

					.inner {
						border-right-color: transparent;
					}
				}
			}
		}
		.category-image {
			height: 140px; width: 152px;
			position: relative;
			display: inline-block;
			transform: translateZ(0);

			img {
				max-width: 100%; max-height: 100%;
			}
		}
		.caption {
			color: #000;
			font-family: $font;
			font-size: 22px;
			font-weight: 700;
			line-height: 24px;
			display: inline-block;
			vertical-align: top;
			padding: 13px 0 13px 30px;
			width: calc(100% - 152px);
			position: relative;
			overflow: hidden;
			transition: color .3s;

			.text {
				height: 68px;
				overflow: hidden;
			}

			.arrow {
				font-size: 28px;
				color: $primary;
				display: block;
				margin: 10px 0 0;
			}
		}
	}
}

@media (max-width: 1231px) {

	.client-section {

		.client-list {

			.item {

				.inner {
					padding: 25px;
				}
			}

			.category-image {
				width: 130px; height: 119px;
			}

			.caption {
				margin-top: 0;
				font-size: 18px;
				padding-left: 10px;
				width: calc(100% - 130px);
			}
		}
	}
}
@media (max-width: 993px) {

	.client-section {

		.client-list {

			.category-image {
				display: block;
				width: 100%;
			}
			.category-image {
				width: 152px; height: 140px;
			}
			.caption {
				display: block;
				width: 100%;
				padding: 0;
				margin-top: 10px;
			}
		}
	}
}
@media (max-width: 767px) {

	.client-section {
		background-image: none;

		&.simple {
			padding-top: 30px;
		}

		.client-list {
			margin-top: 20px;
			margin-left: -15px;
			margin-right: -15px;

			.item {
				width: 50%;

				.inner {
					padding: 15px;
					border: 1px solid #fff;
				}
				&:hover {

					.inner {
						margin: 0;
					}
				}
				&:nth-child(odd) {

					.inner {
						border-right-color: transparent;
					}
				}
				&:nth-child(3n) {

					.inner {
						border-right-color: transparent;
						border-top-color: transparent;
					}
				}
				&:nth-child(even) {

					.inner {
						border-right-color: #fff;
					}
				}
			}
			.caption {
				margin-top: 15px;
				font-size: 16px;
				height: 50px;

				.text {
					display: inline;
					margin-right: 5px;

					br {
						display: none;
					}
				}
				.arrow {
					display: inline;
					font-size: 18px;

					.icon {

						&:before {
							position: relative;
							top: 4px;
						}
					}
				}
			}
			.category-image {
				max-width: 100%;
				height: auto;
			}
		}
	}
}

@media (max-width: 640px) {

	.client-section {

		.client-list {

			.caption {
				height: 77px;
			}
		}
	}
}