@import 'variables.scss';

.company-slider {

	.link-holder {
		display: none;
	}

	.slider-outer {
		overflow: hidden;
		white-space: nowrap;
		position: relative;

		.item {
			white-space: normal;
			display: inline-block;
			position: relative;
			z-index: 1;
			transform: translateZ(0);
			width: 100%;
			font-size: 0;

			.slide-outer {
				width: 100%;
				position: relative;
				overflow: hidden;
			}

			.caption-side {
				position: absolute;
				top: 0; left: 0;
				right: 0; bottom: 0;
				z-index: 1;

				.container {
					height: 100%;
				}

				.caption-outer {
					max-width: 61%; height: 100%;
					background-color: $gray;
					padding: 40px 0;
					position: relative;
					z-index: 2;
				}

				&:after {
					content: '';
					display: block;
					position: absolute;
					pointer-events: none;
					background-color: $gray;
					width: 20%; height: 100%;
					z-index: 1;
					left: 0; top: 0;

				}

				&:before {
					content: '';
					display: block;
					position: absolute;
					pointer-events: none;
					background-color: $gray;
					width: 40%; height: 150%;
					z-index: 1;
					right: 33%; top: -20%;
					transform: rotate(12deg);
				}

				.title {
					color: #000;
					font-size: 48px;
					font-weight: 400;
					line-height: 68px;
					margin: 0 0 15px;

					.marked {
						font-weight: 700;
						box-shadow: 0 5px 0 $primary;
					}
				}
				.caption {
					color: #000;
					font-size: 16px;
					font-weight: 300;
					line-height: 30px;
				}
			}
			.image-side {
				position: relative;
				width: 40%;
				padding-top: 69%;
				margin: 0 0 0 auto;
				overflow: hidden;
				background-color: $gray;

				img {
					position: absolute;
					height: 100%;
					top: 0; left: 50%;
					transform: translateX(-50%);
				}
			}
			.mobile-image {
				display: none;
			}
		}
	}
	.slider-outer.owl-loaded {
		position: relative;

		.owl-item {
			transform: translateZ(0);
			font-size: 0;
		}

		.owl-nav {
			position: absolute;
			z-index: 2;
			bottom: 80px;
			max-width: 100%;
			font-size: 0;
			width: 1232px;
			left: 50%;
			transform: translateX(-50%);

			.owl-prev,
			.owl-next {
				font-size: 36px;
				display: inline-block;
				padding: 15px;
				color: #000;
				transition: color .3s;

				&:hover {
					color: $primary;
				}
				&.disabled {
					color: #b4b4b4;
				}
			}
		}
	}
}
@media (min-width: 1232px) {

	.company-slider {

		.slider-outer {

			.item {

				.image-side {
					padding-top: 780px;
				}
			}
		}
	}
}
@media (max-width: 1231px) {

	.company-slider {

		.slider-outer {

			.item {

				.image-side {
					padding-top: 712px;
				}
				.caption-side {

					&:before {
						transform: rotate(9deg);
						right: 34%;
					}

					.caption-outer {
						max-width: 60%;
					}

					.title {
						font-size: 36px;
						line-height: 48px;

						.marked {
							box-shadow: 0 3px 0 $primary;
						}
					}
				}
			}
		}
	}
	.company-slider {

		.slider-outer.owl-loaded {

			.owl-nav {
				padding: 0;
				bottom: 40px;
			}
		}
	}
}

@media (max-width: 767px) {

	.company-slider {
		background-color: $gray;

		.link-holder {
			display: block;
			padding: 0 0 40px;
		}

		.slider-outer {
			padding-bottom: 50px;
			background-color: $gray;

			.item {

				.caption-side {
					position: static;
					background-color: $gray;

					&:after {
						display: none;
					}

					&:before {
						display: none;
					}
					.caption-outer {
						max-width: none;
						padding-bottom: 20px;
					}
					.title {
						font-size: 24px;
						line-height: 38px;
					}
				}
				.image-side {
					padding-top: 56.3%;

					img {
						right: auto;
						left: 50%; height: auto;
						transform: translateX(-50%);
						width: 100%;
					}
				}
				.mobile-image {
					display: block;
					margin: 30px -15px;
				}
			}
		}
	}
	.company-slider {

		.slider-outer.owl-loaded {
			position: relative;

			.owl-dots {
				position: absolute;
				padding: 0 5px;
				left: 0;
				bottom: 20px;

				.owl-dot {

					span {
						background-color: #999;
					}
					&.active {

						span {
							background-color: $primary;
						}
					}
				}
			}
		}
	}
}
