@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon/icomoon.eot?hy00tp');
	src:  url('../fonts/icomoon/icomoon.eot?hy00tp#iefix') format('embedded-opentype'),
	url('../fonts/icomoon/icomoon.ttf?hy00tp') format('truetype'),
	url('../fonts/icomoon/icomoon.woff?hy00tp') format('woff'),
	url('../fonts/icomoon/icomoon.svg?hy00tp#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-clip:before {
	content: "\e900";
}
.icon-instagram:before {
	content: "\e901";
}
.icon-left-arrow:before {
	content: "\e902";
}
.icon-right-arrow:before {
	content: "\e938";
}
.icon-menu:before {
	content: "\e904";
}
.icon-search:before {
	content: "\e905";
}
.icon-tick:before {
	content: "\e906";
}
.icon-user:before {
	content: "\e907";
}
.icon-vk:before {
	content: "\e908";
}
.icon-close:before {
	content: "\e909";
}
.icon-home:before {
	content: "\e90a";
}
.icon-left-angle:before {
	content: "\e90b";
}
.icon-right-angle:before {
	content: "\e90c";
}
.icon-quote:before {
	content: "\e90d";
}
.icon-settings:before {
	content: "\e90e";
}
.icon-twitter:before {
	content: "\e90f";
}
.icon-odnoklassniki:before {
	content: "\e910";
}
.icon-google-plus:before {
	content: "\e911";
}
.icon-facebook:before {
	content: "\e912";
}
.icon-clock:before {
	content: "\e913";
}
.icon-phone-call:before {
	content: "\e914";
}
.icon-mail:before {
	content: "\e915";
}
.icon-remove:before {
	content: "\e916";
}
.icon-add:before {
	content: "\e917";
}
.icon-download:before {
	content: "\e918";
}
.icon-list:before {
	content: "\e919";
}
.icon-whatsapp:before {
	content: "\e91a";
}
.icon-verified:before {
	content: "\e91b";
}
.icon-minus:before {
	content: "\e91c";
}
.icon-cancel:before {
	content: "\e91d";
}
.icon-rouble:before {
	content: "\e91e";
}
.icon-login:before {
	content: "\e91f";
}
.icon-checked-list:before {
	content: "\e920";
}
.icon-book:before {
	content: "\e921";
}
.icon-discount:before {
	content: "\e922";
}
.icon-shopping-cart:before {
	content: "\e923";
}
.icon-printer:before {
	content: "\e924";
}
.icon-exclamation:before {
	content: "\e925";
}
.icon-circling-arrows:before {
	content: "\e926";
}
.icon-calendar:before {
	content: "\e927";
}
.icon-list-add:before {
	content: "\e928";
}
.icon-excel-file:before {
	content: "\e929";
}
.icon-acrobat-file:before {
	content: "\e92a";
}
.icon-edit:before {
	content: "\e92b";
}
.icon-arrow-left:before {
	content: "\e92c";
}
.icon-arrow-right:before {
	content: "\e92d";
}
.icon-edit:before {
	content: "\e92b";
}
.icon-refresh:before {
	content: "\e92c";
}
.icon-dot:before {
	content: "\e92d";
}
.icon-delivery:before {
	content: "\e92e";
}
.icon-upload:before {
	content: "\e92f";
}
.icon-star-full:before {
	content: "\e930";
}
.icon-star:before {
	content: "\e931";
}
.icon-like-hand:before {
	content: "\e932";
}
.icon-caution:before {
	content: "\e933";
}
.icon-arrow-left:before {
	content: "\e934";
}
.icon-arrow-right:before {
	content: "\e935";
}
.icon-down-arrow:before {
	content: "\e936";
}
.icon-top-arrow:before {
	content: "\e937";
}
.icon-money:before {
	content: "\e934";
}
.icon-chat:before {
	content: "\e935";
}
.icon-arrow-left:before {
	content: "\e936";
}
.icon-arrow-right:before {
	content: "\e937";
}
.icon-down-arrow:before {
	content: "\e903";
}