@import 'variables.scss';

.login-section {
	display: none;
}

@media (max-width: 767px) {

	.login-section {
		display: block;
		margin-bottom: 30px;


		.article-small {

			.caption {

				.text {

					.arrow {
						display: inline;
						margin-left: 10px;
					}
				}
			}
		}
	}
}