@import 'variables.scss';

.main-aside {
	position: fixed;
	top: 0; left: 0;
	z-index: 55;
	width: 90px;
	height: 100%;
	background-color: #fff;

	.outer {
		background-color: #fff;
		padding: 53px 26px;
		position: relative;
		z-index: 12;
		height: 100%;
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
	}

	.nav-btn {
		padding: 0;
		display: block;
		width: 100%;
		font-size: 32px;
		color: $success;

		&:hover {
			box-shadow: none;
		}

		.open-icon {
			display: none;
		}
		.close-icon {
			display: block;
		}

		&.active {

			.close-icon {
				display: none;
			}
			.open-icon {
				display: block;
			}
		}
	}
	.link {
		font-size: 36px;
		text-align: center;
		color: #999;
		transition: color .3s;
		margin: 40px 0 0;

		&:hover {
			color: $primary;
		}
	}
	.anchors-list {
		position: absolute;
		top: 50%; left: 50%;
		max-height: 38%;
		overflow: auto;
		display: block;
		transform: translate(-50%, -50%);

		.item {
			text-align: center;

			a {
				padding: 5px;
				font-size: 0;

				&:hover {

					span {
						transform: scale(2);
					}
				}
			}

			&.active {

				span {
					background-color: $success;
				}
			}

			span {
				height: 6px; width: 6px;
				background-color: #dfdfdf;
				font-size: 0;
				display: block;
			}
		}
	}
	.social-list {
		position: absolute;
		bottom: 50px; left: 50%;
		transform: translateX(-30%);
	}
}

.main-aside {

	.main-menu {
		position: absolute;
		left: 100%; top: 0;
		height: 100%; width: calc(100vw - 90px);
		z-index: 10;
		transform: translateX(-120%);
		transition: transform .3s;

		&:before {
			content: '';
			position: absolute;
			top: 0; right: 0;
			bottom: 0; left: 0;
			background: rgba(#000,.5);
			opacity: 0;
			transition: .3s;
			transition-delay: .3s;
		}

		.menu-inner {
			width: 1110px; height: 100%;
			max-width: 100%;
			box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
			background-color: #fff;
			padding: 40px 70px;
			position: relative;
			z-index: 5;
			display: block;
			overflow: auto;
		}

		&.active {
			transform: translateX(0);

			&:before {
				opacity: 1;
			}
		}

		.close-btn {
			display: none;
		}

		.top {

			.phone-link {

				.text {
					color: #000;
					font-size: 22px;
					line-height: 22px;
					font-weight: 700;
					display: inline-block;
					vertical-align: middle;
					margin-right: 28px;
				}
				.phone-icon {
					display: inline-block;
					vertical-align: middle;
					width: 48px;
					transition: opacity .3s;

					&:hover {
						opacity: .8;
					}
				}
			}
			.search-form {
				position: relative;

				.form-group {

					.input {
						background-color: $gray;
						padding: 18px 55px 18px 15px;
						height: 52px;
					}
				}
				.search-btn {
					height: 52px; width: 52px;
					padding: 0;
					text-align: center;
					color: $success;
					position: absolute;
					right: 0; top: 0;

					&:hover {
						box-shadow: none;
						color: $primary;
					}
				}
			}
		}
		.middle-nav {
			padding: 50px 0;
			border-bottom: 1px solid #ddd;

			.title {
				color: #000;
				font-size: 30px;
				font-weight: 700;
				line-height: 68px;
			}
			.nav-list {
				font-size: 0;
				margin: 0 -10px;

				.item {
					display: inline-block;
					width: 33.33%;

					a {
						color: #000;
						display: block;
						font-size: 24px;
						padding: 0 10px;
						font-weight: 300;
						line-height: 48px;
						transition: color .3s;

						&:hover {
							color: $primary;
						}
					}
				}
			}
		}
		.bottom-nav {
			padding: 50px 0 0;

			.list-title {
				color: #000;
				font-size: 18px;
				line-height: 36px;
				font-weight: 700;
				margin: 0 0 15px;
			}
			.menu-list {

				.item {

					a {
						color: #000;
						font-size: 18px;
						font-weight: 300;
						line-height: 36px;
						display: block;
						transition: color .3s;

						&:hover {
							color: $primary;
						}
					}
				}
				&.bold {

					.item {

						a {
							font-weight: 700;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 1231px) {

	.main-aside {
		display: none;
	}
}